.overlay
{
    position: fixed;
    top:0;
    left:0;
    bottom: 0;
    right: 0;
    background-color: #32323252;
     backdrop-filter: blur(12px);
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container
{
    background-color: #014040;
    padding: 2rem 3rem 3rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border:.6rem solid #03A678;
    border-radius: 2.5rem;
    position: relative;
    width: 40rem;
}
.containerWidth{
    width: 60rem;
}
.back
{
    position: absolute;
    top:2.2rem;
    left:1.5rem;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
}
.backSVG
{
     width: 100%;
    height: 100%;
    fill: rgb(108, 108, 108);
    transition:fill .3s ease
}
.backWhileLoading
{
    cursor: default;
}
.backWhileLoading>.backSVG
{
    fill: rgb(90, 90, 90) !important;
}
.header
{
    width: 100%;
    text-align: center;
    color: white;
    font-weight: 900;
    font-family: "Cause", cursive;
    font-size: 3rem;
    cursor: default;
    margin-bottom: 1.5rem;
}
.inputContainer{
    margin: 0;
}
.visibilityContainer
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:1rem;
    margin: 1.5rem 0 1.8rem 0;
}
.visibilityHeader
{
    width: 100%;
    color: white;
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
    font-family: "Cause", cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:.4rem;
    cursor: default;
}
.info
{
    color: white;
    width: 1.5rem;
    height: 1.5rem;
    padding: .5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 900;
    border:.2rem solid white;
    translate: 0 -25%;
    font-family: "Jost", sans-serif;
    position: relative;
    cursor: default;
    z-index: 2;
}
.info:hover>.explanationContainer
{
    display: flex;
}
.explanationContainer
{
    position: absolute;
    display: none;
    left:0rem;
    top:-1.5rem;
    width: 14rem;
    justify-content: flex-end; 
}
.infoContainer
{
    width: 12rem;
    padding: .3rem;
    border-radius: 1rem;
    border:.3rem solid #03A678;
    background: #02735E;
    font-size: .9rem;
    font-weight: 400;
}
.visibilityBtn
{
    font-size: 1.8rem;
    color: white;
    padding: .5rem .8rem;
    background: rgb(91, 91, 91);
    outline: none;
    border:0;
    border-radius: 1rem;
    font-family: "Jost", sans-serif;
    font-weight: 700;
    cursor: pointer;
    transition: background .3s ease;
}
.selectedBtn
{
    background: #02735E;
}
.passwordContainer
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:1.5rem .8rem;
    width: 100%;
    margin-bottom: 1rem;
}
.checkbox
{
    width: 2rem;
    height: 2rem;
    border-radius: .7rem;
    border: .3rem solid rgb(105, 105, 105);
    cursor: pointer;
    transition: all .3s ease;
    background: rgb(64, 64, 64);
}
.checkboxChecked
{
    background: #02735E;
    border: .3rem solid #03A678;
}
.checkboxDescription
{
    font-size: 1.5rem;
    color: white;
    font-family: "Jost", sans-serif;
    cursor: pointer;
}
.create
{
    width: 100%;
    font-size: 1.8rem;
    color: white;
    background: #02735E;
    border-radius: 1.2rem;
    font-weight: 900;
    border: .3rem solid #03A678;
    padding: .5rem .8rem .6rem .8rem;
    cursor: pointer;
    transition: all .3s ease, border .3s ease;
    z-index: 3;
    outline: none;
    margin-top: 1rem;
}
.passwordDisabled
{
    cursor: default !important;
    color: grey;
}
.eyeDisabled
{
    cursor: default;
}
.inputContainerDisabled
{
    border:.3rem solid rgb(103, 103, 103) !important;
    cursor: default !important;
}
.btnLoading
{
    background-color: rgb(48, 48, 48) !important;
    border: .3rem solid rgb(48, 48, 48) !important;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
}
.error
{
    width: 100%;
    color: #fc3333;
    font-weight: 700;
    font-family: "Jost", sans-serif;
    font-size: 1.5rem;
    text-align: center;
    cursor: default;
}
.code
{
    font-size: 4.5rem;
    color: white;
    text-shadow: .25rem .2rem 0rem #F27405;
    font-weight: 900;
    letter-spacing: .1rem;
    font-family: "Cause", cursive;
    margin-bottom: .8rem;
}
.link
{
    color: white;
    font-weight: 700;
    font-size: 1.6rem;
    cursor: pointer;
    display: flex;
    gap:.6rem;
    align-items: center;
    font-family: "Cause", cursive;
    text-shadow: .1rem .1rem 0rem #F27405;
}
.copyContainer
{
    width: 1.5rem;
    height: 1.5rem;
    position: relative;
}
.copyIcon
{
    fill: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    transition: fill .3s ease;
}
.copySuccessInfo
{
    position: absolute;
    left:50%;
    top:-3.5rem;
    translate: -50% 0%;
    font-size: 1.5rem;
    padding: .3rem .5rem;
    border-radius: .5rem;
    background-color: #F27405;
    opacity: 0;
    transition: opacity .3s ease;
    cursor: default;
}
.triangle
{
    position: absolute;
    bottom:-.7rem;
    left:50%;
    translate: -50% 0%;
    width: 0; 
    height: 0; 
    border-right: 0.8rem solid transparent;
    border-left: .8rem solid transparent; 
    border-top:.8rem solid #F27405; 
}
.showCopyInfo
{
    opacity: 1;
}
.joinBtn
{
    width: 50%;
    font-size: 1.8rem;
    color: white;
    background: #02735E;
    border-radius: 1.2rem;
    font-weight: 900;
    border: .4rem solid #03A678;
    padding: .5rem .8rem .6rem .8rem;
    cursor: pointer;
    transition: background .3s ease, border .3s ease;
    z-index: 3;
    outline: none;
    margin-top: 2.5rem;
}
.error::selection,
.joinBtn::selection,
.create::selection,
.visibilityBtn::selection,
.visibilityHeader::selection,
.info::selection,
.copySuccessInfo::selection,
.checkboxDescription::selection,
.codeDescription::selection,
.header::selection
{
    background: none;
}
@media (max-width:1200px)
{
    .container
    {
        width: 42rem;
    }
    .header
    {
        font-size: 3.2rem;
        margin-bottom: 2rem;
    }
    .back
    {
        top:2.5rem;
    }
    .visibilityContainer
    {
        margin: 1.8rem 0 2rem 0;
    }
    .visibilityHeader
    {
        font-size: 2.2rem;
        gap:.5rem;
    }
    .info
    {
        width: 1.8rem;
        height: 1.8rem;
        font-size: 1.2rem;
    }
    .infoContainer
    {
        padding: .4rem;
        font-size: .95rem;
    }
    .visibilityBtn
    {
        font-size: 2rem;
        padding: .6rem 1rem;
        border-radius: 1.2rem;
    }
    .passwordContainer
    {
        gap:2rem .8rem;
        margin-bottom: 1.5rem;
    }
    .checkbox
    {
        width: 2.2rem;
        height: 2.2rem;
        border-radius: .8rem;
        border: .35rem solid rgb(105, 105, 105);
    }
    .checkboxChecked
    {
        border: .35rem solid #03A678;
    }
    .checkboxDescription
    {
        font-size: 1.7rem;
    }
    .create
    {
        font-size: 2rem;
        border: .35rem solid #03A678;
        margin-top: 1.5rem;
    }
    
    .error
    {
        font-size: 1.7rem;
    }
    .containerWidth{
        width: 65rem;
    }
    .code
    {
        font-size: 4.7rem;
        text-shadow: .3rem .25rem 0rem #F27405;
        letter-spacing: .2rem;
        margin-bottom: 1rem;
    }
    .link
    {
        font-size: 1.7rem;
        gap:.7rem;
        text-shadow: .12rem .12rem 0rem #F27405;
    }
    .copyContainer
    {
        width: 1.7rem;
        height: 1.7rem;
    }
    .joinBtn
    {
        font-size: 2rem;
        border-radius: 1.2rem;
        margin-top: 3rem;
    }
    .inputContainerDisabled
    {
        border:.35rem solid rgb(103, 103, 103) !important;
    }
    .btnLoading
    {
        border: .4rem solid rgb(48, 48, 48) !important;
    }
}
@media(max-width:768px)
{
    .overlay
    {
        background-color: #3232328a;
    }
    .container
    {
        padding: 3rem 5rem 5rem 5rem;
        border:1rem solid #03A678;
        border-radius: 3.5rem;
        width: 75rem;
    }
    .containerWidth{
        width: 75rem;
    }
    .back
    {
        top:3.5rem;
        left:3rem;
        width: 5rem;
        height: 5rem;
    }
    .header
    {
        font-size: 5rem;
        margin-bottom: 3.5rem;
    }
    .inputContainer{
        margin: 0;
    }
    .visibilityContainer
    {
        gap:1.5rem 2rem;
        margin: 3rem 0 4rem 0;
    }
    .visibilityHeader
    {
        font-size: 3.8rem;
        gap:.8rem;
    }
    .info
    {
        width: 2.8rem;
        height: 2.8rem;
        font-size: 2rem;
        border:.4rem solid white;
    }
    .explanationContainer
    {
        left:-43rem;
        top:5rem;
        width: 60rem;
        justify-content: flex-end;
    }
    .infoContainer
    {
        width: 52rem;
        padding: 1.2rem;
        border-radius: 2rem;
        border:.6rem solid #03A678;
        font-size: 2.5rem;
        box-shadow: 0 0 2rem 1rem rgba(0, 0, 0, 0.597);
    }
    .visibilityBtn
    {
        font-size: 3.5rem;
        padding: .7rem 1.5rem .9rem 1.5rem;
        border-radius: 2rem;
    }
    .passwordContainer
    {
        gap:3rem 1.5rem;
        width: 100%;
        margin-bottom: 2.5rem;
    }
    .checkbox
    {
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 1.2rem;
        border: .6rem solid rgb(105, 105, 105);
    }
    .checkboxChecked
    {
        border: .6rem solid #03A678;
    }
    .checkboxDescription
    {
        font-size: 2.8rem;
    }
    .create
    {
        font-size: 3.5rem;
        border-radius: 2.5rem;
        border: .7rem solid #03A678;
        padding: 1rem .8rem 1.3rem .8rem;
        margin-top: 2.5rem;
    }
    .inputContainerDisabled
    {
        border:.7rem solid rgb(103, 103, 103) !important;
    }
    .btnLoading
    {
        border: .7rem solid rgb(48, 48, 48) !important;
    }
    .error
    {
        font-size: 3rem;
    }
    .loading
    {
        transform: scale(2) !important;
    }

    .code
    {
        font-size: 8rem;
        text-shadow: .4rem .35rem 0rem #F27405;
        letter-spacing: .2rem;
        margin-bottom: 3rem;
    }
    .copyLinkBtn
    {
        width: 60%;
        font-size: 3.5rem;
        color: white;
        background: #d06305;
        border-radius: 2rem;
        font-weight: 900;
        padding: .7rem 4rem .8rem 4rem;
        border: 0;
        outline: none;
        position: relative;

    }
    .copySuccessInfo
    {
        top:-7rem;
        font-size: 2.8rem;
        padding: .5rem 2rem;
        border-radius: 1.5rem;
        box-shadow: 0 0 2rem 1rem rgba(0, 0, 0, 0.523);
    }
    .triangle
    {
        bottom:-1.2rem;
        border-right: 1.5rem solid transparent;
        border-left: 1.5rem solid transparent; 
        border-top:1.5rem solid #F27405; 
    }
    .joinBtn
    {
        width: 80%;
        font-size: 3.5rem;
        border-radius: 2.5rem;
        border: .7rem solid #03A678;
        padding: 1rem .8rem 1.3rem .8rem;
        margin-top: 6rem;
    }
}
@media(max-width:450px)
{
    .overlay
    {
        background-color: #252525a9;
    }
    .container
    {
        padding: 3rem 3rem 5rem 3rem;
        border-radius: 5rem;
        width: 92vw;

        border:1rem solid #03A678;
    }
    .containerWidth{
        width: 92vw;
    }
    .back
    {
        top:5rem;
        left:3rem;
        width: 5rem;
        height: 5rem;
    }
    .header
    {
        font-size: 6.5rem;
        padding: 0 3rem;
        margin-bottom: 4rem;
        text-shadow: -.5rem .3rem 0 #03A678;
    }
    .inputContainer{
        margin:0;
    }
    .visibilityContainer
    {
        gap:3rem 2rem;
        margin: 4rem 0 5rem 0;
    }
    .visibilityHeader
    {
        font-size: 5rem;
        gap:1.2rem;
    }
    .info
    {
        width: 3.8rem;
        height: 3.8rem;
        font-size: 2.5rem;
        border:.5rem solid white;
    }
    .explanationContainer
    {
        left:-40rem;
        top:7rem;
        width: 83vw;
        justify-content: center;
    }
    .infoContainer
    {
        width: 75vw;
        padding: 1.2rem;
        border-radius: 3rem;
        border:.8rem solid #03A678;
        font-size: 2.8rem;
        box-shadow: 0 0 2rem 1rem rgba(0, 0, 0, 0.597);
    }
    .visibilityBtn
    {
        font-size: 4.2rem;
        padding: .8rem 2.5rem 1.1rem 2.5rem;
        border-radius: 2.5rem;
    }
    .passwordContainer
    {
        gap:4rem 1.5rem;
        width: 100%;
        margin-bottom: 3rem;
    }
    .checkbox
    {
        width: 4.5rem;
        height: 4.5rem;
        border-radius: 1.8rem;
        border: .7rem solid rgb(105, 105, 105);
    }
    .checkboxChecked
    {
        border: .7rem solid #03A678;
    }
    .checkboxDescription
    {
        font-size: 2.9rem;
        font-weight: 700;
    }
    .create
    {
        font-size: 4.5rem;
        border-radius: 3rem;
        border: 1rem solid #03A678;
        padding: 2rem .8rem 2.5rem .8rem;
        margin-top: 3rem;
    }
    .inputContainerDisabled
    {
        border:.9rem solid rgb(103, 103, 103) !important;
    }
    .btnLoading
    {
        border: 1rem solid rgb(48, 48, 48) !important;
    }
    .error
    {
        font-size: 4rem;
    }
    .code
    {
        font-size: 9rem;
        text-shadow: none;
        color: #F27405;
        margin-bottom: 3rem;
    }
    .copyLinkBtn
    {
        width: auto;
        font-size: 5rem;
        border-radius: 2.5rem;
        padding: .6rem 5rem 1.2rem 5rem;

    }
    .copySuccessInfo
    {
        top:-9.5rem;
        font-size: 3.8rem;
        padding: .6rem 2.5rem 1rem 2.5rem;
        border-radius: 2rem;
        box-shadow: 0 0 3rem 1rem rgba(0, 0, 0, 0.523);
    }
    .triangle
    {
        bottom:-1.8rem;
        border-right: 2rem solid transparent;
        border-left: 2rem solid transparent; 
        border-top:2rem solid #F27405; 
    }
    .joinBtn
    {
        width: 100%;
        font-size: 4.2rem;
        border-radius: 3rem;
        border: 1rem solid #03A678;
        padding: 2rem .8rem 2.5rem .8rem;
        margin-top: 7rem;
    }
}
@media (hover:hover) and (pointer:fine)
{
    .back:hover>.backSVG
    {
        fill: #cdcdcd;
    }
    .visibilityBtn:hover
    {
        background:rgb(105, 105, 105);
    }
    .selectedBtn:hover
    {
        background: #02735E;
    }
    .create:hover
    {
        background: #F27405;
        border: .3rem solid #F27405;
    }
    .copyContainer:hover>.copyIcon
    {
        fill: #F27405;
    }
    .joinBtn:hover
    {
        background: #F27405;
        border: .4rem solid #F27405;
    }
    @media (max-width:1200px)
    {
        .create:hover
        {
            background: #F27405;
            border: .35rem solid #F27405;
        }
    }
}