.container
{
    width: 100%;
    color: white;
    display: flex;
    gap:.8rem;
    background: #0f836d;
    padding: .5rem .8rem;
    border-radius: .8rem;
    align-items: center;
    transition: background .3s ease;
    position: relative;
    height: 3.5rem;
    justify-content: space-between;
    cursor: pointer;
}
.title
{
    font-weight: 700;
    align-items: center;
    font-size: 1.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-width: 0;
    max-width: 80%;
}
.code
{
    font-size: 1.4rem;
    font-weight: 900;
    display: flex;
    justify-content: center;
    font-family: "Cause", cursive;
    align-items: center;
    text-align: center;
}
.title::selection,
.code::selection
{
    background: none;
}
@media (max-width:1200px)
{
    .container
    {
        padding: .5rem 1rem;
        height: 3.7rem;
        border-radius: 1.2rem;
    }
    .title
    {
        font-size: 1.5rem;
    }
    .code
    {
         font-size: 1.5rem;
    }
}
@media (max-width:768px)
{
    .container
    {
        gap:2rem;
        background: #0f836d;
        padding: .5rem 2rem;
        border-radius: 2.2rem;
        height: 6rem;
    }
    .title
    {
        font-size: 2.4rem;
        max-width: 80%;
    }
    .code
    {
        font-size: 2.5rem;
    }
}
@media (hover:hover) and (pointer:fine)
{
    .container:hover
    {
        background: #25917d;
    }
}