.container
{
    position: absolute;
    bottom: 0;
    height: 35rem;
    left:0rem;
    right: 0rem;
    background-color: #02735E;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    transform: translate(0,100%);
    transition: transform .5s ease;
    z-index: 2;
}
.display
{
    transform: translate(0,0);
}
.arrowContainer
{
    width: 10rem;
    height: 3rem;
    background-color: #02735E;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    position: absolute;
    top:-3rem;
    left:50%;
    translate: -50% 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.arrow
{
    width: 2.5rem;
    height: 2.5rem;
    fill: rgb(160, 160, 160);
    rotate: 90deg;
    transition: transform .5s ease, fill .3s ease;
}
.arrowContainer:hover>.arrow
{
    fill: white;
}
.arrowRotated
{
    transform: rotate(180deg);
}