.container
{
    position: absolute;
    bottom: 0;
    height: 60vh;
    left:0rem;
    right: 0rem;
    background: #02735E;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    transform: translate(0,100%);
    transition: transform .5s ease;
    z-index: 2;
    padding: 2rem 1.5rem;
    display: flex;
    gap:1.5rem;
    justify-content: center;
    align-items: center;
}
.display
{
    transform: translate(0,0);
}
.arrowContainer
{
    width: 3rem;
    height: 3rem;
    position: absolute;
    top:-3rem;
    left:50%;
    translate: -50% 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.arrow
{
    width: 2.5rem;
    height: 2.5rem;
    fill: white;
    rotate: 90deg;
    transition: transform .5s ease, fill .3s ease;
}
.arrowRotated
{
    transform: rotate(180deg);
}
.section
{
    height: 100%;
    width: calc(50% - 1.8rem);
    display: flex;
    gap:2rem;
    flex-direction: column;
    align-items: center;
}
.line
{
    height: 80%;
    margin-top: 4.5%;
    width: .3rem;
    background-color: rgb(167, 167, 167);
    border-radius: 10px;
}
.section>h2
{
    font-size: 2rem;
    color: white;
    font-weight: 900;
    width: 100%;
    text-align: center;
    font-family: "Cause", cursive;
    cursor: default;
    text-shadow: -.15rem .15rem 0 #03A678;
}
.section>h2::selection
{
    background: none;
}
.notesContainer
{
    width: 100%;
    height: 100%;
    overflow: auto;
    padding:0 .8rem;
}
.notesContainer::-webkit-scrollbar
{
    width: .5rem;
    height: 0;
}
.notesContainer::-webkit-scrollbar-thumb
{
    background-color: #03A678;
    border-radius: 10px;
}
.loadingContainer
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loading
{
    width: 10rem;
    height: 10rem;
}
.errorContainer
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap:1rem;
    align-items: center;
    justify-content: center;
}
.errorIcon
{
    width: 8rem;
    height:8rem;
}
.errorHeader
{
    font-size: 1.8rem;
    font-weight: 700;
    color: white;
    font-family: "Jost", sans-serif;
}
.noneNotesContainer
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:1rem;
}
.noteIcon
{
    width: 5rem;
    height: 5rem;
}
.noneNotesHeader
{
    font-size: 1.2rem;
    color: white;
    font-weight: 700;
}
.list
{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap:1rem;
}
@media (max-width:1200px)
{
    .section>h2
    {
         font-size: 2.2rem;
        text-shadow: -.25rem .2rem 0 #03A678;
    }
    .errorHeader{
        font-size: 2rem;
    }
}
@media (max-width:768px)
{
    .container
    {
        height: 70vh;
        /* border-top-left-radius: 2rem;
        border-top-right-radius: 2rem;
        padding: 2rem 1.5rem;
        gap:1.5rem; */
    }
    .arrowContainer
    {
        width: 6rem;
        height: 6rem;
        top:-6rem;
    }
    .arrow
    {
        width: 6rem;
        height: 6rem;
    }
    .arrowRotated
    {
        transform: rotate(180deg) scale(0.6);
    }
}