.borderBgRed1
{
  border-color: rgb(113, 0, 0);
 
}
.borderBgRed2
{
  border-color: rgb(189, 0, 0);
}
.borderBgRed3
{
  border-color: rgb(255, 0, 0);
}
.borderBgRed4
{
  border-color: rgb(252, 29, 29);
}
.borderBgRed5
{
  border-color: rgb(253, 77, 77);
}
.borderBgRed6
{
  border-color: rgb(249, 136, 136);
}
.borderBgOrange1
{
  border-color: rgb(142, 92, 0);
}
.borderBgOrange2
{
  border-color: rgb(199, 129, 0);
}
.borderBgOrange3
{
  border-color: rgb(255, 166, 0);
}
.borderBgOrange4
{
  border-color: rgb(253, 180, 43);
}
.borderBgOrange5
{
  border-color: rgb(255, 190, 69);
}
.borderBgOrange6
{
  border-color: rgb(247, 198, 105);
}
.borderBgYellow1
{
  border-color: rgb(105, 105, 0);
}
.borderBgYellow2
{
  border-color: rgb(179, 179, 0);
}
.borderBgYellow3
{
  border-color: rgb(255, 255, 0);
}
.borderBgYellow4
{
  border-color: rgb(255, 255, 63);
}
.borderBgYellow5
{
  border-color: rgb(249, 249, 91);
}
.borderBgYellow6
{
  border-color: rgb(248, 248, 131);
}
.borderBgGreen1
{
  border-color: rgb(0, 65, 0);
}
.borderBgGreen2
{
  border-color: rgb(0, 131, 0);
}
.borderBgGreen3
{
  border-color: rgb(0, 255, 0);
}
.borderBgGreen4
{
  border-color: rgb(71, 249, 71);
}
.borderBgGreen5
{
  border-color: rgb(139, 255, 139);
}
.borderBgGreen6
{
  border-color: rgb(150, 255, 150);
}
.borderBgBlue1
{
  border-color: rgb(0, 0, 110);
}
.borderBgBlue2
{
  border-color: rgb(0, 0, 169);
}
.borderBgBlue3
{
  border-color: rgb(0, 0, 255);
}
.borderBgBlue4
{
  border-color: rgb(40, 40, 255);
}
.borderBgBlue5
{
  border-color: rgb(77, 77, 255);
}
.borderBgBlue6
{
  border-color: rgb(133, 133, 250);
}
.borderBgPink1
{
  border-color: rgb(100, 0, 88);
}
.borderBgPink2
{
  border-color: rgb(154, 0, 136);
}
.borderBgPink3
{
  border-color: rgb(255, 0, 225);
}
.borderBgPink4
{
  border-color: rgb(237, 54, 253);
}
.borderBgPink5
{
  border-color: rgb(255, 112, 238);
}
.borderBgPink6
{
  border-color: rgb(250, 133, 236);
}
.borderBgBlack1
{
  border-color: black;
}
.borderBgBlack2
{
  border-color: rgb(54, 54, 54);
}
.borderBgBlack3
{
  border-color: rgb(148, 148, 148);
}
.borderBgBlack4
{
  border-color: rgb(192, 192, 192);
}
.borderBgBlack5
{
  border-color: rgb(255, 255, 255);
}
.borderBgBlack6
{
      border-color: rgb(65, 65, 65);
}