.container
{
    position: fixed;
    bottom: 2rem;
    left:50%;
    translate: -50% 0;
    height: 3.8rem;
    padding: .3rem .5rem;
    background-color: rgb(76, 76, 76);
    border-radius: 1rem;
    transform: translate(0,300%);
    transition: all .5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:.8rem;
    color: white;
}
.display
{
    transform: translate(0,0);
}
.item
{
    width: 2.5rem;
    height: 2.5rem;
    background-color: rgb(117, 117, 117);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    cursor: pointer;
    transition: all .3s ease;
    position: relative;
}
.item:hover
{
    background-color: rgb(146, 146, 146);
}
.line
{
    width: .3rem;
    height: 80%;
    background-color: rgb(117, 117, 117);
    border-radius: 10px;
}
.deleteSVG
{
    fill: rgb(255, 0, 0);
    width: 55%;
    height: 55%;
    transition: fill .3s ease;
}
.deleteItem
{
    border-radius: 50%;
}
.deleteItem:hover>.deleteSVG
{
    fill: red;
}
.colorPreview
{
    width: 1.6rem;
    height: 1.6rem;
    border-radius: .5rem;
    border-style: solid;
    border-width: .25rem;
}
.widthMenu
{
    width: 8rem;
    bottom: 3.3rem;
    left:50%;
    translate: -50% 0;
    background-color: rgb(76, 76, 76);
    position: absolute;
    border-radius: .5rem;
    overflow: hidden;
}
.borderWidthPreview
{
    width: 70%;
    height: .5rem;
    border-radius: 10px;
    background-color: rgb(76, 76, 76);
}
.borderWidthOption
{
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 .5rem;
    font-size: 1rem;
    font-weight: 700;
}
.borderWidthOption:hover
{
    background-color: rgb(117, 117, 117);
}
.width6
{
    width: 100%;
    height: 1rem;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}
.width5
{
    width: 100%;
    height: .8rem;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}
.width4
{
    width: 100%;
    height: .6rem;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}
.width3
{
    width: 100%;
    height: .4rem;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}
.width2
{
    width: 100%;
    height: .2rem;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}
.selected
{
    background-color: rgb(146, 146, 146) !important;
    cursor: default;
}
.cornerItem,
.borderWidth,
.borderColor
{
    position: relative;
}
.cornerMenu
{
    bottom: 3.3rem;
    left: 50%;
    translate: -50% 0;
    background-color: rgb(76, 76, 76);
    position: absolute;
    border-radius: .5rem;
    overflow: hidden;
    display: flex;
}
.cornerMenuItem
{
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.cornerMenuItem:hover
{
    background-color: rgb(117, 117, 117);
}
.borderRadiusIconsColor
{
    border-color: rgb(76, 76, 76) !important;
}