.container
{
    position: fixed;
    bottom: 2rem;
    left:50%;
    translate: -50% 0;
    height: 3.8rem;
    padding: .3rem .5rem;
    background-color: rgb(76, 76, 76);
    border-radius: 1rem;
    transform: translate(0,300%);
    transition: all .5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:.8rem;
    color: white;
}
.display
{
    transform: translate(0,0);
}
.item
{
    width: 2.5rem;
    height: 2.5rem;
    background-color: rgb(117, 117, 117);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    cursor: pointer;
    transition: all .3s ease;
    position: relative;
}
.item:hover
{
    background-color: rgb(146, 146, 146);
}
.line
{
    width: .3rem;
    height: 80%;
    background-color: rgb(117, 117, 117);
    border-radius: 10px;
}
.deleteSVG
{
    fill: rgb(255, 0, 0);
    width: 55%;
    height: 55%;
    transition: fill .3s ease;
}
.deleteItem
{
    border-radius: 50%;
}
.deleteItem:hover>.deleteSVG
{
    fill: red;
}
.colorPreview
{
    width: 1.6rem;
    height: 1.6rem;
    border-radius: .5rem;
    border-style: solid;
    border-width: .25rem;
}
.widthMenu
{
    width: 8rem;
    height: 10rem;
    bottom: 3.3rem;
    left:50%;
    translate: -50% 0;
    background-color: rgb(76, 76, 76);
    position: absolute;
    border-radius: .5rem;
    padding: .2rem;
}