.main
{
    width: 100%;
    height: 100svh;
    position: relative;
    overflow: hidden;
    background-color: #014040;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:10rem 1fr;
    align-items: center;
    justify-items: center;
}
.logo
{
    height: 7rem;
    grid-row: 1/2;
    grid-column: 1/3;
}
.section
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 3rem;
}
.photoContainer
{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-items: center;
    align-items: center;
}
.userImgContainer
{
    width: 15rem;
    height: 15rem;
    border: .8rem solid #02735E;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: border .3s ease;
    cursor: pointer;
    margin-bottom: 1.2rem;
}
.userImgContainer>img
{
    width: 100%;
}
.imageOverlay
{
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.603);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    border-radius: 50%;
    opacity: 0;
    transition: all .3s ease;
}

.imageLoading
{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #014040;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity .5s ease;
}
.imageLoadingHidden
{
    opacity: 0;
}
.loadingIcon
{
    width: 80%;
    height: 80%;
}
.changePhoto
{
    margin-top: 1.2rem;
    margin-bottom: 2.5rem;
    font-size: 2.4rem;
    color: white;
    padding: 1rem 2.5rem;
    background: #02735E;
    font-weight: 900;
    border: 0;
    outline: none;
    border-radius: 1.2rem;
    cursor: pointer;
    transition: all .3s ease;
    font-family: "Cause", cursive;
    position: relative;
}
.inputFile
{
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    opacity: 0;
    cursor: pointer;
}
.nameContainer
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap:2.5rem 0;
}
.nameInputContainer
{
    width: 92%;
}
.confirm
{
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}
.checkMarkIcon
{
    width: 100%;
    height: 100%;
    fill: rgb(196, 196, 196);
    transition: fill .3s ease;
}

.btn
{
    width: 100%;
    font-size: 2.0rem;
    font-weight: 900;
    color: white;
    padding: 1rem 1rem;
    outline: none;
    border: 0;
    border-radius: 1.5rem;
    cursor: pointer;
    transition: all .3s ease;
    font-family: "Jost", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:.5rem;
}
.logoutBtn,
.resetBtn
{
    background: #02735E;
    border: .4rem solid #03A678;
}
.resetBtn
{
    margin-top: 3rem;
}
.logoutBtn
{
    margin: 3rem 0;
}
.deleteBtn
{
    background: rgb(175, 45, 45);
    border: .4rem solid rgb(255, 0, 0);
}
.logoutIcon
{
    width: 2.5rem;
    height: 2.5rem;
}
.error
{
    width: 100%;
    color: #fc3333;
    font-weight: 700;
    font-family: "Jost", sans-serif;
    font-size: 1.6rem;
    text-align: center;
    cursor: default;
}
.loadingContainer
{
    width: 100%;
    height: 100%;
    grid-row: 2/3;
    grid-column: 1/3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:1rem;
}
.pageLoading
{
    width: 6rem;
    height: 6rem;
}
.errorIcon
{
    width: 6rem;
    height: 6rem;
}
.errorHeader
{
    color: white;
    font-size: 2rem;
    font-weight: 900;
}
.checkMarkLoading
{
    width: 100%;
    height: 100%;
}
.confirmWhileLoading{
    cursor: default;
}
.back
{
    position: absolute;
    top:1.5rem;
    left:1.2rem;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.backSVG
{
    width: 100%;
    height: 100%;
    fill: rgb(143, 143, 143);
    transition:fill .3s ease
}
.backWhileLoading
{
    cursor: default;
}
.backWhileLoading>.backSVG
{
    fill: rgb(75, 75, 75) !important;
}
.email
{
    max-width: 40rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    font-size: 2rem;
    font-weight: 900;
    color: rgb(189, 189, 189);
    font-family: "Jost", sans-serif;
    cursor: default;
}
.messageContainer
{
    position: absolute;
    right: 3rem;
    bottom: 1rem;
    width: 35rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    z-index: 2;
}
.message
{
    transform: translate(35rem,0);
    transition: transform .3s ease;
    display: grid;
    grid-template-columns: 1.7rem auto 1.6rem;
    width: max-content;
    max-width: 35rem;
    padding: .4rem .3rem .6rem .5rem;
    grid-template-rows: 1fr;
    background-color: rgb(76, 76, 76);
    border-radius: .8rem;
    position: relative;
    overflow: hidden;
    gap:.4em;
    justify-items: center;
    align-items: center;
}
.displayMessage
{
    transform: translate(0,0);
}
.text
{
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 700;
    font-family: "Jost", sans-serif;
}
.icon
{
    margin-right: .15rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.close
{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.close>svg>path
{
    fill: rgb(174, 174, 174);
    transition: fill .3s ease;
}
.progress
{
    position: absolute;
    bottom: 0;
    left:0;
    right: 0;
    height: .25rem;
    border-radius: 10px;
    
}
.progressFill
{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    width: 0%;
    transition: width 3s linear .3s;
    border-radius: 10px;
    background-color: #F27405;
}
.progressFilled
{
    width: 100%;
}
.resetPasswordLoading
{
    width: 2.9rem;
    height: 2.9rem;
    transform: scale(1.5);
}
.error::selection,
.btn::selection,
.email::selection,
.changePhoto::selection
{
    background: none;
}
.btnWhileLoading,
.btnWhileLoading:hover
{
    background: rgb(53, 53, 53);
    cursor: default;
    border:.4rem solid rgb(53, 53, 53);
}
@media(max-width:1200px)
{
    .logo
    {
        height: 8rem;
    }
    .back
    {
        top:1.7rem;
        width: 2.8rem;
        height: 2.8rem;
    }
    .userImgContainer
    {
        width: 16rem;
        height: 16rem;
        border: .9rem solid #02735E;
        margin-bottom: 1.4rem;
    }
    .changePhoto
    {
        margin-top: 1.4rem;
        margin-bottom: 3rem;
        font-size: 2.6rem;
        border-radius: 1.4rem;
    }
    .email
    {
       font-size: 2.2rem;
    }
    .nameInputContainer
    {
        width: 92%;
    }
    .confirm
    {
        width: 2.3rem;
        height: 2.3rem;
    }
    .btn
    {
        font-size: 2.2rem;
    }
    .logoutIcon
    {
        width: 2.7rem;
        height: 2.7rem;
    }
    .error
    {
        font-size: 1.8rem;
    }
    .nameContainer
    {
        gap: 3rem 0;
    }
    .messageContainer
    {
        width: 40rem;
    }
    .message
    {
        grid-template-columns: 1.7rem auto 1.6rem;
        max-width: 40rem;
    }
    .text
    {
        font-size: 1.3rem;
    }
    .loadingContainer
    {
        gap:2rem;
    }
    .errorIcon
    {
        width: 8rem;
        height: 8rem;
    }
    .errorHeader
    {
        font-size: 2.2rem;
    }
}
@media(max-width:768px)
{
    .main
    {
        grid-template-columns: 1fr;
        grid-template-rows: 12rem auto auto;
        gap:3rem;
        padding: 2rem 3rem 5rem 3rem;
        min-height: 100svh;
        height: 100%;
    }
    .logo
    {
        height: 10rem;
        grid-column: 1/2;
    }
    .section
    {
        padding: 0;
        height: auto;
    }
    .userImgContainer
    {
        width: 20rem;
        height: 20rem;
        border: 1rem solid #02735E;
        margin-bottom: 1.5rem;
    }
    .changePhoto
    {
        margin-top: 1.5rem;
        margin-bottom: 2.5rem;
        font-size: 3.5rem;
        padding: 1.5rem 3rem;
        border-radius: 2rem;
    }
    .nameContainer
    {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap:1rem 0;
    }
    .nameInputContainer
    {
        width: 88%;
    }
    .confirm
    {
        width: 6rem;
        height: 6rem;
    }
    .btn
    {
        font-size: 3rem;
        padding: 2rem;
        border-radius: 2.5rem;
        gap:1rem;
    }
    .logoutBtn,
    .resetBtn
    {
        background: #02735E;
        border: .8rem solid #03A678;
    }
    .resetBtn
    {
        margin-top: 2.8rem;
    }
    .logoutBtn
    {
        margin: 2.8rem 0;
    }
    .deleteBtn
    {
        border: .8rem solid rgb(255, 0, 0);
    }
    .logoutIcon
    {
        width: 4rem;
        height: 4rem;
    }
    .error
    {
        font-size: 3rem;
    }
    .loadingContainer
    {
        grid-row: 2/4;
        grid-column: 1/2;
        gap:3rem;
    }
    .pageLoading
    {
        width: 18rem;
        height: 18rem;
    }
    .errorIcon
    {
        width: 16rem;
        height: 16rem;
    }
    .errorHeader
    {
        font-size: 3rem;
    }
    .back
    {
        position: fixed;
        top:5.5rem;
        left:3rem;
        width: 5rem;
        height: 5rem;
    }
    .email
    {
        width: 100%;
        max-width: 100%;
        font-size: 3.5rem;
    }
    .btnWhileLoading,
    .btnWhileLoading:hover
    {
        background: rgb(53, 53, 53);
        border:.8rem solid rgb(53, 53, 53);
    }
    .resetPasswordLoading
    {
        width: 4rem;
        height: 4rem;
        transform: scale(2.5);
    }
    .messageContainer
    {
        position: fixed;
        right: 0rem;
        left: 0;
        bottom: 0rem;
        width:100%;
    }
    .message
    {
        transform: translate(0,100%);
        display: flex;
        justify-content: center;
        width: 100%;
        max-width: 100%;
        padding: 1.5rem 3rem 2.2rem 3rem;
        border-radius: 0;
        gap:1em;
    }
    .displayMessage
    {
        transform: translate(0,0);
    }
    .text
    {
        font-size: 2.5rem;
        max-width: 85%;
    }
    .icon
    {
        width: 4rem;
        height: 4rem;
        margin-right: 0;
    }
    .close
    {
        width: 5rem;
        height: 5rem;
        position: absolute;
        top:calc(50% - .3rem);
        right: 1rem;
        translate: 0 -50%;
    }
    .close>svg>path
    {
        fill: rgb(248, 76, 76);
    }
    .progress
    {
        height: .7rem;
        border-radius: 0;
    }
}

@media (hover:hover) and (pointer:fine)
{
    .userImgContainer:hover
    {
        border: .6rem solid #03A678;
    }
    .userImgContainer:hover>.imageOverlay
    {
        opacity: 1;
    }
    .changePhoto:hover
    {
        background: #03a678;
    }
    .confirm:hover>svg
    {
        fill: #F27405;
    }
    .resetBtn:hover
    {
        background: #03A678;
        border: .4rem solid #03A678;
    }
    .logoutBtn:hover
    {
        background: #f7841f;
        border: .4rem solid #f7841f;
    }
    .deleteBtn:hover
    {
        background: rgb(255, 0, 0);
        border: .4rem solid rgb(255, 0, 0);
    }
    .back:hover>.backSVG
    {
        fill: #cdcdcd;
    }
    .close:hover>svg>path
    {
        fill: rgb(214, 214, 214);
    }
    @media(max-width:1200px)
    {
        .userImgContainer:hover
        {
            border: .7rem solid #03A678;
        }
    }
    @media(max-width:768px)
    {
        .userImgContainer:hover
        {
            border: 1rem solid #03A678;
        }
        .resetBtn:hover
        {
            border: .8rem solid #03A678;
        }
        .logoutBtn:hover
        {
            border: .8rem solid #f7841f;
        }
        .deleteBtn:hover
        {
            border: .8rem solid rgb(255, 0, 0);
        }
    }
}