.container
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100svh;
    background-color: #014040;
    position: relative;
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
}
.main
{
    /* background-image: url('../../assets/img/background.jpg'); */
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 2rem;
    overflow: hidden;
    background-color: #014040;
    box-shadow: 0 0 1rem .5rem #02735E;
    border: .5rem solid #03A678;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr;
    align-items: center;
    justify-items: center;
}
/* .overlay
{
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom: 0; */
    /* background-color: #2a2f2793; */
    /* backdrop-filter: blur(5px);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 5fr;
    align-items: center;
    justify-items: center;
} */
.logo
{
    width: 15rem;
    height: 7.5rem;
    background-color: yellow;
    grid-row: 1/2;
    grid-column: 1/3;
}
.section
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 3rem;
    gap:3rem;
}
.photoContainer
{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-items: center;
    align-items: center;
    gap:2rem;
}
.userImgContainer
{
    width: 12rem;
    height: 12rem;
    border: .7rem solid #02735E;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: border .3s ease;
    cursor: pointer;
}
.userImgContainer:hover
{
    border: .5rem solid #03A678;
}
.userImgContainer>img
{
    width: 100%;
}

.imageOverlay
{
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.603);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    border-radius: 50%;
    opacity: 0;
    transition: all .3s ease;
}
.userImgContainer:hover>.imageOverlay
{
    opacity: 1;
}
.imageLoading
{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #014040;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity .5s ease;
}
.imageLoadingHidden
{
    opacity: 0;
}
.loadingIcon
{
    width: 80%;
    height: 80%;
}
.changePhoto
{
    font-size: 2rem;
    color: white;
    padding: .8rem 1.8rem;
    background: #02735E;
    font-weight: 900;
    border: 0;
    outline: none;
    border-radius: 1.2rem;
    cursor: pointer;
    transition: all .3s ease;
    font-family: "Cause", cursive;
    position: relative;
}
.inputFile
{
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    opacity: 0;
    cursor: pointer;
}
.changePhoto:hover
{
    background: #03a678;
}
.inputContainerDisabled
{
    border: .3rem solid rgb(126, 126, 126);
    cursor: default;
}
.inputDisabled
{
    color: rgb(126, 126, 126);
    cursor: default;
}
.placeholderDisabled
{
    color: rgb(126, 126, 126);
    top:-.3rem;
    left:2rem;
    font-size: 1.2rem;
    cursor: default;
    background: #014040;
}
.nameContainer
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap:.5rem
}
.nameInputContainer
{
    width: 92%;
}
.confirm
{
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}
.checkMarkIcon
{
    width: 100%;
    height: 100%;
    fill: rgb(196, 196, 196);
    transition: fill .3s ease;
}
.confirm:hover>svg
{
    fill: #F27405;
}
.btn
{
    width: 100%;
    font-size: 2rem;
    font-weight: 900;
    color: white;
    padding: .6rem 1rem;
    outline: none;
    border: 0;
    border-radius: 1.2rem;
    cursor: pointer;
    transition: all .3s ease;
    font-family: "Jost", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:.5rem;
}
.logoutBtn,
.resetBtn
{
    background: #02735E;
    border: .4rem solid #03A678;
}
.resetBtn:hover
{
    background: #03A678;
    border: .4rem solid #03A678;
}
.logoutBtn:hover
{
    background: #f7841f;
    border: .4rem solid #f7841f;
}
.deleteBtn
{
    background: rgb(175, 45, 45);
    border: .4rem solid rgb(255, 0, 0);
}
.deleteBtn:hover
{
    background: rgb(255, 0, 0);
    border: .4rem solid rgb(255, 0, 0);
}
.logoutIcon
{
    width: 2.5rem;
    height: 2.5rem;
}
.error
{
    width: 100%;
    color: #fc3333;
    font-weight: 700;
    font-family: "Jost", sans-serif;
    font-size: 1.5rem;
    text-align: center;
}
.loadingContainer
{
    width: 100%;
    height: 100%;
    grid-row: 2/3;
    grid-column: 1/3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:1rem;
}
.pageLoading
{
    width: 6rem;
    height: 6rem;
}
.errorIcon
{
    width: 6rem;
    height: 6rem;
}
.errorHeader
{
    color: white;
    font-size: 2rem;
    font-weight: 900;
}