.container
{
    position: fixed;
    bottom: 2rem;
    left:50%;
    translate: -50% 0;
    height: 3rem;
    background-color: blue;
    transform: translate(0,300%);
    transition: all .5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:2rem;
}
.display
{
    transform: translate(0,0);
}
.menuItem
{
    width: 3rem;
    height: 3rem;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    cursor: pointer;
}
.marked
{
    background-color: grey;
}
.fontSizeItem
{
    position: relative;
}
.fontSizeMenu
{
    position: absolute;
    bottom: 3.2rem;
    left:0;
    right: 0;
    background-color: rgb(87, 87, 87);
    display: flex;
    flex-direction: column;
    padding: .3rem 0;
    border-radius: .5rem;
    color: white;
    overflow: hidden;
}
.option
{
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    cursor: pointer;
    padding: .2rem 0;
}

.option:hover
{
    background-color: grey;
}
.italic
{
    font-style: italic;
}
.align
{
    position: relative;
}
.alignMenu
{
    position: absolute;
    bottom: 3.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(92, 92, 92);
    border-radius: .5rem;
    overflow: hidden;
}
.alignItem
{
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.alignItem:hover
{
    background-color: grey;
}
.selected
{
    background-color: rgb(155, 155, 155) !important;
    cursor: default;
}
.color
{
    position: relative;
}
.colorContainer
{
    position: absolute;
    bottom: 3.2rem;
    left:-5.5rem;
    height: 2rem;
    background-color: rgb(92, 92, 92);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    overflow: hidden;
}
.colorItem
{
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
}
.colorItem:hover
{
    background-color: grey;
}
.white
{
    color: white;
}
.black
{
    color: black;
}
.red
{
    color: red;
}
.green
{
    color: rgb(0, 218, 0);
}
.blue
{
    color: rgb(0, 55, 255);
}
.yellow
{
    color: yellow;
}
.orange
{
    color: rgb(255, 183, 0);
}
.bgColorItem
{
    position: relative;
}
.colorPreview
{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: .2rem solid grey;
}
.bgColorContainer
{
    position: absolute;
    bottom: 3.2rem;
    display:grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color: rgb(92, 92, 92);
    border-radius: .5rem;
    padding: .2rem;
}
.bgColorMenuItem
{
    width: 1.5rem;
    height: 1.5rem;
    border: .3rem solid rgb(92, 92, 92);
    border-radius: .5rem;
}
.bgColorMenuItem:hover
{
    border: .3rem solid grey;
}
.transparentImg
{
    width: 100%;
    height: 100%;
    border-radius: .5rem;
}
.selectedBgColorItem
{
    border: .3rem solid rgb(217, 217, 217) !important;
}