.container
{
    position: fixed;
    bottom: 2rem;
    left:50%;
    translate: -50% 0;
    height: 3.8rem;
    padding: .3rem .5rem;
    background-color: rgb(76, 76, 76);
    border-radius: 1rem;
    transform: translate(0,300%);
    transition: all .5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:.8rem;
    color: white;
}
.display
{
    transform: translate(0,0);
}
.menuItem
{
    width: 2.5rem;
    height: 2.5rem;
    background-color: rgb(117, 117, 117);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    cursor: pointer;
    transition: all .3s ease;
}
.menuItem:hover
{
    background-color: rgb(146, 146, 146);
}
.boldItem
{
    font-size: 1.4rem;
    font-weight: 900;
}
.marked
{
    background-color: rgb(36, 36, 36);

}
.marked:hover
{
    background-color: rgb(36, 36, 36);
}
.fontSizeItem
{
    position: relative;
    font-size: 1.4rem;
    font-weight: 900;
}
.fontSizeMenu
{
    position: absolute;
    bottom: 3.3rem;
    left:0;
    right: 0;
    background-color: rgb(76, 76, 76);
    display: flex;
    flex-direction: column;
    padding: .3rem 0;
    border-radius: .5rem;
    color: white;
    overflow: hidden;
}
.option
{
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    cursor: pointer;
    padding: .2rem 0;
    font-size: 1.2rem;
}
.option:hover
{
    background-color: rgb(117, 117, 117);
}
.italic
{
    font-style: italic;
    font-size: 1.6rem;
    font-weight: 900;
}
.align
{
    position: relative;
}
.alignMenu
{
    position: absolute;
    bottom: 3.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(76, 76, 76);
    border-radius: .5rem;
    overflow: hidden;
}
.alignItem
{
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.alignItem:hover
{
    background-color: rgb(117, 117, 117);
}
.selected
{
    background-color: rgb(146, 146, 146) !important;
    cursor: default;
}
.color
{
    position: relative;
    font-size: 1.7rem;
    font-weight: 900;
}
.colorContainer
{
    position: absolute;
    bottom: 3.3rem;
    left:-5.5rem;
    height: 2rem;
    background-color: rgb(76, 76, 76);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    overflow: hidden;
}
.colorItem
{
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-size: 1.6rem;
}
.colorItem:hover
{
    background-color: rgb(117, 117, 117);
}
.white
{
    color: white;
}
.black
{
    color: black;
}
.red
{
    color: red;
}
.green
{
    color: rgb(0, 218, 0);
}
.blue
{
    color: rgb(0, 55, 255);
}
.yellow
{
    color: yellow;
}
.orange
{
    color: rgb(255, 183, 0);
}
.bgColorItem
{
    position: relative;
}
.colorPreview
{
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    border: .25rem solid rgb(65, 65, 65);
}
.bgColorContainer
{
    position: absolute;
    bottom: 3.2rem;
    display:grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color: rgb(76, 76, 76);
    border-radius: .5rem;
    padding: .2rem;
}
.bgColorMenuItem
{
    width: 1.8rem;
    height: 1.8rem;
    border: .3rem solid rgb(76, 76, 76);
    border-radius: .5rem;
}
.bgColorMenuItem:hover
{
    border: .3rem solid rgb(117, 117, 117);
}
.transparentImg
{
    width: 100%;
    height: 100%;
    border-radius: .5rem;
}
.selectedBgColorItem
{
    border: .3rem solid rgb(217, 217, 217) !important;
}
.deleteItem
{
    border-radius: 50%;
}
.deleteItem:hover>.deleteSVG
{
    fill: red;
}
.deleteSVG
{
    fill: rgb(255, 0, 0);
    width: 55%;
    height: 55%;
    transition: fill .3s ease;
}
.line
{
    width: .3rem;
    height: 80%;
    background-color: rgb(117, 117, 117);
    border-radius: 10px;
}
.fontFamilyItem
{
    width: 12rem;
    position: relative;
    padding: 0 .5rem;
}
.fontFamilyMenuContainer
{
    position: absolute;
    bottom: 3.2rem;
    left:0;
    background-color: rgb(76, 76, 76);
    right: 0;
    display: flex;
    flex-direction: column;
    padding: .3rem 0;
    border-radius: .5rem;
    color: white;
    overflow: hidden;
}
.fontFamilyHeader
{
    font-size: 1.1rem;
}
.fontFamilyMenuItem
{
    padding: .2rem 0;
    width: 100%;
    text-align: center;
}
.fontFamilyMenuItem:hover
{
    background-color: rgb(117, 117, 117);
}