.viewport
{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-color: rgb(66, 66, 66);
}
.projectName
{
    position: fixed;
    top:.5rem;
    left:50%;
    translate: -50% 0;
    text-align: center;
    width: 15rem;
    padding: .3rem 0;
    background: none;
    z-index: 3;
    outline: none;
    border: 0;
    font-size: 1.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 700;
    cursor: pointer;
}
.back
{
    position: fixed;
    top:.5rem;
    left:.5rem;
    width: 1.8rem;
    height: 1.8rem;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
}
.back:hover>.arrowSvg
{
    fill: white;
}
.arrowSvg
{
    fill: grey;
    width: 100%;
    height: 100%;
    transition: fill .3s ease;
}
.projectName:focus
{
    cursor: text;
}
.board
{
    position: absolute;
    top:0;
    left:0;
    transform-origin: 0 0;
    width: 5000px;
    height: 5000px;
    background:white;
    border-radius: 10rem;
    background: linear-gradient(45deg,blue,red);
    /* transition: transform .1s ease; */
}
.dragElement
{
    position: fixed;
    top:.2rem;
    left:.2rem;
    bottom: .2rem;
    right: .2rem;
    border-radius: 2rem;
    background-color: rgba(0, 0, 0, 0.47);
    backdrop-filter: blur(10px);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1rem;
    border:.5rem dashed black;
    color: white;
}
.dragDropIcon
{
    width: 5rem;
    height: 5rem;
    fill: white;
}
.dropHeader
{
    font-size: 3rem;
    font-weight: 900;
}
.messageContainer
{
    position: fixed;
    bottom: 2rem;
    right: 1rem;
    gap:.8rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    transition: bottom .2s ease;
}
.adjustBottom
{
    bottom: 4rem;
}
.globalLoading
{
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loadingSVG
{
    width: 100%;
    height: 100%;
}