.borderRadius
{
    position: absolute;
    bottom: .5rem;
    left: .5rem;
    width: 52%;
    height: 52%;
    border-top:.4rem solid rgb(255, 255, 255);
    border-right: .4rem solid rgb(255, 255, 255);
}
.borderRadius1
{
    border-top-right-radius: 0;
}
.borderRadius2
{
    border-top-right-radius: .6rem;
}
.borderRadius3
{
    border-top-right-radius: 1rem;
}
.borderRadius4
{
    border-top-right-radius: 2rem;
}