.main
{
    background-image: url('../../assets/img/background.webp');
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100svh;
    position: relative;
    overflow: hidden;
}
.overlay
{
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    background-color: #2a2f2793;
    backdrop-filter: blur(2px);
}
.menu
{
    position: absolute;
    top:50%;
    left:50%;
    translate: -50% -50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:3rem;
    transition: all .5s ease;
}
.menuWhileMenuIsDisplaying
{
    position: absolute;
    top:20vh;
    left:50%;
    translate: -50% -50%;
    gap:1.5rem;
}
.menuBtn
{
    font-size: 2rem;
    padding: 1.2rem 1.5rem;
    border: .6rem solid #03A678;
    border-radius: 1.5rem;
    outline: none;
    font-weight: 400;
    color: white;
    background: #1c1f1ae1;
    width: 28rem;
    height: 6rem;
    cursor: pointer;
    transition: all .3s ease;
    font-family: "Luckiest Guy", cursive;
    position: relative;
}
.btnWhileMenuIsDisplaying
{
    font-size: 1.5rem;
    width: 21rem;
    height: 4.5rem;
    border: .45rem solid #03A678;
    border-radius: 1.125rem;
}
.menuBtn>p
{
    position: absolute;
    top: 50%;
    left:50%;
    translate: -50% -50%;
    z-index: 2 !important;
    width: 100%;
}
.buttonHover
{
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    background: #02735E;
    background: radial-gradient(#02735E,#014040);
    border-radius: 0.9rem;
    z-index: 0;
    transform: scale(0);
    transform-origin: bottom;
    transition: transform .3s ease;
    will-change: transform;
}
.buttonHoverWhileMenuIsDisplaying
{
    border-radius: 0.675rem;
}
.buttonHoverDisplay
{
    transform: scale(1);
}

.menu::selection
{
    background: none;
}
.coldStartServerInfo
{
    position: absolute;
    bottom: 20vh;
    color: white;
    text-align: center;
    max-width: 50vw;
    left: 50%;
    translate: -50% 0;
    font-size: 1.8rem;
    font-family: "Cause", cursive;
    box-shadow: 0 0 2rem 2rem rgba(0, 0, 0, 0.375);
    border-radius: 2rem;
    background-color: rgba(0, 0, 0, 0.375);
    transform: translate(0rem,20rem);
    opacity: 0;
    transition: all .5s ease-out;
    cursor: default;
}
.coldStartServerInfoDisplay
{
    transform:translate(0,0);
    opacity: 1;
}
.coldStartServerInfo::selection
{
    background: none;
}
@media (max-width:1200px) {
    .menu
    {
        gap:4rem;
    }
    .menuBtn
    {
        font-size: 2.4rem;
        width: 33rem;
        border-radius: 2rem;
        height: 7rem;
        border: .7rem solid #03A678;
    }
    .buttonHover
    {
        border-radius: 1.4rem;
    }
    .menuWhileMenuIsDisplaying
    {
        gap:3rem;
    }
    .btnWhileMenuIsDisplaying
    {
        font-size: 2rem;
        height: 5.3rem;
        width: 27rem;
        border-radius: 1.4rem;
        border: .5rem solid #03A678;
    }
    .buttonHoverWhileMenuIsDisplaying
    {
        border-radius: .8rem;
    }
}
@media (max-width:768px)
{
    .menu
    {
        flex-direction: column;
        gap:5rem;
    }
    .menuBtn
    {
        font-size: 3.3rem;
        width: 50rem;
        padding: 4rem;
        border: 1rem solid #03A678;
        border-radius: 2.5rem;
    }
    .overlay
    {
        background-color: #2a2f27a9;
    }
    .menuWhileMenuIsDisplaying
    {
        top:15vh;
        flex-direction: row;
    }
    .btnWhileMenuIsDisplaying
    {
        font-size: 2.4rem;
        width: 40vw;
        padding: 3.5rem;
        border: .8rem solid #03A678;
        border-radius: 2.5rem;
    }
    .buttonHoverWhileMenuIsDisplaying
    {
        border-radius: 1.8rem;
    }
    .coldStartServerInfo
    {
        bottom: 20vh;
        max-width: 70vw;
        width: 70vw;
        font-size: 2.4rem;
    }
}
@media(max-width:450px)
{
    .overlay
    {
        background-color: #2a2f27aa;
        backdrop-filter: blur(3px);
    }
    .menu
    {
        gap:5rem;
        top:55%;
    }
    .menuWhileMenuIsDisplaying
    {
        flex-direction: column;
    }
    .menuBtn
    {
        font-size: 4.5rem;
        border: 1.4rem solid #03A678;
        border-radius: 4rem;
        width: 80vw;
        height: auto;
        padding: 3rem 3rem 2rem 3rem;
    }
    .menuBtn>p
    {
        position: static;
        top: 0%;
        left:0%;
        translate: 0% 0%;
    }
    .buttonHover
    {
        border-radius:2.5rem;
    }
    .coldStartServerInfo
    {
        bottom: 10vh;
        max-width: 70vw;
        width: 70vw;
        font-size: 2.8rem;
    }
}
@media (hover:hover) and (pointer:fine)
{
    .menuBtn:hover
    {
        transform: translate(0,-1rem);
        box-shadow: 0 1rem .2rem 0rem #1c1f1ac6;
    }
    .btnWhileMenuIsDisplaying:hover
    {
        transform: translate(0,-.5rem);
        box-shadow: 0 .5rem .2rem 0rem #1c1f1ac6;
    }
    @media(max-width:1200px)
    {
        .menuBtn:hover
        {
            transform: translate(0,-1.1rem);
            box-shadow: 0 1.1rem .2rem 0rem #1c1f1ac6;
        }
    }
    @media (max-width:768px)
    {
        .menuBtn:hover
        {
            transform: translate(0,-1.5rem);
            box-shadow: 0 1.5rem .2rem 0rem #1c1f1ac6;
        }
    }
    @media(max-width:450px)
    {
        .menuBtn:hover
        {
            transform: translate(0,-1.5rem);
            box-shadow: 0 1.5rem .2rem 0rem #1c1f1ac6;
        }
    }
}