.container
{
    height: 15rem;
    position: absolute;
    bottom: 3.5rem;
    left:50%;
    translate: -50% 0;
   background-color: rgb(76, 76, 76);
    transform: scale(0);
    opacity: 0;
    transition: all .3s ease;
    transform-origin: bottom;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:.5rem;
    overflow: scroll;
    padding: .8rem;
    border-radius: 1rem;
    cursor: default;
}
.container::-webkit-scrollbar
{
    width: 0;
    height: 0;
}
.displayContainer
{
    transform: scale(1);
    opacity: 1;
}
.item
{
    width: 3rem;
    height: 3rem;
    cursor: pointer;
}
.item:hover>.svg
{
    fill:rgb(255, 255, 255);
}
.svg
{
    width: 100%;
    height: 100%;
    fill: rgb(178, 178, 178);
    transition: fill .3s ease;
}