.container
{
    width: 3rem;
    height: 3rem;
    position: relative;
    z-index: 2;
}
.imgContainer
{
    width: 3rem;
    height: 3rem;
    border:.3rem solid #02735E;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    background-color: #014040;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgContainer2
{
    position: relative;
    width: 5rem;
    height: 5rem;
    border:.4rem solid #03A678;
}
.imgContainer>img
{
    width: 100%;
    z-index: 1;
}
.imgLoadingOverlay
{
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    background-color: #014040;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity .5s ease;
}
.displayImgOverlay
{
    opacity: 1;
}

.menuContainer
{
    position: absolute;
    top:1rem;
    right: 0;
    width: 16rem;
    display: none;
    padding-top: 2.5rem;
    display: block;
    transform: scale(0);
    opacity: 0;
    transform-origin: 90% 0%;
    transition: all .4s ease;
}
.displayMenu
{
    transform: scale(1);
    opacity: 1;
}
.menu
{
    width: 100%;
    height: 100%;
    background-color: #014040;
    border:.4rem solid #03A678;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.2rem 1rem;
    box-shadow: 0 0 1rem .1rem black;
}
.loadingSVG
{
    width: 75%;
    height: 75%;
}
.name
{
    color: white;
    font-size: 2rem;
    width: 100%;
    text-align: center;
    font-weight: 900;
    margin-top: .5rem;
    text-overflow: ellipsis;
    overflow: hidden;
    font-family: "Cause", cursive;
    cursor: default;
}
.profileSVG
{
    width: 2.8rem;
    height: 2.8rem;
    padding-top: .4rem;
    fill: rgb(255, 255, 255);
}
.menuBtn
{
    background: none;
    border: 0;
    outline: none;
    width: 100%;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 254, 254);
    font-weight: 700;
    cursor: pointer;
    margin: 1rem 0;
    background: #02735E;
    border:.3rem solid #03A678;
    border-radius: 1rem;
    transition: background .3s ease;
    font-family: "Jost", sans-serif;

}

.logoutBtn
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;
    border-radius: 1rem;
     background: #02735E;
    border:.3rem solid #03A678;
    gap:.5rem;
    font-size: 1.4rem;
    font-weight: 700;
    padding: .5rem;
    cursor: pointer;
    transition: all .3s ease;
    font-family: "Jost", sans-serif;
}
.logoutIcon
{
    width: 2rem;
    height: 2rem;
}
@media (max-width:1200px) {
    .container
    {
        width: 3.8rem;
        height: 3.8rem;
    }
    .imgContainer
    {
        width: 3.8rem;
        height: 3.8rem;
        border:.38rem solid #02735E;
    }
    .menuContainer
    {
        width: 18rem;
        padding-top: 3.5rem;
    }
    .menu
    {
        border:.45rem solid #03A678;
        border-radius: 1.8rem;
        padding: 1.4rem 1.2rem;
    }
    .imgContainer2
    {
        width: 7rem;
        height: 7rem;
        border:.5rem solid #03A678;
    }
    .name{
        font-size: 2.2rem;
        margin-top: .8rem;
    }
    .menuBtn
    {
        font-size: 1.7rem;
        border:.35rem solid #03A678;
         border-radius: 1.1rem;
    }
    .logoutBtn
    {
         font-size: 1.5rem;
        border:.35rem solid #03A678;
         border-radius: 1.1rem;
    }
}
@media(max-width:768px)
{
    .container
    {
        width: 6rem;
        height: 6rem;
    }
    .imgContainer
    {
        width: 6rem;
        height: 6rem;
        border:.6rem solid #02735E;
    }
    .imgContainer2
    {
        position: relative;
        width: 12rem;
        height: 12rem;
        border:.8rem solid #03A678;
    }
    .menuContainer
    {
        top:7rem;
        width: 36rem;
        padding-top: 0;
    }
    .menu
    {
        border:.8rem solid #03A678;
        border-radius: 2.8rem;
        padding: 3rem 2rem;
        box-shadow: 0 0 2rem .5rem black;
    }
    .name
    {
        font-size: 3.5rem;
        margin-top: 1.5rem;
    }
    .profileSVG
    {
        width: 5rem;
        height: 5rem;
        padding-top: .7rem;
    }
    .menuBtn
    {
        font-size: 3rem;
        margin: 2.2rem 0;
        border:.6rem solid #03A678;
        border-radius: 2rem;
        padding: .4rem;
    }
    .logoutBtn
    {
        border-radius: 2rem;
        background: #d96704;
        font-size: 3rem;
        border: .6rem solid #d96704;
        padding: .8rem;
    }
    .logoutIcon
    {
        width: 3rem;
        height: 3rem;
    }
}
@media (hover:hover) and (pointer:fine)
{
    .container:hover>.menuContainer
    {
        transform: scale(1);
        opacity: 1;
    }
    .container:hover>.imgContainer
    {
        border:.3rem solid #03A678;
    }
    .menuBtn:hover
    {
        background: #03A678;
    }
    .logoutBtn:hover
    {
        border: .3rem solid #F27405;
        background: #F27405;
    }
    @media (max-width:1200px) {
        .logoutBtn:hover
        {
            border: .35rem solid #F27405;
        }
        .container:hover>.imgContainer
        {
            border:.38rem solid #03A678;
        }
    }
    @media(max-width:768px)
    {
        .container:hover>.imgContainer
        {
            border:.6rem solid #03A678;
        }
        .logoutBtn:hover
        {
            border: .6rem solid #F27405;
        }
    }
}