.container
{
    width: 8rem;
    height: .35rem;
    border-radius: 10px;
    background-color: rgb(8, 8, 8);
    position: relative;
    cursor: pointer;
}
.fill
{
    width: 30%;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    height: 100%;
}
.ball
{
    width: .8rem;
    height: .8rem;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    translate: -50% -50%;
    top:50%;
    left:30%;
    position: absolute;
}
.label
{
    width: 4rem;
    height: 1.5rem;
    position: absolute;
    bottom: 1rem;
    left:50%;
    translate: -50% 0;
    background-color: rgb(117, 117, 117);
    border-radius: .4rem;
    transform: scale(0);
    padding: .1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .3s ease .1s;
    font-weight: 900;
    font-size: .8rem;
    font-family: "Lexend Exa", sans-serif;
}
.showLabel
{
    transform: scale(1);
}
@media (max-width:1200px)
{
    .container
    {
        height: .4rem;
    }
    .ball
    {
        width: .9rem;
        height: .9rem;
    }
    .label
    {
        width: 4.5rem;
        height: 1.8rem;
        bottom: 1.3rem;
        border-radius: .5rem;
        font-size: 1rem;
    }
}
@media(max-width:768px)
{
    .container
    {
        width: 15rem;
        height: 1rem;
    }
    .ball
    {
        width: 2rem;
        height: 2rem;
    }
    .label
    {
        width: 10rem;
        height: 3.5rem;
        bottom: 2.5rem;
        border-radius: 1rem;;
        font-size: 2.5rem;
    }

}