.overlay
{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.316);
    backdrop-filter: blur(12px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    
}
.container
{
    width: 40rem;
    padding: 2rem 2.5rem 2.5rem 2.5rem;
    background-color: #014040;
    border:.6rem solid #03A678;
    border-radius: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.header
{
    width: 100%;
    color: white;
    font-size: 2.5rem;
    font-family: "Cause", cursive;
    font-weight: 900;
    text-align: center;
    cursor: default;
    margin-bottom: 2rem;
}
.description
{
    font-size: 1.2rem;
    color: white;
    width: 100%;
    text-align: center;
    cursor: default;
    margin-bottom: 1.8rem;
    cursor: default;
}
.mark
{
    color: rgb(255, 73, 73);
    text-decoration: underline .2rem rgb(255, 73, 73);
    background: none;
    font-weight: 900;
}
.btnContainer
{
    margin-top: 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1rem;
}
.btn
{
    width: 100%;
    font-size: 1.8rem;
    color: white;
    outline: none;
    cursor: pointer;
    font-weight: 900;
    border-radius: 1.2rem;
    transition: all .3s ease;
    padding: .3rem .5rem;
}
.cancel
{
    background: #02735E;
    border:.4rem solid #03A678;
}
.delete
{
    background: rgb(158, 35, 35);
    border: .4rem solid rgb(203, 1, 1);
}
.inputContainer
{
    width: 80%;
    position: relative;
    height: 3.5rem;
    margin: .5rem 0 1.5rem 0;
    cursor: pointer;
}
.input
{
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom: .4rem;
    text-align: center;
    background:none;
    outline: none;
    font-size: 1.8rem;
    border: 0;
    color: white;
    cursor: pointer;
}
.input:focus
{
    cursor: text;
}
.input::placeholder
{
    font-weight: 700;
}
.border
{
    position: absolute;
    bottom: 0;
    height: .4rem;
    left: 0;
    right: 0;
    border-radius: 10px;
    background-color: grey;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.borderFill
{
    width: 100%;
    background-color: #03A678;
    height: 100%;
    border-radius: 10px;
    transform: scaleX(0);
    transition: transform .3s ease;
}
.borderFilled
{
    transform: scaleX(1);
}
.back
{
    position: absolute;
    top:1.2rem;
    left:1.2rem;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.backSVG
{
    width: 100%;
    height: 100%;
    fill: rgb(143, 143, 143);
    transition:fill .3s ease
}
.backWhileLoading
{
    cursor: default;
}
.backWhileLoading>.backSVG
{
    fill: rgb(75, 75, 75) !important;
}
.loadingContainer
{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 3.5rem;
    margin: .5rem 0 1rem 0;
}
.loading
{
    transform: scale(1.5);
}
.btnLoading
{
    background: rgb(61, 61, 61) !important;
    border: .4rem solid rgb(80, 80, 80) !important;
    cursor: default;
}
.error
{
    width: 100%;
    color: #fc3333;
    font-weight: 700;
    font-family: "Jost", sans-serif;
    font-size: 1.5rem;
    text-align: center;
    cursor: default;
}
.btn::selection,
.error::selection,
.description::selection,
.header::selection
{
    background: none;
}
@media(max-width:1200px)
{
    .container
    {
        width: 45rem;
        border:.6rem solid #03A678;
        border-radius: 2.5rem;
    }
    .header
    {
        font-size: 2.7rem;
        margin-bottom: 2rem;
    }
    .description
    {
        font-size: 1.4rem;
        margin-bottom: 1.2rem;
    }
    .btnContainer
    {
        margin-top: 1.5rem;
        gap:1.5rem;
    }
    .btn
    {
        font-size: 2rem;
        border-radius: 1.4rem;
        padding: .4rem .5rem;
    }
    .inputContainer
    {
        height: 5rem;
    }
    .input
    {
        bottom: .5rem;
        font-size: 2.2rem;
    }
    .border
    {
        height: .5rem;
    }
    .back
    {
        top:2.2rem;
        left:1.5rem;
        width: 2.7rem;
        height: 2.7rem;
    }
    .loadingContainer
    {
        height: 5rem;
        margin: .5rem 0 1.5rem 0;
    }
    .error
    {
        font-size: 1.7rem;
    }
}
@media(max-width:768px)
{
    .container
    {
        width: 70rem;
        padding: 4rem;
        border:1rem solid #03A678;
        border-radius: 3.5rem;
    }
    .header
    {
        font-size: 5.5rem;
        margin-bottom: 3rem;
    }
    .description
    {
        font-size: 2.5rem;
        margin-bottom: 2.5rem;
        color: rgb(207, 207, 207);
    }
    .mark
    {
        text-decoration: underline .3rem rgb(255, 73, 73);
    }
    .btnContainer
    {
        margin-top: 2.5rem;
        gap:2rem;
    }
    .btn
    {
        width: 100%;
        font-size: 3rem;
        border-radius: 2.5rem;
        padding: 1rem;
    }
    .cancel
    {
        background: #02735E;
        border:.8rem solid #03A678;
    }
    .delete
    {
        background: rgb(158, 35, 35);
        border: .8rem solid rgb(203, 1, 1);
    }
    .inputContainer
    {
        width: 80%;
        height: 8rem;
        margin: 0rem 0 2.5rem 0;
    }
    .input
    {
        bottom: .8rem;
        font-size: 3.5rem;
    }
    .border
    {
        height: .8rem;
        border-radius: 10px;
    }
    .back
    {
        top:5rem;
        left:3.5rem;
        width: 4.5rem;
        height: 4.5rem;
    }
    .loadingContainer
    {
        height: 8rem;
         margin: 1rem 0 1.5rem 0;
    }
    .btnLoading
    {
        border: .8rem solid rgb(80, 80, 80) !important;
    }
    .error
    {
        font-size: 3rem;
    }
}
@media (hover:hover) and (pointer:fine)
{
    .back:hover>.backSVG
    {
        fill: #cdcdcd;
    }
    .delete:hover
    {
        background: red;
         border: .4rem solid red;
    }
    .cancel:hover
    {
        background: #03A678;
    }
}