.container
{
    position: fixed;
    bottom: 2rem;
    left:50%;
    translate: -50% 0;
    height: 3.8rem;
    padding: .3rem .5rem;
    background-color: rgb(76, 76, 76);
    border-radius: 1rem;
    transform: translate(0,300%);
    transition: all .5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:.8rem;
    color: white;
}
.container::selection
{
    background: none;
}
.containerDisplay
{
    transform: translate(0%,0%);
}
.item
{
    width: 2.5rem;
    height: 2.5rem;
    background-color: rgb(117, 117, 117);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    cursor: pointer;
    transition: all .3s ease;
    position: relative;
}
.brushItem
{
    background-color: rgb(76, 76, 76) !important;
}
.filterMenu
{
    position: absolute;
    bottom: 3.3rem;
    height: 3rem;
    background-color: rgb(76, 76, 76);
    position: absolute;
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    cursor: default;
    gap:.5rem;
}
.bgColorPreview
{
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    border: .25rem solid rgb(65, 65, 65);
}
.widthPreview
{
    background-color: rgb(200, 200, 200);
    border-radius: 50%;
    width: .94rem;
    height: .94rem;
}
.brushSvg
{   
    width: 2.8rem;
    height: 2.8rem;
    fill: rgb(128, 128, 128);
    transition: fill .3s ease;
    margin-top: .2rem;
    margin-left: .2rem;
}
.brushSelected>.brushSvg
{
    fill: white !important;
}
.line
{
    width: .3rem;
    height: 80%;
    margin: 0 .3rem;
    background-color: gray;
    border-radius: 10px;
}
.arrow
{
    width: 1.8rem;
    height: 1.8rem;
    fill: rgb(193, 193, 193);
    margin-right: .2rem;
}
.arrowDisabled
{
    fill: rgb(151, 151, 151) !important;
}
.arrowRotated
{
    width: 1.8rem;
    height: 1.8rem;
    fill: rgb(193, 193, 193);
    rotate: 180deg;
    margin-left: .2rem;
}
.closeElement
{
    position: absolute;
    top:0;
    left:0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    transform: scale(0);
    transition: transform .3s ease;
}
.bottomArrow
{
    width: 2rem;
    height: 2rem;
    fill: rgb(193, 193, 193);
    rotate: 270deg;
    margin-left: .1rem;
    margin-top: .1rem;
}
.closeElementDisplay
{
    transform: scale(1);
}
.bgColorItem,
.width
{
    position: relative;
}
@media(max-width:1200px)
{
    .container
    {
        height: 4rem;
        border-radius: 1.2rem;
        padding: .5rem .8rem;
    }
    .item
    {
        width: 2.7rem;
        height: 2.7rem;
        border-radius: 1.1rem;
    }
    .filterMenu
    {
        bottom: 3.6rem;
        border-radius: .6rem;
    }
    .bgColorPreview
    {
        width: 1.8rem;
        height: 1.8rem;
        border: .3rem solid rgb(65, 65, 65);
    }
    .brushSvg
    {   
        width: 2.9rem;
        height: 2.9rem;
    }
}
@media(max-width:768px)
{
    .container
    {
        height:6rem;
        padding: .5rem 1rem;
        border-radius: 1.8rem;
        gap:1rem;
    }
    .item
    {
        width: 4.5rem;
        height: 4.5rem;
        border-radius: 1.8rem;
    }
    .filterMenu
    {
        bottom: 6rem;
        height: 5rem;
        border-radius: 1rem;
        gap:.5rem;
    }
    .bgColorPreview
    {
        width: 3rem;
        height: 3em;
        border: .4rem solid rgb(65, 65, 65);
    }
    .widthPreview
    {
        width: .94rem;
        height: .94rem;
    }
    .brushSvg
    {   
        width: 4.5rem;
        height: 4.5rem;
        margin-top: 0;
        margin-left: 0;
    }
    .line
    {
        width: .5rem;
        margin: 0 .5rem;
    }
    .arrow
    {
        width: 3rem;
        height: 3rem;
    }
    .arrowRotated
    {
        width: 3rem;
        height: 3rem;
    }
    .bottomArrow
    {
        width: 3rem;
        height: 3rem;
    }
    .closeElement
    {
        font-size: 1.8rem;
    }
}
@media(hover: hover) and (pointer: fine)
{
    .item:hover
    {
        background-color: rgb(146, 146, 146);
    }
    .itemHoverDisabled:hover
    {
        background-color: rgb(117, 117, 117);
    }
    .brushItem:hover>.brushSvg
    {
        fill: rgb(161, 161, 161);
    }
}