.noteItem
{
    width: 100%;
    color: white;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr .3rem 1.5rem 1.5rem;
    gap:.8rem;
    background: #0f836d;
    padding: .5rem .8rem;
    border-radius: .8rem;
    align-items: center;
    transition: background .3s ease;
    position: relative;
    height: 3.5rem;
    cursor: pointer;
}
.title
{
    font-weight: 700;
    align-items: center;
    width: 100%;
    font-size: 1.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-width: 0;
}
.code
{
    font-size: 1.4rem;
    font-weight: 900;
    display: flex;
    justify-content: center;
    font-family: "Cause", cursive;
    align-items: center;
    text-align: center;
}
.status
{
    background-color: #03A678;
    padding: .4rem .8rem;
    font-weight: 900;
    border-radius: .9rem;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Cause", cursive;
}
.line
{
    height: 100%;
    width: .3rem;
    background-color: rgb(194, 194, 194);
    border-radius: 10px;
}
.edit
{
    height: 1.5rem;
    width: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.delete
{
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.deleteConfirm
{
    position: absolute;
    top:0;
    right: 0;
    width: 100%;
    bottom: 0;
    background-color: #014040;
    border-radius: .8rem;
    transform: scale(0);
    transform-origin: 97% 50%;
    transition: transform .3s ease;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    justify-content: space-between;
    cursor: default;
}
.btnContainer
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:.8rem;
}
.deleteBtn
{
    font-size: 1.1rem;
    color: white;
    outline: none;
    font-weight: 900;
    padding: .2rem .4rem;
    border-radius: .7rem;
    cursor: pointer;
    transition: all .3s ease;
}
.confirmBtn
{
    background: rgb(175, 44, 44);
    border:.3rem solid rgb(254, 38, 38);
}
.cancelBtn
{
    background: #02735E;
    border:.3rem solid #03A678;
}
.deleteHeader
{
    font-size: 1.3rem;
    font-weight: 700;
    font-family: "Jost", sans-serif;
    cursor: default;
}
.deleteConfirmDisplay
{
    transform: scale(1);
}
.editSVG
{
    width: 90%;
    height: 90%;
    fill: white;
    transition: fill .3s ease;
}
.deleteIcon
{
    width: 100%;
    height: 100%;
    fill: rgb(255, 255, 255);
    transition: fill .3s ease;
}

.privateStatus
{
    background: #014040;
}
.deleteBtn::selection,
.deleteHeader::selection,
.code::selection,
.status::selection,
.title::selection
{
    background: none;
}
@media (max-width:1200px)
{
    .noteItem
    {
        padding: .5rem 1rem;
        height: 3.7rem;
        border-radius: 1.2rem;
        grid-template-columns: 3fr 1fr 1fr .3rem 1.6rem 1.6rem;
    }
    .title
    {
        font-size: 1.5rem;
    }
    .code
    {
        font-size: 1.5rem;
    }
    .status
    {
        font-size: 1.2rem;
    }
    .edit
    {
        height: 1.6rem;
        width: 1.6rem;
    }
    .delete
    {
        width: 1.6rem;
        height: 1.6rem;
    }
    .line
    {
        height: 80%;
    }
    .deleteConfirm
    {
        border-radius: 1.2rem;
    }
    .deleteHeader
    {
        font-size: 1.4rem;
    }
    .btnContainer
    {
        gap:1rem;
    }
    .deleteBtn
    {
        font-size: 1.2rem;
        border-radius: .8rem;
        padding: .2rem .6rem;
    }
}
@media (max-width:768px)
{
    .noteItem
    {
        grid-template-columns: 3fr auto 1fr .4rem 2.8rem 2.8rem;
        gap:1.8rem;
        padding: .7rem 2rem;
        border-radius: 2.2rem;
        height: 6rem;
    }
    .title
    {
        font-size: 2.4rem;
    }
    .code
    {
        font-size: 2.2rem;
    }
    .status
    {
        padding: .6rem 1rem .7rem 1.2rem;
        border-radius: 1.5rem;
        font-size: 2.2rem;
    }
    .line
    {
        width: .4rem;
    }
    .edit
    {
        height: 2.8rem;
        width:2.8rem;
    }
    .delete
    {
        height: 2.8rem;
        width:2.8rem;
    }
    .deleteConfirm
    {
        border-radius: 2.2rem;
        padding: 0 2rem;
    }
    .btnContainer
    {
        gap:1rem;
    }
    .deleteBtn
    {
        font-size: 1.8rem;
        padding: .2rem 1rem;
        border-radius: 1.2rem;
    }
    .confirmBtn
    {
        border:.5rem solid rgb(254, 38, 38);
    }
    .cancelBtn
    {
        border:.5rem solid #03A678;
    }
    .deleteHeader
    {
        font-size: 1.9rem;
    }
    .editSVG
    {
        width: 100%;
        height: 100%;
    }
}
@media(max-width:450px)
{
    .noteItem
    {
        grid-template-columns: 5fr auto .6rem 3.5rem 3.5rem;
        gap:2rem;
        border-radius: 3rem;
        height: 9rem;
    }
    .title
    {
        font-size: 3rem;
    }
    .code
    {
        font-size: 3rem;
        width: 100%;
    }
    .status
    {
        padding: 1rem 1.5rem 1rem 1.5rem;
        border-radius: 2rem;
        font-size: 2.5rem;
    }
    .line
    {
        width: .6rem;
    }
    .edit
    {
        height: 3.5rem;
        width:3.5rem;
    }
    .delete
    {
        height: 3.5rem;
        width:3.5rem;
    }
    .deleteConfirm
    {
        border-radius: 3rem;
        padding: 0 2rem;
        background: #002a2a;
        justify-content: center;
        transition: transform .5s ease;
    }
    .btnContainer
    {
        gap:3rem;
    }
    .deleteBtn
    {
        font-size: 3.2rem;
        padding: .8rem 3rem;
        border-radius: 2.5rem;
    }
    .confirmBtn
    {
        border:.8rem solid rgb(254, 38, 38);
    }
    .cancelBtn
    {
        border:.8rem solid #03A678;
    }
    .deleteHeader
    {
        display: none;
    }
}
@media (hover:hover) and (pointer:fine)
{
    .noteItem:hover
    {
        background: #25917d;
    }
    .confirmBtn:hover
    {
        background: rgb(254, 38, 38);
    }
    .cancelBtn:hover
    {
        background: #03A678;
    }
    .edit:hover>svg
    {
        fill: #F27405;
    }
    .delete:hover>svg
    {
        fill: rgb(255, 44, 44);
    }
}