.message
{
    transform: translate(150%,0);
    transition: transform .3s ease;
    display: grid;
    grid-template-columns: 1.7rem auto 1.6rem;
    /* width: auto; */
    width: max-content;
    max-width: 25rem;
    padding: .4rem .3rem .6rem .5rem;
    grid-template-rows: 1fr;
    background-color: rgb(76, 76, 76);
    border-radius: .8rem;
    position: relative;
    overflow: hidden;
    gap:.4em;
    justify-items: center;
    align-items: center;
}
.displayMessage
{
    transform: translate(0,0);
}
.text
{
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 700;
    font-family: "Jost", sans-serif;
}
.icon
{
    margin-right: .15rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.close
{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.close>svg>path
{
    fill: rgb(174, 174, 174);
    transition: fill .3s ease;
}
.close:hover>svg>path
{
    fill: rgb(214, 214, 214);
}
.progress
{
    position: absolute;
    bottom: 0;
    left:0;
    right: 0;
    height: .25rem;
    border-radius: 10px;
    
}
.progressFill
{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    width: 0%;
    transition: width 3s linear .3s;
    border-radius: 10px;
    background-color: rgb(144, 144, 144);
}
.progressFilled
{
    width: 100%;
}