.overlay
{
    position: fixed;
    top:0;
    left:0;
    bottom: 0;
    right: 0;
    background-color: #32323252;
    backdrop-filter: blur(12px);
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container
{
    background-color: #014040;
    padding: 3rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border:.6rem solid #03A678;
    border-radius: 2.5rem;
    position: relative;
    width: 50rem;
}
.back
{
    position: absolute;
    top:4rem;
    left:3rem;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
}
.backSVG
{
     width: 100%;
    height: 100%;
    fill: rgb(108, 108, 108);
    transition:fill .3s ease
}

.backWhileLoading
{
    cursor: default;
}
.backWhileLoading>.backSVG
{
    fill: rgb(90, 90, 90) !important;
}
.header
{
    color: white;
    font-size: 2.2rem;
    font-weight: 900;
    width: 100%;
    text-align: center;
    padding: 0 2rem;
    cursor: default;
    font-family: "Cause", cursive;
}
.header::selection
{
    background:none;
}
.btn
{
    font-size: 2rem;
    font-weight: 900;
    color: white;
    outline: none;
    background: none;
    padding: .8rem 1.5rem;
    border-radius: 1rem;
    border:0;
    background: #02735E;
    width: 100%;
    transition: background .3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    cursor: pointer;
    width: 85%;
    margin-top: 1.5rem;
    font-family: "Jost", sans-serif;
}
.btn::selection
{
    background: none;
}
.inputContainer
{
    width: 100%;
    height: 5rem;
    position: relative;
    cursor: pointer;
    width: 85%;
    margin: 2.5rem 0 1.5rem 0;
}
.inputContainerWhileLoading
{
    cursor: default;
}
.input
{
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom: .5rem;
    outline: none;
    color: white;
    text-align: center;
    font-size: 2.4rem;
    border: 0;
    background: none;
    cursor: pointer;
    padding: 0 3.5rem;
}
.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus
{
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
  -webkit-text-fill-color: white !important;
  transition: background-color 9999s ease-out 0s;
  caret-color: white !important;
}
.input::placeholder
{
    color: grey;
    font-weight: 700;
}
.input:focus
{
    cursor: text;
}
.inputWhileLoading
{
    cursor: default;
}
.inputBorder
{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: .5rem;
    background-color: #878787;
    border-radius: 10px;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}
.inputBorderFill
{
    height: 100%;
    width: 100%;
    background-color: #03A678;
    border-radius: 10px;
    transform: scaleX(0);
    transition: transform .3s ease-out;
}
.borderBottomFilled
{
    transform: scaleX(1);
}
.eye
{
    position: absolute;
    right: .5rem;
    top:50%;
    translate: 0 -50%;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
}
.eyeWhileLoading
{
    cursor: default;
}
.error
{
    width: 100%;
    color: #fc3333;
    font-weight: 700;
    font-family: "Jost", sans-serif;
    font-size: 2rem;
    text-align: center;
}
.btnWhileLoading
{
    background-color: rgb(48, 48, 48) !important;
    cursor: default;
}
.loadingIcon
{
    width: 2.8rem;
    height: 2.8rem;
    transform: scale(1.8);
}
@media (max-width:1200px)
{

    .container
    {
        border-radius: 2.5rem;
    }
    .back
    {
        width: 3.5rem;
        height: 3.5rem;
    }
    .header
    {
        font-size: 2.4rem;
    }
    .btn
    {
        font-size: 2.2rem;
        border-radius: 1.2rem;
        border:0;
    }
    .error
    {
        font-size: 2.2rem;
    }
    .inputContainer
    {
        height: 5rem;
        margin: 2.5rem 0 1.5rem 0;
    }
    .input
    {
        font-size: 2.6rem;
        padding: 0 4rem;
    }
    .eye
    {
        top:45%;
        width: 2.8rem;
        height: 2.8rem;
    }
    .loadingIcon
    {
        width: 3rem;
        height: 3rem;
    }
}
@media (max-width:768px)
{
    .overlay
    {
        background-color: #3232328a;
    }
    .container
    {
        padding: 3rem 4rem 4.5rem 4rem;
        border:1rem solid #03A678;
        border-radius: 3.5rem;
        width: 70rem;
    }
    .back
    {
        top:5.5rem;
        left:3rem;
        width: 4rem;
        height: 4rem;
    }
    .header
    {
        font-size: 3.7rem;
    }
    .btn
    {
        font-size: 3.5rem;
        padding: 1rem 1.5rem;
        border-radius: 2rem;
        margin-top: 2.5rem;
    }
    .inputContainer
    {
        height: 8rem;
        margin: 3.5rem 0 2.5rem 0;
    }
    .input
    {
        bottom: .8rem;
        font-size: 3.5rem;
        padding: 0 6rem;
    }
    .inputBorder
    {
        height: .8rem;
    }
    .eye
    {
        right: 1rem;
        top:calc(50%-4rem);
        width: 4rem;
        height: 4rem;
    }
    .error
    {
        font-size: 3rem;
    }
    .loadingIcon
    {
        width: 5rem;
        height: 5rem;
        transform: scale(1.8);
    }
}
@media(max-width:450px)
{
    .overlay
    {
        background-color: #252525a9;
    }
    .container
    {
        padding: 4rem 3rem 5rem 3rem;
        border:1rem solid #03A678;
        border-radius: 5rem;
        width: 92vw;
    }
    .back
    {
        top:4.5rem;
        left:2rem;
        width: 5rem;
        height: 5rem;
    }
    .header
    {
        font-size: 4rem;
        padding: 0 4rem;
    }
    .btn
    {
        font-size: 4.5rem;
        padding: 1.5rem 1.5rem;
        border-radius: 3rem;
        margin-top: 3.2rem;
    }
    .inputContainer
    {
        height: 9.5rem;
        margin: 3rem 0 3.2rem 0;
    }
    .input
    {
        bottom: .5rem;
        font-size: 4rem;
        padding: 0 7rem;
    }
    .inputBorder
    {
        height: 1rem;
    }
    .eye
    {
        width: 4.5rem;
        height: 4.5rem;
    }
    .error
    {
        font-size: 3.5rem;
    }
    .loadingIcon
    {
        width: 6rem;
        height: 6rem;
    }
}
@media (hover:hover) and (pointer:fine)
{
    .btn:hover
    {
        background: #03A678;
    }
    .back:hover>.backSVG
    {
        fill: #cdcdcd;
    }
}