.overlay
{
    position: fixed;
    top:0;
    left:0;
    bottom: 0;
    right: 0;
    background-color: #32323252;
    backdrop-filter: blur(10px);
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container
{
    background-color: #014040;
    backdrop-filter: blur(10px);
    padding: 3rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border:.6rem solid #03A678;
    border-radius: 2.5rem;
    position: relative;
    width: 50rem;
}
.back
{
    position: absolute;
    top:4rem;
    left:3rem;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
}
.backSVG
{
     width: 100%;
    height: 100%;
    fill: rgb(108, 108, 108);
    transition:fill .3s ease
}
.back:hover>.backSVG
{
    fill: #cdcdcd;
}
.backWhileLoading
{
    cursor: default;
}
.backWhileLoading>.backSVG
{
    fill: rgb(90, 90, 90) !important;
}
.header
{
    color: white;
    font-size: 2.2rem;
    font-weight: 900;
    width: 100%;
    text-align: center;
    padding: 0 2rem;
    cursor: default;
    font-family: "Cause", cursive;
}
.header::selection
{
    background:none;
}
.btn
{
    font-size: 2rem;
    font-weight: 900;
    color: white;
    outline: none;
    background: none;
    padding: .8rem 1.5rem;
    border-radius: 1rem;
    border:0;
    background: #02735E;
    width: 100%;
    transition: background .3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    cursor: pointer;
    width: 85%;
    margin-top: 1.5rem;
    font-family: "Jost", sans-serif;
}
.btn::selection
{
    background: none;
}
.btn:hover
{
    background: #03A678;
}
.inputContainer
{
    width: 100%;
    height: 5rem;
    position: relative;
    cursor: pointer;
    width: 85%;
    margin: 2.5rem 0 1.5rem 0;
}
.inputContainerWhileLoading
{
    cursor: default;
}
.input
{
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom: .5rem;
    outline: none;
    color: white;
    text-align: center;
    font-size: 2.4rem;
    border: 0;
    background: none;
    cursor: pointer;
    padding: 0 3.5rem;
}

.input::placeholder
{
    color: grey;
    font-weight: 700;
}
.input:focus
{
    cursor: text;
}
.inputWhileLoading
{
    cursor: default;
}
.inputBorder
{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: .5rem;
    background-color: #878787;
    border-radius: 10px;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}
.inputBorderFill
{
    height: 100%;
    width: 100%;
    background-color: #03A678;
    border-radius: 10px;
    transform: scaleX(0);
    transition: transform .3s ease-out;
}
.borderBottomFilled
{
    transform: scaleX(1);
}
.eye
{
    position: absolute;
    right: .5rem;
    top:50%;
    translate: 0 -50%;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
}
.eyeWhileLoading
{
    cursor: default;
}
.error
{
    width: 100%;
    color: #fc3333;
    font-weight: 700;
    font-family: "Jost", sans-serif;
    font-size: 2rem;
    text-align: center;
}
.btnWhileLoading
{
    background-color: rgb(48, 48, 48) !important;
    cursor: default;
}
.loadingIcon
{
    width: 2.8rem;
    height: 2.8rem;
    transform: scale(1.8);
}