.container
{
    position: fixed;
    bottom: 2rem;
    left:50%;
    translate: -50% 0;
    height: 3.8rem;
    padding: .3rem .5rem;
    background-color: rgb(76, 76, 76);
    border-radius: 1rem;
    transform: translate(0,300%);
    transition: all .5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:.8rem;
    color: white;
}
.container::selection
{
    background: none;
}
.containerDisplay
{
    transform: translate(0%,0%);
}
.item
{
    width: 2.5rem;
    height: 2.5rem;
    background-color: rgb(117, 117, 117);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    cursor: pointer;
    transition: all .3s ease;
    position: relative;
}
.deleteSVG
{
    fill: rgb(255, 0, 0);
    width: 55%;
    height: 55%;
    transition: fill .3s ease;
}
.line
{
    width: .3rem;
    height: 80%;
    background-color: rgb(117, 117, 117);
    border-radius: 10px;
}
.bgColorPreview
{
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    border: .25rem solid rgb(65, 65, 65);
}
.colorItem
{
    position: relative;
}
.itemRotate
{
    width: 5rem;
    height: 2.5rem;
    background-color: rgb(117, 117, 117);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    cursor: pointer;
    transition: all .3s ease;
    position: relative;
    gap:.1rem;
}

.input
{
    width: 2.5rem;
    height: 100%;
    outline: none;
    text-align: end;
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
    background: none;
    border: 0;
    cursor: pointer;
}
.input:focus
{
    cursor: text;
}
.input::-webkit-inner-spin-button
{
    display: none;
}
.degrees
{
    width: 1.2rem;
    height: 100%;
    font-size: 2rem;
    font-weight: 700;
}
@media(max-width:1200px)
{
    .container
    {
        height: 4rem;
        border-radius: 1.2rem;
        padding: .5rem .8rem;
    }
    .menuItem
    {
        width: 2.7rem;
        height: 2.7rem;
        border-radius: 1.1rem;
    }
    .deleteSVG
    {
        width: 60%;
        height: 60%;
    }
    .bgColorPreview
    {
        width: 1.8rem;
        height: 1.8rem;
        border: .3rem solid rgb(65, 65, 65);
    }
    .itemRotate
    {
        width: 6rem;
        height: 2.7rem;
        gap:.2rem;
    }
    .input
    {
        width: 3rem;
        font-size: 1.7rem;
    }
    .degrees
    {
        font-size: 2.2rem;
    }
}
@media(max-width:768px)
{
    .container
    {
        height: 6rem;
        padding: .5rem 1rem;
        border-radius: 1.8rem;
        gap:1rem;
    }
    .item
    {
        width: 4.5rem;
        height: 4.5rem;
        border-radius: 1.8rem;
    }
    .deleteSVG
    {
        width: 60%;
        height: 60%;
    }
    .line
    {
        width: .5rem;
    }
    .bgColorPreview
    {
        width: 3rem;
        height: 3rem;
        border: .4rem solid rgb(65, 65, 65);
    }
    .itemRotate
    {
        width: 10rem;
        height: 4.5rem;
        border-radius: 1.8rem;
        gap:.2rem;
    }
    .input
    {
        width: 5rem;
        font-size: 2.5rem;
    }
    .degrees
    {
        width: 1.5rem;
        font-size: 3.5rem;
    }
}
@media(max-width:450px)
{
    .container
    {
        height: 10rem;
        padding: 1rem 2rem;
        border-radius: 3rem;
        gap:1.5rem;
    }
    .item
    {
        width: 6.5rem;
        height: 6.5rem;
        border-radius: 2.5rem;
    }
    .line
    {
        width:.8rem;
        height: 65%;
    }
    .bgColorPreview
    {
        width: 4.5rem;
        height:4.5rem;
        border: .6rem solid rgb(65, 65, 65);
    }
    .itemRotate
    {
        width: 16rem;
        height: 6.5rem;
        border-radius: 2.5rem;
        gap:.2rem;
    }
    .input
    {
        width: 7rem;
        font-size: 4rem;
    }
    .degrees
    {
        width: 2.5rem;
        font-size: 5rem;
    }
}
@media(hover: hover) and (pointer: fine)
{
    .itemRotate:hover
    {
        background-color: rgb(146, 146, 146);
    }
    .item:hover
    {
        background-color: rgb(146, 146, 146);
    }
}