.main
{
    width: 100%;
    height: 100svh;
    position: relative;
    overflow: hidden;
    background: linear-gradient(-35deg,#03A678 1%,#014040 60%);
}
.form
{
    width: 100%;
}
.formContainer
{
    position: absolute;
    top:50%;
    translate: -50% -50%;
    left:25%;
    width: 32rem;
    background-color: #014040;
    border-radius: 2rem;
    border:.5rem solid #03A678;
    box-shadow: 0 0 1rem .2rem #03A678;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 2rem;
    color: white;
    transition: transform 1s ease;
    transform-origin: center;
}
.formContainerHidden
{
    transform: scale(0);
}
.header
{
    font-weight: 900;
    font-size: 2.5rem;
    text-shadow: -.15rem .15rem 0 #03A678;
    font-family: "Cause", cursive;
    cursor: default;
    text-align: center;
}
.header::selection
{
    background: none;
}
.backgroundSVG
{
    position: absolute;
    width: 45rem;
    top:60vh;
    translate: 0 -50%;
    right: 2.5%;
    padding: 3rem;
}
.logo
{
    position: absolute;
    top:50vh;
    right: 25%;
    translate: 50% -250%;
    width: 35rem;
}
.error
{
    width: 100%;
    color: #fc3333;
    font-weight: 700;
    font-family: "Jost", sans-serif;
    font-size: 1.2rem;
    height: 1.8rem;
    text-align: center;
}
.passwordContainer
{
    margin: 1.5rem 0 1.5rem 0;
}
.resetPassword
{
    margin: 1.5rem 0 1rem 0 !important;
}
.pageLoading
{
    position: absolute;
    top:50%;
    translate: -50% -50%;
    left:25%;
    width: 12rem;
    height: 12rem;
}
.pageLoadingSVG
{
    width: 100%;
    height: 100%;
}
.pageErrorContainer
{
    position: absolute;
    top:50%;
    translate: -50% -50%;
    left:25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:1rem;
}
.errorIcon
{
    width: 8rem;
    height: 8rem;
}
.pageErrorContainer>h2
{
    color: white;
    width: 100%;
    text-align: center;
    font-weight: 900;
    font-size: 2rem;
    font-family: "Cause", cursive;
}
.backBtn
{
    color: white;
    font-size: 1.6rem;
    font-weight: 900;
    padding: 1rem 2rem;
    background: #02735E;
    border-radius: 1.5rem;
    outline: none;
    border: 0;
    cursor: pointer;
    font-family: "Jost", sans-serif;
    margin-top:.8rem;
    transition: background .3s ease;
}
@media (max-width:1200px)
{
    .header
    {
        font-size: 2.7rem;
    }
    .error
    {
        font-size: 1.4rem;
        height: 2rem;
    }
    .passwordContainer
    {
        margin: 2rem 0 2em 0;
    }
    .resetPassword
    {
        margin: 2rem 0 1.2rem 0 !important;
    }
    .errorIcon
    {
        width: 9rem;
        height: 9rem;
    }
    .pageErrorContainer>h2
    {
        font-size: 2.2rem;
    }
    .pageErrorContainer
    {
        gap:1.2rem;
    }
    .backBtn
    {
        font-size: 1.8rem;
    }
}
@media(max-width:768px)
{
    .main
    {
        background: linear-gradient(-35deg,#02735E 1%,#014040 60%);
    }
    .formContainer
    {
        width: 85%;
        top:55%;
        left:50%;
        border:1rem solid #03A678;
        box-shadow: 0 0 2rem .2rem #03A678;
        padding: 3rem 3.5rem 4rem 3.5rem;
        gap:3rem;
        border-radius: 3.5rem;
    }
    .header
    {
        font-size: 6rem;
        text-shadow: -.35rem .3rem 0 #03A678;
    }
    .backgroundSVG
    {
       display: none;
    }
    .logo
    {
        left:50%;
        right: auto;
        translate: -50% 0;
        top:3rem;
        width: auto;
        height: 13rem;
    }
    .error
    {
        font-size:3rem;
        height: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .passwordContainer
    {
        margin:1rem 0 5rem 0;
    }
    .resetPassword
    {
        margin: 5rem 0 3rem 0 !important;
    }
    .pageLoading
    {
        left:50%;
        width: 18rem;
        height: 18rem;
    }
.pageErrorContainer
{
    left:50%;
    gap:2rem;
    width: 100%;
}
.errorIcon
{
    width: 20rem;
    height: 20rem;
}
.pageErrorContainer>h2
{
    font-size: 5rem;
    font-family: "Cause", cursive;
}
.backBtn
{
    font-size: 4rem;
    font-weight: 900;
    padding: 1.5rem 3rem;
    border-radius: 2rem;
    margin-top:2rem;
}
}
@media(max-width:450px)
{
    .main
    {
      background: #014040;
    }
    .formContainer
    {
        top:52.5%;
        translate: 0% -50%;
        left:0;
        right: 0;
        width: 100%;
        background: none;
        border:0;
        box-shadow: none;
        gap:4rem;
        padding: 0 4rem;
        transition: transform 1.5s ease;
    }
    .header
    {
        font-size: 8rem;
        text-shadow: -.6rem .4rem 0 #03A678;
    }
    .backgroundSVG
    {
        display: none;
    }
    .logo
    {
        right: 50%;
        top:2rem;
        translate: -50% 0%;
        max-width: 70vw;
        width: 50rem;
        height: auto;
    }
    .error
    {
        font-size: 3.5rem;
        height: 4rem;
    }
    .passwordContainer
    {
        margin: 2rem 0 3rem 0;
    }
    .resetPassword
    {
        margin: 5rem 0 4rem 0 !important;
    }
    .pageLoading
    {
        left:50%;
        width: 20rem;
        height: 20rem;
    }
    .pageErrorContainer
    {
        left:50%;
        gap:2rem;
    }
    .errorIcon
    {
        width: 16rem;
        height: 16rem;
    }
    .pageErrorContainer>h2
    {
        font-size: 5rem;
    }
    .backBtn
    {
        font-size: 3.5rem;
        padding: 2rem 4rem;
        border-radius: 2.5rem;
        margin-top:2rem;
    }
}
@media (hover:hover) and (pointer:fine)
{
    .backBtn:hover
    {
        background: #03A678;
    }
}