.container
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100svh;
    background-color: #014040;
    position: relative;
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
    
}
.main
{
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 2rem;
    overflow: hidden;
    box-shadow: 0 0 1rem .5rem #02735E;
    border: .5rem solid #282828;
    background: linear-gradient(-35deg,#03A678 1%,#014040 60%);
}
.formContainer
{
    position: absolute;
    top:50%;
    translate: 0 -50%;
    left:8%;
    width: 32rem;
    background-color: #014040;
    border-radius: 2rem;
    border:.5rem solid #03A678;
    box-shadow: 0 0 1rem .2rem #03A678;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 2rem;
    color: white;
    transition: transform 1s ease;
    transform-origin: center;
}
.formContainerHidden
{
    transform: scale(0);
}
.header
{
    font-weight: 900;
    font-size: 2.5rem;
    text-shadow: -.15rem .15rem 0 #03A678;
    font-family: "Cause", cursive;
}
.backgroundSVG
{
    position: absolute;
    height: 80%;
    width: 50%;
    bottom: 0;
    right: 0rem;
    padding: 4rem;
    transition: opacity 1s ease;
}
.logo
{
    position: absolute;
    top:5%;
    right:7%;
    width: 35rem;
}
.error
{
    width: 100%;
    color: #fc3333;
    font-weight: 700;
    font-family: "Jost", sans-serif;
    font-size: 1.2rem;
    height: 1.8rem;
    text-align: center;
}
.passwordContainer
{
    margin: 1.5rem 0 1.5rem 0;
}
.resetPassword
{
    margin: 1.5rem 0 1rem 0;
}
.btn
{
    margin-top: 1rem;
}
.pageLoading
{
    position: absolute;
    top:50%;
    translate: -50% -50%;
    left:25%;
    width: 10rem;
    height: 10rem;
}
.pageLoadingSVG
{
    width: 100%;
    height: 100%;
}
.pageErrorContainer
{
    position: absolute;
    top:50%;
    translate: -50% -50%;
    left:25%;
    width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:1rem;
}
.errorIcon
{
    width: 8rem;
    height: 8rem;
}
.pageErrorContainer>h2
{
    color: white;
    width: 100%;
    text-align: center;
    font-weight: 900;
    font-size: 2rem;
    font-family: "Cause", cursive;
}
.backBtn
{
    color: white;
    font-size: 1.6rem;
    font-weight: 900;
    padding: 1rem 2rem;
    background: #02735E;
    border-radius: 1.5rem;
    outline: none;
    border: 0;
    cursor: pointer;
    font-family: "Jost", sans-serif;
    margin-top:.8rem;
    transition: background .3s ease;
}
.backBtn:hover
{
    background: #03A678;
}