.main
{
    width: 100%;
    height: 100svh;
    position: relative;
    overflow: hidden;
    background: linear-gradient(-35deg,#03A678 1%,#014040 60%);
}
.formContainer
{
    position: absolute;
    top:50%;
    translate: -50% -50%;
    left:25%;
    width: 32rem;
    background-color: #014040;
    border-radius: 2rem;
    border:.5rem solid #03A678;
    box-shadow: 0 0 1rem .2rem #03A678;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 2rem;
    color: white;
    transition: transform 1s ease;
    transform-origin: center;
}
.formContainerHidden
{
    transform: scale(0);
}
.header
{
    font-weight: 900;
    font-size: 2.5rem;
    text-shadow: -.15rem .15rem 0 #03A678;
    font-family: "Cause", cursive;
}
.backgroundSVG
{
    position: absolute;
    width: 45rem;
    top:60vh;
    translate: 0 -50%;
    right: 2.5%;
    padding: 3rem;
}
.logo
{
    position: absolute;
    top:50vh;
    right: 25%;
    translate: 50% -250%;
    width: 35rem;
}
.error
{
    width: 100%;
    color: #fc3333;
    font-weight: 700;
    font-family: "Jost", sans-serif;
    font-size: 1.2rem;
    height: 1.8rem;
    text-align: center;
}
.passwordContainer
{
    margin: 1.5rem 0 1.5rem 0;
}
.resetPassword
{
    margin: 1.5rem 0 1rem 0 !important;
}
.pageLoading
{
    position: absolute;
    top:50%;
    translate: -50% -50%;
    left:25%;
    width: 12rem;
    height: 12rem;
}
.pageLoadingSVG
{
    width: 100%;
    height: 100%;
}
.pageErrorContainer
{
    position: absolute;
    top:50%;
    translate: -50% -50%;
    left:25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:1rem;
}
.errorIcon
{
    width: 8rem;
    height: 8rem;
}
.pageErrorContainer>h2
{
    color: white;
    width: 100%;
    text-align: center;
    font-weight: 900;
    font-size: 2rem;
    font-family: "Cause", cursive;
}
.backBtn
{
    color: white;
    font-size: 1.6rem;
    font-weight: 900;
    padding: 1rem 2rem;
    background: #02735E;
    border-radius: 1.5rem;
    outline: none;
    border: 0;
    cursor: pointer;
    font-family: "Jost", sans-serif;
    margin-top:.8rem;
    transition: background .3s ease;
}
.backBtn:hover
{
    background: #03A678;
}
@media (max-width:1200px)
{
    .header
    {
        font-size: 2.7rem;
    }
    .error
    {
        font-size: 1.4rem;
        height: 2rem;
    }
    .passwordContainer
    {
        margin: 2rem 0 2em 0;
    }
    .resetPassword
    {
        margin: 2rem 0 1.2rem 0 !important;
    }
    .errorIcon
    {
        width: 9rem;
        height: 9rem;
    }
    .pageErrorContainer>h2
    {
        font-size: 2.2rem;
    }
    .pageErrorContainer
    {
        gap:1.2rem;
    }
    .backBtn
    {
        font-size: 1.8rem;
    }
}