.element
{
    position: absolute;
    top:50%;
    left:50%;
    translate: -50% -50%;
    border-radius: 1rem;
    border:5px solid transparent;
    min-width: 80px;
    min-height: 80px;
    width: 200px;
    height: 200px;
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.resize
{
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: rgb(90, 90, 90);
    border-radius: 50%;
    display: none;
    bottom:-6px;
    right: -6px;
    cursor: nw-resize;
    
}
.img
{
    width: 100%;
    height: auto;
}
.img::selection
{
    background: none;
}
.loading
{
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    background-color: rgb(229, 229, 229);
    border-radius: .8rem;
    display: flex !important;
    justify-content: center;
    align-items: center;
}
.error
{
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    background-color: rgb(229, 229, 229);
    border-radius: 1rem;
    color: rgb(0, 0, 0);
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: .5rem;
    gap:.3rem;
}
.error>h2
{
    font-weight: 900;
    font-size: 1.4rem;
    text-align: center;
}
.errorSVG
{
    width: 40%;
    height: 40%;
}