.element
{
    position: absolute;
    top:50%;
    left:50%;
    translate: -50% -50%;
    border-radius: 1rem;
    border:.2rem solid transparent;
    min-width: 8rem;
    min-height: 8rem;
    width: 10rem;
    height: 10rem;
    padding: .5rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.resize
{
    position: absolute;
    width: .8rem;
    height: .8rem;
    background-color: rgb(106, 106, 106);
    border-radius: 50%;
    display: none;
    bottom:-.2rem;
    right: -.2rem;
    cursor: nw-resize;
    
}
.img
{
    /* max-width: 100%;
    max-height: 100%; */
    width: 100%;
    height: auto;
}
.img::selection
{
    background: none;
}
.loading
{
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    background-color: rgb(229, 229, 229);
    border-radius: .8rem;
    display: flex !important;
    justify-content: center;
    align-items: center;
}
.error
{
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    background-color: rgb(229, 229, 229);
    border-radius: 1rem;
    color: rgb(0, 0, 0);
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: .5rem;
    gap:.3rem;
}
.error>h2
{
    font-weight: 900;
    font-size: 1.4rem;
    text-align: center;
}