.element
{
    position: absolute;
    top:50%;
    left:50%;
    translate: -50% -50%;
    border-radius: 1rem;
    border:.2rem solid transparent;
    min-height: 3rem;
    min-width: 3rem;
    width: 12rem;
    height: 12rem;
    padding: .5rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.resize
{
    position: absolute;
    width: .8rem;
    height: .8rem;
    background-color: rgb(106, 106, 106);
    border-radius: 50%;
    display: none;
    bottom:-.2rem;
    right: -.2rem;
    cursor: nw-resize;
    
}
.img
{
    max-width: 100%;
    max-height: 100%;
}
.img::selection
{
    background: none;
}
.loading
{
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    /* background-color: red; */
    border-radius: 1rem;
}
.error
{
     position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    /* background-color: blue; */
    border-radius: 1rem;
    color: rgb(0, 0, 0);
}