.container
{
    position: fixed;
    bottom: 2rem;
    left:50%;
    translate: -50% 0;
    height: 3.8rem;
    padding: .3rem .5rem;
    background-color: rgb(76, 76, 76);
    border-radius: 1rem;
    transform: translate(0,300%);
    transition: all .5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:.8rem;
    color: white;
}
.display
{
    transform: translate(0,0);
}
.item
{
    width: 2.5rem;
    height: 2.5rem;
    background-color: rgb(117, 117, 117);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    cursor: pointer;
    transition: all .3s ease;
    position: relative;
}

.line
{
    width: .3rem;
    height: 80%;
    background-color: rgb(117, 117, 117);
    border-radius: 10px;
}
.deleteSVG
{
    fill: rgb(255, 0, 0);
    margin-left: .1rem;
    width: 55%;
    height: 55%;
    transition: fill .3s ease;
}
.deleteItem
{
    border-radius: 50%;
}
.colorPreview
{
    width: 1.6rem;
    height: 1.6rem;
    border-radius: .5rem;
    border-style: solid;
    border-width: .25rem;
}
.widthMenu
{
    width: 8rem;
    bottom: 3.3rem;
    left:50%;
    translate: -50% 0;
    background-color: rgb(76, 76, 76);
    position: absolute;
    border-radius: .5rem;
    overflow: hidden;
}
.borderWidthPreview
{
    width: 70%;
    height: .5rem;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}
.borderWidthOption
{
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 .5rem;
    font-size: 1.2rem;
    letter-spacing: .05rem;
    font-weight: 900;
    font-family: "Jost", sans-serif;
}

.width6
{
    width: 100%;
    height: 1rem;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}
.width5
{
    width: 100%;
    height: .8rem;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}
.width4
{
    width: 100%;
    height: .6rem;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}
.width3
{
    width: 100%;
    height: .4rem;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}
.width2
{
    width: 100%;
    height: .2rem;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}
.selected
{
    background-color: rgb(146, 146, 146) !important;
    cursor: default;
}
.contrastItem,
.brightnessItem,
.cornerItem,
.borderWidth,
.borderColor
{
    position: relative;
}
.cornerMenu
{
    bottom: 3.3rem;
    left: 50%;
    translate: -50% 0;
    background-color: rgb(76, 76, 76);
    position: absolute;
    border-radius: .5rem;
    overflow: hidden;
    display: flex;
}
.cornerMenuItem
{
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.filterMenu
{
    position: absolute;
    bottom: 3.3rem;
    height: 3rem;
    background-color: rgb(76, 76, 76);
    position: absolute;
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    cursor: default;
    gap:.5rem;
}
@media(max-width:1200px)
{
    .container
    {
        height: 4rem;
        border-radius: 1.2rem;
        padding: .5rem .8rem;
    }
    .item
    {
        width: 2.7rem;
        height: 2.7rem;
        border-radius: 1.1rem;
    }
    .deleteSVG
    {
        margin-left: 0;
        width: 60%;
        height: 60%;
    }
    .colorPreview
    {
        width: 1.8rem;
        height: 1.8rem;
        border-radius: .6rem;
        border-width: .3rem;
    }
    .widthMenu
    {
        bottom: 3.6rem;
        border-radius: .6rem;
    }
    .borderWidthPreview
    {
        height: .55rem;
    }
    .borderWidthOption
    {
        font-size: 1.4rem;
    }
    .cornerMenu
    {
        bottom: 3.6rem;
        border-radius: .6rem;
    }
    .cornerMenuItem
    {
        width: 3.2rem;
        height: 3.2rem;
    }
    .filterMenu
    {
        bottom: 3.6rem;
        height: 3rem;
        border-radius: .6rem;
    }
}
@media(max-width:768px)
{
    .container
    {
        height: 6rem;
        padding: .5rem 1rem;
        border-radius: 1.8rem;
        gap:1rem;
    }
    .item
    {
        width: 4.5rem;
        height: 4.5rem;
        border-radius: 1.8rem;
    }
    .line
    {
        width: .5rem;
    }
    .deleteSVG
    {
        margin-left: 0;
        width: 60%;
        height: 60%;
    }
    .colorPreview
    {
        width: 3rem;
        height: 3rem;
        border-radius: .8rem;
        border-width: .4rem;
    }
    .widthMenu
    {
        width: 10rem;
        bottom: 6rem;
        border-radius: 1rem;
    }
    .borderWidthPreview
    {
        height: .8rem;
    }
    .borderWidthOption
    {
        height: 3.5rem;
        padding: 0 .8rem;
        font-size: 2rem;
        letter-spacing: .2rem;
    }
    .width6
    {
        height: 1.6rem;
    }
    .width5
    {
        height: 1.2rem;
    }
    .width4
    {
        height: 1rem;
    }
    .width3
    {
        height: .6rem;
    }
    .width2
    {
        height: .5rem;
    }
    .cornerMenu
    {
        bottom: 6rem;
        border-radius: 1rem;
    }
    .cornerMenuItem
    {
        width: 5rem;
        height: 5rem;
    }
    
    .filterMenu
    {
        bottom: 6rem;
        height: 5rem;
        border-radius: 1rem;
        padding: 1rem 2rem;
        gap:.5rem;
    }
}
@media(hover: hover) and (pointer: fine)
{
    .cornerMenuItem:hover
    {
        background-color: rgb(117, 117, 117);
    }
    .borderWidthOption:hover
    {
        background-color: rgb(117, 117, 117);
    }
    .item:hover
    {
        background-color: rgb(146, 146, 146);
    }
}