.container
{
    position: absolute;
    bottom: 3.3rem;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgb(76, 76, 76);
    border-radius: .5rem;
    padding: .5rem;
    gap:.3rem;
}
.item
{
    width: 3rem;
    height: 3rem;
    border-radius: .5rem;
    border:.25rem solid rgb(0, 0, 0);
    transition: all .3s ease;
}
.item:hover
{
    border:.25rem solid rgb(43, 43, 43);
}
.selected
{
    border:.25rem solid rgb(243, 243, 243) !important;
}