.menu
{
    position: fixed;
    bottom: 2rem;
    left:50%;
    translate: -50% 0;
    height: 3.8rem;
    background-color: rgb(76, 76, 76);
    border-radius: 1rem;
    transform: translate(0,300%);
    transition: all .5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:.8rem;
    color: white;
    padding: .3rem .5rem;
}
.menu::selection
{
    background: none;
}
.display
{
    transform: translate(0,0);
}
.item
{
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(117, 117, 117);
    border-radius: 1rem;
    cursor: pointer;
    transition: all .3s ease;
    position: relative;
}
.bgColor
{
    position: relative;
}
.bgTemplate
{
    position: relative;
}
/* .errorSvg
{
    width: 40%;
    height: 40%;
}
.errorContainer
{
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    background-color: rgb(117, 117, 117);
    transform: scale(0);
    transition: all .3s ease;
} */
.errorContainerDisplay
{
    transform: scale(1);
}
.zoomIcon
{
    width: 70%;
    height: 70%;
}
.icon
{
    width: 80%;
    height: 80%;
    fill: white;
}
.line
{
    width: .3rem;
    height: 70%;
    background-color: grey;
    border-radius: 10px;
}
.shapesItem
{
    position: relative;
}
.colorPreview
{
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    border: .25rem solid rgb(65, 65, 65);
}
.templatePreview
{
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    border: .25rem solid rgb(65, 65, 65);
    display: flex;
    justify-content: center;
    align-items: center;
}
.img
{
    width: 100%;
    height: 100%;
}
@media(max-width:1200px)
{
    .menu
    {
        height: 4rem;
        border-radius: 1.2rem;
        padding: .5rem .8rem;
    }
    .item
    {
        width: 2.7rem;
        height: 2.7rem;
        border-radius: 1.1rem;
    }
    .colorPreview
    {
        width: 1.8rem;
        height: 1.8rem;
        border: .3rem solid rgb(65, 65, 65);
    }
    .templatePreview
    {
        width: 1.8rem;
        height: 1.8rem;
        border: .3rem solid rgb(65, 65, 65);
    }
    .colorPreview
    {
        width: 1.8rem;
        height: 1.8rem;
        border: .3rem solid rgb(65, 65, 65);
    }
    .templatePreview
    {
        width: 1.8rem;
        height: 1.8rem;
        border: .3rem solid rgb(65, 65, 65);
    }
}
@media(max-width:768px)
{
    .menu
    {
        position: fixed;
        bottom: 2rem;
        height: 6rem;
        background-color: rgb(76, 76, 76);
        border-radius: 1.8rem;
        gap:1rem;
        padding: .5rem 1rem;
    }
    .item
    {
        width: 4.5rem;
        height: 4.5rem;
        border-radius: 1.8rem;
    }
    .line
    {
        width: .5rem;
        height: 80%;
    }
    .colorPreview
    {
        width: 3rem;
        height: 3rem;
        border: .4rem solid rgb(65, 65, 65);
    }
    .templatePreview
    {
        width: 3rem;
        height: 3rem;
        border: .4rem solid rgb(65, 65, 65);
    }
}
@media(max-width:450px)
{
    .menu
    {
        height: 10rem;
        border-radius: 3rem;
        padding: 1rem 2rem;
    }
    .item
    {
        width: 6.5rem;
        height: 6.5rem;
        border-radius: 2.5rem;
    }
    .line
    {
        width: .8rem;
        height: 65%;
    }
    .colorPreview
    {
        width: 4.8rem;
        height: 4.8rem;
        border: .6rem solid rgb(65, 65, 65);
    }
    .templatePreview
    {
        width: 4.8rem;
        height:4.8rem;
        border: .6rem solid rgb(65, 65, 65);
    }
}
@media(hover:hover) and (pointer: fine)
{
    .item:hover
    {
        background-color: rgb(146, 146, 146);
    }
}