.menu
{
    position: fixed;
    bottom: 2rem;
    left:50%;
    translate: -50% 0;
    height: 3.8rem;
    background-color: rgb(76, 76, 76);
    border-radius: 1rem;
    transform: translate(0,300%);
    transition: all .5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:.8rem;
    color: white;
    padding: .3rem .5rem;
}
.menu::selection
{
    background: none;
}
.display
{
    transform: translate(0,0);
}
.item
{
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(117, 117, 117);
    border-radius: 1rem;
    cursor: pointer;
    transition: all .3s ease;
    position: relative;
}
.bgColor
{
    position: relative;
}
.bgTemplate
{
    position: relative;
}
.errorSvg
{
    width: 40%;
    height: 40%;
}
.errorContainer
{
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    background-color: rgb(117, 117, 117);
    transform: scale(0);
    transition: all .3s ease;
}
.errorContainerDisplay
{
    transform: scale(1);
}
.zoomIcon
{
    width: 70%;
    height: 70%;
}
.icon
{
    width: 80%;
    height: 80%;
    fill: white;
}
.line
{
    width: .3rem;
    height: 70%;
    background-color: grey;
    border-radius: 10px;
}
.shapesItem
{
    position: relative;
}
.item:hover
{
    background-color: rgb(146, 146, 146);
}
.colorPreview
{
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    border: .25rem solid rgb(65, 65, 65);
}
.templatePreview
{
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    border: .25rem solid rgb(65, 65, 65);
    display: flex;
    justify-content: center;
    align-items: center;
}
.img
{
    width: 100%;
    height: 100%;
}