.element
{
    position: absolute;
    top:50%;
    left:50%;
    translate: -50% -50%;
    border-radius: 18px;
    border:5px solid transparent;
    min-height: 60px;
    min-width: 60px;
    width: 150px;
    height: 100px;
    padding: 10px;
    cursor: pointer;
}
.resize
{
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: rgb(90, 90, 90);
    border-radius: 50%;
    display: none;
    bottom:-6px;
    right: -6px;
    cursor: nw-resize;
    
}
.textArea
{
    resize: none;
    width: 100%;
    height: 100%;
    outline: none;
    border: 0;
    background: none;
    overflow: hidden;
    font-size: .8rem;
}
.textArea::-webkit-scrollbar
{
    width: 0;
    height: 0;
}
.textArea::placeholder
{
    top:50%;
    position: absolute;
    left:50%;
    translate: -50% -50%;
}