.element
{
    position: absolute;
    top:50%;
    left:50%;
    translate: -50% -50%;
    border-radius: 1rem;
    border:.2rem solid transparent;
    min-height: 3rem;
    min-width: 3rem;
    width: 7rem;
    height: 5rem;
    padding: .5rem;
    cursor: pointer;
}
.resize
{
    position: absolute;
    width: .8rem;
    height: .8rem;
    background-color: rgb(106, 106, 106);
    border-radius: 50%;
    display: none;
    bottom:-.2rem;
    right: -.2rem;
    cursor: nw-resize;
    
}
.textArea
{
    resize: none;
    width: 100%;
    height: 100%;
    outline: none;
    border: 0;
    background: none;
    overflow: hidden;
    font-size: .8rem;
}
.textArea::-webkit-scrollbar
{
    width: 0;
    height: 0;
}
.textArea::placeholder
{
    top:50%;
    position: absolute;
    left:50%;
    translate: -50% -50%;
}