.container
{
    position: absolute;

    translate: -50% 0;
    background-color: rgb(76, 76, 76);
    padding: .6rem .8rem;
    border-radius: 1.5rem;
    display: flex;
    gap:.5rem;
    color: white;
    align-items: center;
    bottom: 0;
    left:50%;
    transform: scale(0);
    opacity: 0;
    transition: all .3s ease;
}
.display
{
    bottom: 4rem;
    transform: scale(1);
    opacity: 1;
}
.input
{
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    border: 0;
    outline: none;
    padding: .4rem .3rem;
    background: none;
    border: .2rem solid rgb(117, 117, 117);
    color: white;
    cursor: pointer;
    border-radius: .8rem;
    font-family: "Cause", cursive;
}
.input::placeholder
{
    color: rgb(186, 186, 186);
}
.input:focus
{
    border: .2rem solid rgb(146, 146, 146);
    cursor: text;
}
.line
{
    width:.3rem;
    height: 100%;
    border-radius: 10px;
    background-color: rgb(117, 117, 117);
    margin:0 .3rem;
    height: 2rem;
}
.btn
{
    font-size: 1rem;
    font-weight: 700;
    padding: .5rem .8rem;
    border-radius: .8rem;
    border:0;
    outline: none;
    color: white;
    background-color: rgb(117, 117, 117);
    cursor: pointer;
    position: relative;
    text-wrap: nowrap;
    font-family: "Cause", cursive;
}
.btn:hover
{
    background-color: rgb(146, 146, 146);
}
.inputFile
{
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom:0;
    opacity: 0;
    cursor: pointer !important;
}
.inputError
{
    border: .2rem solid rgb(255, 0, 0) !important;
}