.viewport
{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-color: #014040;
}
.projectName
{
    position: fixed;
    top:.5rem;
    left:50%;
    translate: -50% 0;
    text-align: center;
    width: 18rem;
    padding: .6rem 1rem 1rem 1rem;
    background: none;
    z-index: 2;
    outline: none;
    border: 0;
    font-size: 1.8rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 900;
    cursor: pointer;
    color: rgb(130, 130, 130);
    font-family: "Cause", cursive;
}
.code
{
    position: fixed;
    top:3.6rem;
    left:50%;
    translate: -50% 0;
    text-align: center;
    z-index: 2;
    font-size: 1.2rem;
    font-weight: 900;
    color: rgb(130, 130, 130);
    font-family: "Cause", cursive;
}
.back
{
    position: fixed;
    top:1rem;
    left:1rem;
    width: 1.8rem;
    height: 1.8rem;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 3;
    
}
.back:hover>.arrowSvg
{
    fill: rgb(164, 164, 164);
}
.arrowSvg
{
    fill: grey;
    width: 100%;
    height: 100%;
    transition: fill .3s ease;
}
.projectName:focus
{
    cursor: text;
}
.board
{
    position: absolute;
    top:0;
    left:0;
    transform-origin: 0 0;
    width: 5000px;
    height: 5000px;
    border-radius: 10rem;
}
.dragElement
{
    position: fixed;
    top:.2rem;
    left:.2rem;
    bottom: .2rem;
    right: .2rem;
    border-radius: 2rem;
    background-color: #2a2f2771;
    backdrop-filter: blur(10px);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1rem;
    border:.5rem dashed #2A2F27;
    color: white;
    font-family: "Cause", cursive;
}
.dragDropIcon
{
    width: 5rem;
    height: 5rem;
    fill: white;
}
.dropHeader
{
    font-size: 3rem;
    font-weight: 900;
}
.messageContainer
{
    position: fixed;
    bottom: 2rem;
    right: 1rem;
    gap:.8rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    transition: bottom .2s ease;
}
.adjustBottom
{
    bottom: 4rem;
}
.globalLoading
{
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loadingSVG
{
    width: 100%;
    height: 100%;
}
.loading
{
    position: fixed;
    top:0;
    left:0;
    bottom: 0;
    right: 0;
    background-color: #014040;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s ease-in;
    flex-direction: column;
}
.loadingHide
{
    opacity: 0;
}
.pageLoadingIcon
{
    width: 10rem;
    height: 10rem;
}
.loadingError
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:1rem;
}
.errorLoadingIcon
{
    width: 7rem;
    height: 7rem;
}
.loadingError>h2
{
    font-size: 2.5rem;
    color: white;
    margin-bottom: 1.2rem;
    font-weight: 900;
    font-family: "Manrope", sans-serif;
}
.loadingError>button
{
    font-size: 2rem;
    outline: none;
    background: rgb(70, 70, 70);
    border:.4rem solid rgb(112, 112, 112);
    color: white;
    padding: .5rem 1.2rem;
    border-radius: 1.5rem;
    cursor: pointer;
    font-weight: 700;
    transition: background .3s ease;
    font-family: "Jost", sans-serif;
}
.loadingError>button:hover
{
    background: rgb(112, 112, 112);
}
.loggedMenu
{
    position: fixed;
    top:1rem;
    right: 1rem;
    width: 3rem;
    height: 3rem;
    z-index: 2;
    display: flex;
}