.viewport
{
    width: 100vw;
    height: 100svh;
    overflow: hidden;
    position: relative;
    background-color: #014040;
}
.projectName
{
    position: fixed;
    top:.5rem;
    left:50%;
    translate: -50% 0;
    text-align: center;
    width: 25rem;
    padding: .6rem 1rem 1rem 1rem;
    background: none;
    z-index: 2;
    outline: none;
    border: 0;
    font-size: 1.8rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 900;
    cursor: pointer;
    color: rgb(130, 130, 130);
    font-family: "Cause", cursive;
}
.code
{
    position: fixed;
    top:3.6rem;
    left:50%;
    translate: -50% 0;
    text-align: center;
    z-index: 2;
    font-size: 1.2rem;
    font-weight: 900;
    color: rgb(130, 130, 130);
    font-family: "Cause", cursive;
}
.logo
{
    position: fixed;
    top:1rem;
    left: 1rem;
    width: 13rem;
    z-index: 2;
    cursor: pointer;
    z-index: 3;
    transition: transform .3s ease;  
}
.projectName:focus
{
    cursor: text;
}
.board
{
    position: absolute;
    top:0;
    left:0;
    transform-origin: 0 0;
    width: 5000px;
    height: 5000px;
    border-radius: 10rem;
    touch-action: none;
}
.dragElement
{
    position: fixed;
    top:.5rem;
    left:.5rem;
    bottom: .5rem;
    right: .5rem;
    border-radius: 2rem;
    backdrop-filter: blur(10px);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1rem;
    background-color: #2a2f2771;
    border:.5rem dashed #2A2F27;
    color: white;
    font-family: "Cause", cursive;
}
.dragDropIcon
{
    width: 5rem;
    height: 5rem;
    fill: white;
}
.dropHeader
{
    font-size: 3rem;
    font-weight: 900;
}
.messageContainer
{
    position: fixed;
    bottom: 2rem;
    right: 1rem;
    gap:.8rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    transition: bottom .2s ease;
}
.adjustBottom
{
    bottom: 6rem;
}
.globalLoading
{
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loadingSVG
{
    width: 100%;
    height: 100%;
}
.loading
{
    position: fixed;
    top:0;
    left:0;
    bottom: 0;
    right: 0;
    background-color: #014040;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s ease-in;
    flex-direction: column;
}
.loadingHide
{
    opacity: 0;
}
.loadingError
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:1rem;
}
.errorLoadingIcon
{
    width: 7rem;
    height: 7rem;
}
.loadingError>h2
{
    font-size: 2.5rem;
    color: white;
    margin-bottom: 1.2rem;
    font-weight: 900;
    font-family: "Manrope", sans-serif;
}
.loadingError>button
{
    font-size: 2rem;
    outline: none;
    background: rgb(70, 70, 70);
    border:.4rem solid rgb(112, 112, 112);
    color: white;
    padding: .5rem 1.2rem;
    border-radius: 1.2rem;
    cursor: pointer;
    font-weight: 700;
    transition: background .3s ease;
    font-family: "Jost", sans-serif;
}
.loggedMenu
{
    position: fixed;
    top:1rem;
    right: 1rem;
    width: 3rem;
    height: 3rem;
    z-index: 2;
    display: flex;
}
.loggedMenu::selection
{
    background: none;
}
@media (max-width:1200px)
{
    .loadingError
    {
        gap:1.5rem;
    }
    .errorLoadingIcon
    {
        width: 9rem;
        height: 9rem;
    }
    .loadingError>h2
    {
        font-size: 2.7rem;
    }
    .loadingError>button
    {
        font-size: 2.2rem;
        padding: .7rem 1.5rem;
        border-radius: 1.4rem;
    }
    .loggedMenu
    {
        width: 3.8rem;
        height: 3.8rem;
    }
    .projectName
    {  
        font-size: 2rem;
    }
    .code
    {
        top:4rem;
        font-size: 1.4rem;
    }
    .logo
    {
        width: 14rem;
    }
    .dragElement
    {
        position: fixed;
        border-radius: 3rem;
        border:.7rem dashed #2A2F27;
    }
    .dragDropIcon
    {
        width: 7rem;
        height: 7rem;
    }
    .dropHeader
    {
        font-size: 3.5rem;
    }
}
@media (max-width:768px) {
    .projectName
    {
        top:.5rem;
        width: 40rem;
        padding: .5rem 0;
        font-size: 3rem;
    }
    .code
    {
        top:5rem;
        font-size: 2.5rem;
    }
    .logo
    {
        top:1.5rem;
        width: 18rem;
    }
    .board
    {
        border-radius: 20rem;
    }
    .dragElement
    {
        border-radius: 3rem;
        border:.8rem dashed #2A2F27;
    }
    .dragDropIcon
    {
        width: 10rem;
        height: 10rem;
    }
    .dropHeader
    {
        font-size: 5rem;
    }
    .globalLoading
    {
        width: 5rem;
        height: 5rem;
        bottom: 2.5rem;
        right: 1rem;
    }
    .loadingError
    {
        gap:2rem;
    }
    .errorLoadingIcon
    {
        width: 16rem;
        height: 16rem;
    }
    .loadingError>h2
    {
        font-size: 3.5rem;
        margin-bottom: 1rem;
    }
    .loadingError>button
    {
        font-size: 3rem;
        border:.8rem solid rgb(112, 112, 112);
        padding: 1rem 2rem;
        border-radius: 2rem;
    }
    .loggedMenu
    {
        width: 6rem;
        height: 6rem;
    }
    .messageContainer
    {
        bottom: 10rem;
        right: 1rem;
        gap:1.2rem;
    }
    .adjustBottom
    {
        bottom: 10rem;
    }
}
@media(max-width:450px)
{
    .projectName
    {
        left:1.5rem;
        translate: 0 0;
        top:10.5rem;
        width: 30rem;
        padding: 0;
        font-size: 4.2rem;
        text-align: start;
    }
    .code
    {
        top:16.5rem;
        translate: 0 0;
        left:1.5rem;
        font-size: 3rem;
    }
    .logo
    {
        top:2rem;
        width: 30rem;
    }
    .dragElement
    {
        border-radius: 5rem;
        border:1rem dashed #2A2F27;
    }
    .dragDropIcon
    {
        width: 12rem;
        height: 12rem;
    }


    .globalLoading
    {
        width: 5rem;
        height: 5rem;
        bottom: 2.5rem;
        right: 1rem;
    }


    .loadingError
    {
        gap:2rem;
    }
    .errorLoadingIcon
    {
        width: 18rem;
        height: 18rem;
    }
    .loadingError>h2
    {
        font-size: 4rem;
        margin-bottom: 2rem;
    }
    .loadingError>button
    {
        font-size: 3.5rem;
        border:1rem solid rgb(112, 112, 112);
        padding: 1rem 3rem 1.2rem 3rem;
        border-radius: 3rem;
    }
    .loggedMenu
    {
        right: 1.5rem;
        top:1.5rem;
        width: 8rem;
        height: 8rem;
    }


    .messageContainer
    {
        bottom: 10rem;
        right: 1rem;
        gap:1.2rem;
    }
    .adjustBottom
    {
        bottom: 10rem;
    }
}
@media(hover:hover) and (pointer: fine)
{
    .loadingError>button:hover
    {
        background: rgb(112, 112, 112);
    }
    .logo:hover
    {
        transform: scale(1.05) rotate(-2deg);
    }
}