.container
{
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    z-index: 3;
    transform: translate(0%,-100%);
    transition: transform .5s ease;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    display: flex;
    background: linear-gradient(-35deg,#03A678 1%,#014040 60%);
    background-position: bottom;
    background-size: cover;
    z-index: 5;
}
.displayContainer
{
    transform: translate(0,0);
}
.back
{
    position: absolute;
    top:1.5rem;
    left:1.2rem;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.backSVG
{
    width: 100%;
    height: 100%;
    fill: rgb(143, 143, 143);
    transition:fill .3s ease;
}
.back:hover>.backSVG
{
    fill: #cdcdcd;
}
.backWhileLoading
{
    cursor: default;
}
.backWhileLoading>.backSVG
{
    fill: rgb(75, 75, 75) !important;
}
.backgroundSVG
{
    position: absolute;
    width: 45rem;
    top:60vh;
    translate: 0 -50%;
    right: 2.5%;
    padding: 3rem;
    opacity: 0;
    transition: opacity 1s ease;
}
.logo
{
    position: absolute;
    top:50vh;
    right: 25%;
    translate: 50% -250%;
    width: 35rem;
}
.svgDisplay
{
    opacity: 1;
}
@media (max-width:1200px) {
    .back
    {
        width: 2.5rem;
        height: 2.5rem;
    }
}
@media (max-width:768px)
{
    .container
    {
         background: linear-gradient(-35deg,#02735E 1%,#014040 60%);
    }
    .backgroundSVG
    {
        display: none;
    }
    .logo
    {
        left:50%;
        right: auto;
        translate: -50% 0;
        top:3rem;
        width: auto;
        height: 13rem;
    }
    .back
    {
        width: 5rem;
        height: 5rem;
        top:7rem;
        left: 3rem;
    }
}
@media(max-width:450px)
{
    .container
    {
        border-bottom-left-radius: 3rem;
        border-bottom-right-radius: 3rem;
        background: #014040;
        transition: transform 1s ease;
    }
    .back
    {
        top:5.5rem;
        left:1.5rem;
        width: 6rem;
        height: 6rem;
    }
    .backgroundSVG
    {
        display: none;
    }
    .logo
    {
        right: 50%;
        top:2rem;
        translate: -50% 0%;
        max-width: 70vw;
        width: 50rem;
        height: auto;
    }
}