.loginForm
{
    position: absolute;
    top:50%;
    translate: 0 -50%;
    left:8%;
    width: 32rem;
    background-color: #014040;
    border-radius: 2rem;
    border:.5rem solid #03A678;
    box-shadow: 0 0 1rem .2rem #03A678;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 2rem;
    color: white;
    transform: scale(0);
    transition: transform 1s ease;
    transform-origin: center;
    gap:1.8rem;
}
.header
{
    font-weight: 900;
    font-size: 2rem;
    text-shadow: -.15rem .15rem 0 #03A678;
}
.display
{
    transform: scale(1);
}
.form
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:2.5rem;
}
.inputContainer
{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border:.3rem solid #02735E;
    border-radius: 1rem;
    cursor: pointer;
    transition: border .5s ease;
}
.containerFocused
{
     border:.3rem solid #03A678;
}
.input
{
    width: 100%;
    height: 100%;
    background: none;
    font-size: 2rem;
    padding: .6rem .8rem;
    outline: none;
    border: 0;
    color: white;
    cursor: pointer;
    font-size: 1.7rem;
}
.inputFocused
{
    cursor: text;
}
.placeholder
{
    position: absolute;
    top:50%;
    translate: 0% -50%;
    left:0rem;
    cursor: pointer;
    transition: all .3s ease ;
    background-color: #014040;
    padding: 0 1rem;
    font-size: 1.4rem;
    color: rgb(186, 186, 186);
    font-weight: 700;
}
.placeholderFocused
{
    top:-.3rem;
    left:2rem;
    font-size: 1.2rem;
}
.placeholderColorWhileFocused
{
    color: white;

}
.eye
{
    position: absolute;
    top:50%;
    right: .5rem;
    translate: 0 -50%;
    width: 2rem;
    height: 2rem;
}
.passwordInput
{
    padding-right: 2.8rem;
}
.loginBtn
{
    width: 100%;
    font-size: 1.8rem;
    color: white;
    background: #02735E;
    border-radius: 1.2rem;
    font-weight: 900;
    border: .3rem solid #03A678;
    padding: .5rem .8rem;
    cursor: pointer;
    transition: all .3s ease;
}
.loginBtn:hover
{
    background: #F27405;
    border: .3rem solid #F27405;
}
.line
{
    width: 100%;
    height: .3rem;
    background-color: #707070;
    border-radius: 10px;
}
.googleLogin
{
    width: 100%;
    font-size: 1.3rem;
    color: white;
    background: #414141;
    border-radius: 1.2rem;
    font-weight: 900;
    border: .3rem solid #707070;
    padding: .7rem .8rem;
    cursor: pointer;
    transition: all .3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:.8rem;
}
.googleLogin:hover
{
     background: #707070;
}
.googleSVG
{
    width: 1.8rem;
    height: 1.8rem;
}
.bottomLink
{
    width: 100%;
    font-size: 1.2rem;
    color: rgb(186, 186, 186);
    font-weight: 700;
    cursor: default;
    text-align: center;
}
.link
{
    color: #03A678;
    text-decoration: underline .1rem #03A678;
    transition: all .3s ease;
    cursor: pointer;
}
.link:hover
{
    color: #F27405;
    text-decoration: underline .1rem #F27405;
}