.container
{
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    z-index: 3;
    transform: translate(0%,-100%);
    transition: transform .5s ease;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    display: flex;
    background: linear-gradient(-35deg,#03A678 1%,#014040 60%);
    background-position: bottom;
    background-size: cover;
    z-index: 5;
}
.displayContainer
{
    transform: translate(0,0);
}
.back
{
    position: absolute;
    top:1.2rem;
    left:1.2rem;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.backSVG
{
    width: 100%;
    height: 100%;
    fill: rgb(143, 143, 143);
    transition:fill .3s ease
}
.back:hover>.backSVG
{
    fill: #cdcdcd;
}
.backWhileLoading
{
    cursor: default;
}
.backWhileLoading>.backSVG
{
    fill: rgb(75, 75, 75) !important;
}
.image
{
    position: absolute;
    height: 100%;
    width: 60%;
    top:0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 3rem;
}
.backgroundSVG
{
    width: 100%;
    transform: scale(1.1);
}
.logo
{
    position: absolute;
    top:7%;
    right:8%;
    width: 30rem;
}