.loginForm
{
    position: absolute;
    top:50%;
    translate: -50% -50%;
    left:25%;
    width: 32rem;
    background-color: #014040;
    border-radius: 2rem;
    border:.5rem solid #03A678;
    box-shadow: 0 0 1rem .2rem #03A678;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 2rem;
    color: white;
    transform: scale(0);
    transition: transform 1s ease;
    transform-origin: center;
    gap:1.8rem;
}
.loginForm2
{
    gap:1rem;
}
.header
{
    font-weight: 900;
    font-size: 2.5rem;
    text-shadow: -.15rem .15rem 0 #03A678;
    font-family: "Cause", cursive;
    cursor: default;
    text-align: center;
}
.headerMargin
{
    margin-bottom: 1.2rem;
}
.display
{
    transform: scale(1);
}
.form
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.passwordForgotten
{
    font-size: .9rem;
    font-weight: 900;
    margin-top:1rem;
    cursor: pointer;
    color: rgb(191, 191, 191);
}
.emailInputContainer
{
    margin-bottom: 2rem;
}
.inputContainer
{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border:.3rem solid #02735E;
    border-radius: 1rem;
    cursor: pointer;
    transition: border .5s ease;
}
.inputContainerWhileLoading>.input,
.inputContainerWhileLoading>.placeholder,
.inputContainerWhileLoading
{
    cursor: default;
}
.containerFocused
{
     border:.3rem solid #03A678;
}
.input
{
    width: 100%;
    height: 100%;
    background: none;
    font-size: 2rem;
    padding: .6rem .8rem;
    outline: none;
    border: 0;
    color: white;
    cursor: pointer;
    font-size: 1.7rem;
}
.inputFocused
{
    cursor: text;
}
.placeholder
{
    position: absolute;
    top:50%;
    translate: 0% -50%;
    left:0rem;
    cursor: pointer;
    transition: all .3s ease ;
    background-color: #014040;
    padding: 0 1rem;
    font-size: 1.5rem;
    color: rgb(186, 186, 186);
    font-weight: 700;
    font-family: "Jost", sans-serif;
}
.placeholderFocused
{
    top:-.3rem;
    left:2rem;
    font-size: 1.2rem;
}
.placeholderColorWhileFocused
{
    color: white;

}
.eye
{
    position: absolute;
    top:50%;
    right: .5rem;
    translate: 0 -50%;
    width: 2rem;
    height: 2rem;
}
.passwordInput
{
    padding-right: 2.8rem;
}
.loginBtn
{
    width: 100%;
    font-size: 1.8rem;
    color: white;
    background: #02735E;
    border-radius: 1.2rem;
    font-weight: 900;
    border: .3rem solid #03A678;
    padding: .5rem .8rem .6rem .8rem;
    cursor: pointer;
    transition: background .3s ease, border .3s ease;
    z-index: 3;
    outline: none;
}
.line
{
    width: 100%;
    height: .3rem;
    background-color: #707070;
    border-radius: 10px;
}
.googleLogin
{
    width: 100%;
    font-size: 1.3rem;
    color: white;
    background: #414141;
    border-radius: 1.2rem;
    font-weight: 900;
    border: .3rem solid #707070;
    padding: .7rem .8rem;
    cursor: pointer;
    transition: all .3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:.8rem;
}
.googleSVG
{
    width: 1.8rem;
    height: 1.8rem;
}
.bottomLink
{
    width: 100%;
    font-size: 1.2rem;
    color: rgb(186, 186, 186);
    font-weight: 700;
    cursor: default;
    text-align: center;
}
.link
{
    color: #03A678;
    text-decoration: underline .1rem #03A678;
    transition: all .3s ease;
    cursor: pointer;
}
.linkWhileLoading
{
    color: #03A678 !important;
    text-decoration: underline .1rem #03A678 !important;
    cursor: default;
}
.page1
{
     width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.page2
{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top:0;
    left:0;
    bottom: 0;
    right: 0;
    background-color: #014040;
}
.userImg
{
    width: 6.5rem;
    height: 6.5rem;
    border-radius: 50%;
    border:.4rem solid #02735E;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all .3s ease;
    cursor: pointer;
}
.userImg>img
{
    width: 100%;
}
.imgOverlay
{
    position: absolute;
    top:0;
    left:0;
    bottom: 0;
    right: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.683);
    backdrop-filter: blur(10px);
    transition: opacity .3s ease;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.chooseImg
{
    width: 60%;
    font-weight: 900;
    font-size: 1.4rem;
    padding: .6rem .7rem;
    border-radius: 1rem;
    background: #02735E;
    outline: none;
    border:.3rem solid #02735E;
    color: rgb(212, 212, 212);
    margin-bottom: 2.8rem;
    cursor: pointer;
    transition: all .3s ease;
    font-family: "Cause", cursive;
    position: relative;
    margin-top: .8rem;
}
.pageHidden
{
    opacity: 0;
}
.error
{
    width: 100%;
    color: #fc3333;
    font-weight: 700;
    font-family: "Jost", sans-serif;
    font-size: 1.2rem;
    height: 1.8rem;
    margin-bottom: .8rem;
    margin-top: .5rem;
    text-align: center;
    cursor: default;
}
.registerForm
{
    gap:0;
}
.fileInput
{
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    opacity: 0;
    cursor: pointer;
}
.error2
{
    width: 100%;
    color: #fc3333;
    font-weight: 700;
    font-family: "Jost", sans-serif;
    font-size: 1.2rem;
    text-align: center;
    cursor: default;
}
.error3
{
    width: 100%;
    color: #fc3333;
    font-weight: 700;
    font-family: "Jost", sans-serif;
    font-size: 1.2rem;
    text-align: center;
    margin-top: .5rem;
    cursor: default; 
}
.loading
{
    width: 3.5rem;
    height: 3.5rem;
}
.btnLoading
{
    background-color: rgb(48, 48, 48) !important;
    border: .3rem solid rgb(48, 48, 48) !important;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
}
.error4
{
    width: 100%;
    color: #fc3333;
    font-weight: 700;
    font-family: "Jost", sans-serif;
    font-size: 1.4rem;
    height: 2rem;
    margin-top: .5rem;
    text-align: center;
    cursor: default;
}
.loginBtnMargin
{
    margin-top: 1rem;
}
.passwordResetInfo
{
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    gap:1.5rem;
    margin-bottom: 1rem;
    cursor: default;
    color: rgb(205, 205, 205);
}
.passwordResetInfo::selection
{
    background: none;
}
.chooseImg::selection,
.error::selection,
.error2::selection,
.error3::selection,
.error4::selection,
.bottomLink::selection,
.loginBtn::selection,
.googleLogin::selection,
.placeholder::selection,
.passwordForgotten::selection,
.header::selection
{
    background: none;
}
@media (max-width:1200px) {
    .loginForm
    {
        width: 34rem;
        border-radius: 2.5rem;
    }
    .header
    {
        font-size: 3rem;
    }
    .passwordForgotten
    {
        font-size: 1.1rem;
        margin-top: 1.2rem;
    }
    .inputContainer
    {
         border:.35rem solid #02735E;
         border-radius: 1.2rem;
    }
    .containerFocused
    {
        border:.35rem solid #03A678;
    }
    .input
    {
        font-size: 2.1rem;
    }
    .placeholder{
        left: .2rem;
        font-size: 1.7rem;
    }
    .placeholderFocused
    {
        font-size: 1.4rem;
            left:2rem;
    }
    .eye
    {
        width: 2.2rem;
        height: 2.2rem;
        right: .6rem;
    }
    .passwordInput
    {
        padding-right: 3rem;
    }
    .loginBtn
    {
        border: .4rem solid #03A678;
    }
    .loginBtnMargin
    {
        margin-top: 1.2rem;
    }
    .googleLogin
    {
        border: .4rem solid #707070;
        font-size: 1.4rem;
    }
    .googleSVG
    {
        width: 1.9rem;
        height: 1.9rem;
    }
    .line
    {
        height: .4rem;
    }
    .bottomLink
    {
        font-size: 1.3rem;
    }
    .error4
    {
        font-size: 1.6rem;
        height: 2.2rem;
    }
    .error
    {
        font-size: 1.4rem;
        height: 2rem;
    }
    .userImg
    {
         width: 7.5rem;
        height: 7.5rem;
        border:.5rem solid #02735E;
    }
    .chooseImg
    {
        width: 70%;
        font-size: 1.8rem;
        border-radius: 1.2rem;
        border:.4rem solid #02735E;
        margin-bottom: 2.6rem;
        margin-top: 1rem;
    }
    .error3
    {
        font-size: 1.4rem;
        margin-top: .6rem;
    }
    .error2
    {   
        font-size: 1.4rem;
    }
    .btnLoading
    {
        border: .4rem solid rgb(48, 48, 48) !important;
    }
}
@media (max-width:768px)
{
    .loginForm
    {
        width: 85%;
        top:55%;
        left:50%;
        translate: -50% -50%;
        border:1rem solid #03A678;
        box-shadow: 0 0 2rem .2rem #03A678;
        padding: 3rem 3.5rem 4rem 3.5rem;
        gap:3rem;
        border-radius: 3.5rem;
    }
    .header
    {
        font-size: 6rem;
        text-shadow: -.35rem .3rem 0 #03A678;
    }
    .passwordForgotten
    {
        font-size: 2.2rem;
        margin-top:2.5rem;
    }
    .emailInputContainer
    {
        margin-bottom: 4rem;
    }
    .inputContainer
    {
        border:.7rem solid #02735E;
        border-radius: 2.5rem;
    }
    .containerFocused
    {
        border:.7rem solid #03A678;
    }
    .input
    {
        font-size: 3.5rem;
        padding: 1.5rem 1.8rem;
    }
    .placeholder
    {
        left:.8rem;
        font-size: 3rem;
    }
    .placeholderFocused
    {
        top:-.3rem;
        left:4rem;
        font-size: 2.3rem;
    }
    .eye
    {
        right: 1.5rem;
        width: 4rem;
        height: 4rem;
    }
    .passwordInput
    {
        padding-right: 6.8rem;
    }
    .loginBtn
    {
        margin-top: 2rem;
        font-size: 3.5rem;
        border-radius: 2.5rem;
        border: .7rem solid #03A678;
        padding: 1rem 1rem 1.2rem 1rem;
    }
    .btnLoading
    {
        border: .7rem solid rgb(48, 48, 48) !important;
    }
    .loading
    {
        width: 5rem;
        height: 5rem;
        transform: scale(1.5);
    }
    .line
    {
        height: .6rem;
    }
    .googleLogin
    {
        font-size: 2.6rem;
        border-radius: 2.5rem;
        border: .7rem solid #707070;
        padding: 1.5rem;
        gap:1.2rem;
    }
    .googleSVG
    {
        width: 3rem;
        height: 3rem;
    }
    .bottomLink
    {
        font-size: 2.2rem;
    }
    .link
    {
        text-decoration: underline .2rem #03A678;
    }
    .linkWhileLoading
    {
        text-decoration: underline .2rem #03A678 !important;
    }
    .error4
    {
        font-size:3rem;
        height: 3.5rem;
        font-weight: 900;
        margin-top: .5rem;
        margin-bottom: .5rem;
    }
    .error
    {
        font-size: 2.8rem;
        height: 4rem;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
    .registerClearMargin
    {
        margin: 0;
        margin-bottom:.7rem;
    }
    .registerHeader
    {
        margin-bottom: 1rem;
    }
    .userImg
    {
        width: 15rem;
        height: 15rem;
        border:1rem solid #02735E;
    }
    .chooseImg
    {
        width: 80%;
        font-size: 3.5rem;
        padding: .8rem 1.5rem;
        border-radius: 2rem;
        border:.8rem solid #02735E;
        margin: 2.5rem 0 4rem 0;
    }
    .error3
    {
        font-size: 2.8rem;
        margin-top: .8rem;
    }
    .passwordResetInfo
    {
        font-size: 3.3rem;
        gap:2rem;
        margin-bottom: 0rem;
    }
    .error2
    {
        font-size: 3rem;
    }
    .passwordForgottenClearMargin
    {
        margin: 0;
    }
    .loginForm2
    {
        gap:2.5rem;
    }
    .loginBtnWithoutMargin
    {
        margin: 0;
    }
}
@media (hover:hover) and (pointer:fine)
{
    .loginBtn:hover
    {
        background: #F27405;
        border: .3rem solid #F27405;
    }
    .googleLogin:hover
    {
         background: #707070;
    }
    .link:hover
    {
        color: #F27405;
        text-decoration: underline .1rem #F27405;
    }
    .passwordForgotten:hover
    {
        color: #03A678;
        text-decoration: underline .1rem #03A678;
    }
    .passwordForgottenWhileLoading:hover
    {
        text-decoration: none;
        color: rgb(191, 191, 191);
        cursor: default;
    }
    .googleLoginWhileLoading:hover
    {
         background: #414141;
         cursor: default;
    }
    .userImg:hover
    {
        border:.5rem solid #03A678;
    }
    .userImgWhileLoading:hover
    {
        border:.5rem solid #02735E;
        cursor: default;
    }
    .userImg:hover>.imgOverlay
    {
        opacity: 1;
    }
    .userImgWhileLoading:hover>.imgOverlay
    {
        opacity: 0;
        cursor: default;
    }
    .chooseImg:hover
    {
        background-color: #03A678;
        border: .3rem solid #03A678;
        color: white;
    }
    .chooseImgWhileLoading:hover
    {
        border:.3rem solid #02735E;
        background: #02735E;
        color: rgb(212, 212, 212);
        cursor: default;
    }
    .chooseImgWhileLoading:hover>.fileInput
    {
        cursor: default;
    }
    @media (max-width: 1200px) {
        .loginBtn:hover
        {
            border: .4rem solid #F27405;
        }
        .chooseImg:hover
        {
            border: .4rem solid #03A678;
        }
        .chooseImgWhileLoading:hover
        {
            border:.4rem solid #02735E;
        }
        }
    @media(max-width:768px)
    {
        .loginBtn:hover
        {
            border: .7rem solid #F27405;
        }
        .passwordForgotten:hover
        {
            text-decoration: underline .2rem #03A678;
        }
        .link:hover
        {
            text-decoration: underline .2rem #F27405;
        }
        .userImg:hover
        {
            border:1rem solid #03A678;
        }
        .userImgWhileLoading:hover
        {
            border:1rem solid #02735E;
        }
         .chooseImg:hover
        {
            border: .8rem solid #03A678;
        }
        .chooseImgWhileLoading:hover
        {
            border:.8rem solid #02735E;
        }
    }
}