.loginForm
{
    position: absolute;
    top:50%;
    translate: 0 -50%;
    left:8%;
    width: 32rem;
    background-color: #014040;
    border-radius: 2rem;
    border:.5rem solid #03A678;
    box-shadow: 0 0 1rem .2rem #03A678;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 2rem;
    color: white;
    transform: scale(0);
    transition: transform 1s ease;
    transform-origin: center;
    gap:1.8rem;
}
.loginForm2
{
    gap:1rem;
}
.header
{
    font-weight: 900;
    font-size: 2rem;
    text-shadow: -.15rem .15rem 0 #03A678;
}
.headerMargin
{
    margin-bottom: 1.2rem;
}
.display
{
    transform: scale(1);
}
.form
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.passwordForgotten
{
    font-size: .9rem;
    font-weight: 900;
    margin:1.2rem 0;
    cursor: pointer;
    color: rgb(191, 191, 191);
}
.passwordForgotten:hover
{
    color: #03A678;
    text-decoration: underline .1rem #03A678;
}
.emailInputContainer
{
    margin-bottom: 2rem;
}
.inputContainer
{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border:.3rem solid #02735E;
    border-radius: 1rem;
    cursor: pointer;
    transition: border .5s ease;
}
.inputContainerWhileLoading>.input,
.inputContainerWhileLoading>.placeholder,
.inputContainerWhileLoading
{
    cursor: default;
}
.containerFocused
{
     border:.3rem solid #03A678;
}
.input
{
    width: 100%;
    height: 100%;
    background: none;
    font-size: 2rem;
    padding: .6rem .8rem;
    outline: none;
    border: 0;
    color: white;
    cursor: pointer;
    font-size: 1.7rem;
}
.inputFocused
{
    cursor: text;
}
.placeholder
{
    position: absolute;
    top:50%;
    translate: 0% -50%;
    left:0rem;
    cursor: pointer;
    transition: all .3s ease ;
    background-color: #014040;
    padding: 0 1rem;
    font-size: 1.5rem;
    color: rgb(186, 186, 186);
    font-weight: 700;
    font-family: "Jost", sans-serif;
}
.placeholderFocused
{
    top:-.3rem;
    left:2rem;
    font-size: 1.2rem;
}
.placeholderColorWhileFocused
{
    color: white;

}
.eye
{
    position: absolute;
    top:50%;
    right: .5rem;
    translate: 0 -50%;
    width: 2rem;
    height: 2rem;
}
.passwordInput
{
    padding-right: 2.8rem;
}
.loginBtn
{
    width: 100%;
    font-size: 1.8rem;
    color: white;
    background: #02735E;
    border-radius: 1.2rem;
    font-weight: 900;
    border: .3rem solid #03A678;
    padding: .5rem .8rem .6rem .8rem;
    cursor: pointer;
    transition: background .3s ease, border .3s ease;
    z-index: 3;
    outline: none;
}
.loginBtn:hover
{
    background: #F27405;
    border: .3rem solid #F27405;
}
.line
{
    width: 100%;
    height: .3rem;
    background-color: #707070;
    border-radius: 10px;
}
.googleLogin
{
    width: 100%;
    font-size: 1.3rem;
    color: white;
    background: #414141;
    border-radius: 1.2rem;
    font-weight: 900;
    border: .3rem solid #707070;
    padding: .7rem .8rem;
    cursor: pointer;
    transition: all .3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:.8rem;
}
.googleLogin:hover
{
     background: #707070;
}
.googleSVG
{
    width: 1.8rem;
    height: 1.8rem;
}
.bottomLink
{
    width: 100%;
    font-size: 1.2rem;
    color: rgb(186, 186, 186);
    font-weight: 700;
    cursor: default;
    text-align: center;
}
.link
{
    color: #03A678;
    text-decoration: underline .1rem #03A678;
    transition: all .3s ease;
    cursor: pointer;
}
.link:hover
{
    color: #F27405;
    text-decoration: underline .1rem #F27405;
}
.linkWhileLoading
{
    color: #03A678 !important;
    text-decoration: underline .1rem #03A678 !important;
    cursor: default;
}
.page1
{
     width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.page2
{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top:0;
    left:0;
    bottom: 0;
    right: 0;
    background-color: #014040;
}
.userImg
{
    width: 6.5rem;
    height: 6.5rem;
    border-radius: 50%;
    border:.4rem solid #02735E;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all .3s ease;
    cursor: pointer;
}
.userImg:hover
{
    border:.4rem solid #03A678;
}
.userImgWhileLoading:hover
{
    border:.4rem solid #02735E;
    cursor: default;
}
.userImg>img
{
    width: 100%;
}
.imgOverlay
{
    position: absolute;
    top:0;
    left:0;
    bottom: 0;
    right: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.683);
    backdrop-filter: blur(10px);
    transition: opacity .3s ease;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.userImg:hover>.imgOverlay
{
    opacity: 1;
}
.userImgWhileLoading:hover>.imgOverlay
{
    opacity: 0;
    cursor: default;
}
.chooseImg
{
    width: 60%;
    font-weight: 900;
    font-size: 1.4rem;
    padding: .6rem .7rem;
    border-radius: 1rem;
    background: #02735E;
    outline: none;
    border:.3rem solid #02735E;
    color: rgb(212, 212, 212);
    margin-bottom: 2.8rem;
    cursor: pointer;
    transition: all .3s ease;
    font-family: "Cause", cursive;
    position: relative;
    margin-top: .8rem;
}
.chooseImg:hover
{
    background-color: #03A678;
    border: .3rem solid #03A678;
    color: white;
}
.chooseImgWhileLoading:hover
{
    border:.3rem solid #02735E;
    background: #02735E;
    color: rgb(212, 212, 212);
    cursor: default;
}
.chooseImgWhileLoading:hover>.fileInput
{
    cursor: default;
}
.pageHidden
{
    opacity: 0;
}
.error
{
    width: 100%;
    color: #fc3333;
    font-weight: 700;
    font-family: "Jost", sans-serif;
    font-size: 1.2rem;
    height: 1.8rem;
    margin-bottom: .8rem;
    margin-top: .5rem;
    text-align: center;
}
.registerForm
{
    gap:0;
}
.fileInput
{
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    opacity: 0;
    cursor: pointer;
}
.error2
{
    width: 100%;
    color: #fc3333;
    font-weight: 700;
    font-family: "Jost", sans-serif;
    font-size: 1.2rem;
    text-align: center;
}
.error3
{
    width: 100%;
    color: #fc3333;
    font-weight: 700;
    font-family: "Jost", sans-serif;
    font-size: 1.2rem;
    text-align: center;
    margin-top: .5rem;
}
.loading
{
    width: 3.5rem;
    height: 3.5rem;
}
.btnLoading
{
    background-color: rgb(48, 48, 48) !important;
    border: .3rem solid rgb(48, 48, 48) !important;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
}