*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body
{
  height: 100svh;
  width: 100vw;
  overflow: hidden;
}
html
{
  font-size: 1vw;
}
img:hover,
img
{
  -webkit-user-drag: none !important;
  user-drag:none !important;
  user-select: none;
}
.editOn
{
  border: 5px solid rgb(106, 106, 106) !important;
  cursor: move !important;
}
.editOn>div
{
    display: block;
}
.bold>textarea
{
  font-weight: 900;
}
.fontSize24>textarea
{
  font-size: 45px;
}
.fontSize28>textarea
{
  font-size: 60px;
}
.fontSize32>textarea
{
  font-size: 80px;
}
.fontSize20>textarea
{
  font-size: 30px;
}
.fontSize18>textarea
{
  font-size: 25px;
}
.fontSize16>textarea
{
  font-size: 22px;
}
.fontSize14>textarea
{
  font-size: 19px;
}
.fontSize12>textarea
{
  font-size: 15px;
}
.fontSize10>textarea
{
  font-size: 12px;
}
.italic>textarea
{
  font-style: italic;
}
.alignLeft>textarea
{
  text-align: left;
}
.alignCenter>textarea
{
  text-align: center;
}
.alignRight>textarea
{
  text-align: right;
}
.alignJustify>textarea
{
  text-align: justify;
}
.colorBlack>textarea::placeholder,
.colorBlack>textarea
{
  color: black;
}
.colorWhite>textarea::placeholder,
.colorWhite>textarea
{
  color: white;
}
.colorRed>textarea::placeholder,
.colorRed>textarea
{
  color: red;
}
.colorGreen>textarea::placeholder,
.colorGreen>textarea
{
  color: rgb(0, 218, 0);
}
.colorBlue>textarea::placeholder,
.colorBlue>textarea
{
   color: rgb(0, 55, 255);
}
.colorYellow>textarea::placeholder,
.colorYellow>textarea
{
  color: yellow;
}
.colorOrange>textarea::placeholder,
.colorOrange>textarea
{
   color: rgb(255, 183, 0);
}
.bgRed1
{
  background-color: rgb(113, 0, 0);
}
.bgRed2
{
  background-color: rgb(189, 0, 0);
}
.bgRed3
{
  background-color: rgb(255, 0, 0);
}
.bgRed4
{
  background-color: rgb(252, 29, 29);
}
.bgRed5
{
  background-color: rgb(253, 77, 77);
}
.bgRed6
{
  background-color: rgb(249, 136, 136);
}
.bgOrange1
{
  background-color: rgb(142, 92, 0);
}
.bgOrange2
{
  background-color: rgb(199, 129, 0);
}
.bgOrange3
{
  background-color: rgb(255, 166, 0);
}
.bgOrange4
{
  background-color: rgb(253, 180, 43);
}
.bgOrange5
{
  background-color: rgb(255, 190, 69);
}
.bgOrange6
{
  background-color: rgb(247, 198, 105);
}
.bgYellow1
{
  background-color: rgb(105, 105, 0);
}
.bgYellow2
{
  background-color: rgb(179, 179, 0);
}
.bgYellow3
{
  background-color: rgb(255, 255, 0);
}
.bgYellow4
{
  background-color: rgb(255, 255, 63);
}
.bgYellow5
{
  background-color: rgb(249, 249, 91);
}
.bgYellow6
{
  background-color: rgb(248, 248, 131);
}
.bgGreen1
{
  background-color: rgb(0, 65, 0);
}
.bgGreen2
{
  background-color: rgb(0, 131, 0);
}
.bgGreen3
{
  background-color: rgb(0, 255, 0);
}
.bgGreen4
{
  background-color: rgb(71, 249, 71);
}
.bgGreen5
{
  background-color: rgb(139, 255, 139);
}
.bgGreen6
{
  background-color: rgb(150, 255, 150);
}
.bgBlue1
{
  background-color: rgb(0, 0, 110);
}
.bgBlue2
{
  background-color: rgb(0, 0, 169);
}
.bgBlue3
{
  background-color: rgb(0, 0, 255);
}
.bgBlue4
{
  background-color: rgb(40, 40, 255);
}
.bgBlue5
{
  background-color: rgb(77, 77, 255);
}
.bgBlue6
{
  background-color: rgb(133, 133, 250);
}
.bgPink1
{
  background-color: rgb(100, 0, 88);
}
.bgPink2
{
  background-color: rgb(154, 0, 136);
}
.bgPink3
{
  background-color: rgb(255, 0, 225);
}
.bgPink4
{
  background-color: rgb(237, 54, 253);
}
.bgPink5
{
  background-color: rgb(255, 112, 238);
}
.bgPink6
{
  background-color: rgb(250, 133, 236);
}
.bgBlack1
{
  background-color: rgb(0, 0, 0);
}
.bgBlack2
{
  background-color: rgb(54, 54, 54);
}
.bgBlack3
{
  background-color: rgb(148, 148, 148);
}
.bgBlack4
{
  background-color: rgb(192, 192, 192);
}
.bgBlack5
{
  background-color: rgb(255, 255, 255);
}
.bgBlack6
{
  background-color: rgba(0, 0, 0, 0);
}
.fontArial>textarea,
.fontArial>textarea::placeholder,
.fontArial
{
  font-family: Arial, Helvetica, sans-serif;
}
.fontCentury>textarea,
.fontCentury>textarea::placeholder,
.fontCentury
{
  font-family: 'Century Gothic';
}
.fontCourier>textarea,
.fontCourier>textarea::placeholder,
.fontCourier
{
  font-family: "Courier New";
}
.fontGothic>textarea,
.fontGothic>textarea::placeholder,
.fontGothic
{
  font-family: "Copperplate Gothic Light";
}
.fontGeorgia>textarea,
.fontGeorgia>textarea::placeholder,
.fontGeorgia
{
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.fontImpact>textarea,
.fontImpact>textarea::placeholder,
.fontImpact
{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.fontLucida>textarea,
.fontLucida>textarea::placeholder,
.fontLucida
{
  font-family: Lucida Console;
}
.fontLucidaSans>textarea,
.fontLucidaSans>textarea::placeholder,
.fontLucidaSans
{
  font-family: 'Lucida Sans Unicode';
}
.fontPalatino>textarea,
.fontPalatino>textarea::placeholder,
.fontPalatino
{
  font-family: 'Palatino Linotype';
}
.fontTahoma>textarea,
.fontTahoma>textarea::placeholder,
.fontTahoma
{
  font-family: Tahoma;
}
.fontRoman>textarea,
.fontRoman>textarea::placeholder,
.fontRoman
{
  font-family: 'Times New Roman';
}
.fontMS>textarea,
.fontMS>textarea::placeholder,
.fontMS
{
  font-family: 'Trebuchet MS';
}
.fontVerdana>textarea,
.fontVerdana>textarea::placeholder,
.fontVerdana
{
  font-family: Verdana;
}
.borderBgRed1>video,
.borderBgRed1>img
{
  border-color: rgb(113, 0, 0);
 
}
.borderBgRed2>video,
.borderBgRed2>img
{
  border-color: rgb(189, 0, 0);
}
.borderBgRed3>video,
.borderBgRed3>img
{
  border-color: rgb(255, 0, 0);
}
.borderBgRed4>video,
.borderBgRed4>img
{
  border-color: rgb(252, 29, 29);
}
.borderBgRed5>video,
.borderBgRed5>img
{
  border-color: rgb(253, 77, 77);
}
.borderBgRed6>video,
.borderBgRed6>img
{
  border-color: rgb(249, 136, 136);
}
.borderBgOrange1>video,
.borderBgOrange1>img
{
  border-color: rgb(142, 92, 0);
}
.borderBgOrange2>video,
.borderBgOrange2>img
{
  border-color: rgb(199, 129, 0);
}
.borderBgOrange3>video,
.borderBgOrange3>img
{
  border-color: rgb(255, 166, 0);
}
.borderBgOrange4>video,
.borderBgOrange4>img
{
  border-color: rgb(253, 180, 43);
}
.borderBgOrange5>video,
.borderBgOrange5>img
{
  border-color: rgb(255, 190, 69);
}
.borderBgOrange6>video,
.borderBgOrange6>img
{
  border-color: rgb(247, 198, 105);
}
.borderBgYellow1>video,
.borderBgYellow1>img
{
  border-color: rgb(105, 105, 0);
}
.borderBgYellow2>video,
.borderBgYellow2>img
{
  border-color: rgb(179, 179, 0);
}
.borderBgYellow3>video,
.borderBgYellow3>img
{
  border-color: rgb(255, 255, 0);
}
.borderBgYellow4>video,
.borderBgYellow4>img
{
  border-color: rgb(255, 255, 63);
}
.borderBgYellow5>video,
.borderBgYellow5>img
{
  border-color: rgb(249, 249, 91);
}
.borderBgYellow6>video,
.borderBgYellow6>img
{
  border-color: rgb(248, 248, 131);
}
.borderBgGreen1>video,
.borderBgGreen1>img
{
  border-color: rgb(0, 65, 0);
}
.borderBgGreen2>video,
.borderBgGreen2>img
{
  border-color: rgb(0, 131, 0);
}
.borderBgGreen3>video,
.borderBgGreen3>img
{
  border-color: rgb(0, 255, 0);
}
.borderBgGreen4>video,
.borderBgGreen4>img
{
  border-color: rgb(71, 249, 71);
}
.borderBgGreen5>video,
.borderBgGreen5>img
{
  border-color: rgb(139, 255, 139);
}
.borderBgGreen6>video,
.borderBgGreen6>img
{
  border-color: rgb(150, 255, 150);
}
.borderBgBlue1>video,
.borderBgBlue1>img
{
  border-color: rgb(0, 0, 110);
}
.borderBgBlue2>video,
.borderBgBlue2>img
{
  border-color: rgb(0, 0, 169);
}
.borderBgBlue3>video,
.borderBgBlue3>img
{
  border-color: rgb(0, 0, 255);
}
.borderBgBlue4>video,
.borderBgBlue4>img
{
  border-color: rgb(40, 40, 255);
}
.borderBgBlue5>video,
.borderBgBlue5>img
{
  border-color: rgb(77, 77, 255);
}
.borderBgBlue6>video,
.borderBgBlue6>img
{
  border-color: rgb(133, 133, 250);
}
.borderBgPink1>video,
.borderBgPink1>img
{
  border-color: rgb(100, 0, 88);
}
.borderBgPink2>video,
.borderBgPink2>img
{
  border-color: rgb(154, 0, 136);
}
.borderBgPink3>video,
.borderBgPink3>img
{
  border-color: rgb(255, 0, 225);
}
.borderBgPink4>video,
.borderBgPink4>img
{
  border-color: rgb(237, 54, 253);
}
.borderBgPink5>video,
.borderBgPink5>img
{
  border-color: rgb(255, 112, 238);
}
.borderBgPink6>video,
.borderBgPink6>img
{
  border-color: rgb(250, 133, 236);
}
.borderBgBlack1>video,
.borderBgBlack1>img
{
  border-color: black;
}
.borderBgBlack2>video,
.borderBgBlack2>img
{
  border-color: rgb(54, 54, 54);
}
.borderBgBlack3>video,
.borderBgBlack3>img
{
  border-color: rgb(148, 148, 148);
}
.borderBgBlack4>video,
.borderBgBlack4>img
{
  border-color: rgb(192, 192, 192);
}
.borderBgBlack5>video,
.borderBgBlack5>img
{
  border-color: rgb(255, 255, 255);
}
.borderBgBlack6>video,
.borderBgBlack6>img
{
  border-color: rgba(0, 0, 0, 0);
}
.borderWidth1>video,
.borderWidth1>img
{
  border-width: 0;
  border-style: solid;
}
.borderWidth2>video,
.borderWidth2>img
{
  border-width: 3px;
   border-style: solid;
}
.borderWidth3>video,
.borderWidth3>img
{
  border-width: 8px;
   border-style: solid;
}
.borderWidth4>video,
.borderWidth4>img
{
  border-width: 12px;
   border-style: solid;
}
.borderWidth5>video,
.borderWidth5>img
{
  border-width: 16px;
   border-style: solid;
}
.borderWidth6>video,
.borderWidth6>img
{
  border-width: 20px;
   border-style: solid;
}
.borderRadius1>video,
.borderRadius1>img
{
  border-radius: 0;
}
.borderRadius2>video,
.borderRadius2>img
{
  border-radius: 15px;
}
.borderRadius3>video,
.borderRadius3>img
{
  border-radius: 35px;
}
.borderRadius4>video,
.borderRadius4>img
{
  border-radius: 50%;
}
.canvas-container
{
  margin: 0;
  padding: 0;
  width: 100% !important;
  height: 100% !important;
}
.canvas
{
  width: 100% !important;
  height: 100% !important;
}
.fillRed1
{
  fill: rgb(113, 0, 0);
}
.fillRed2
{
  fill: rgb(189, 0, 0);
}
.fillRed3
{
  fill: rgb(255, 0, 0);
}
.fillRed4
{
  fill: rgb(252, 29, 29);
}
.fillRed5
{
  fill: rgb(253, 77, 77);
}
.fillRed6
{
  fill: rgb(249, 136, 136);
}
.fillOrange1
{
  fill: rgb(142, 92, 0);
}
.fillOrange2
{
  fill: rgb(199, 129, 0);
}
.fillOrange3
{
  fill: rgb(255, 166, 0);
}
.fillOrange4
{
  fill: rgb(253, 180, 43);
}
.fillOrange5
{
  fill: rgb(255, 190, 69);
}
.fillOrange6
{
  fill: rgb(247, 198, 105);
}
.fillYellow1
{
  fill: rgb(105, 105, 0);
}
.fillYellow2
{
  fill: rgb(179, 179, 0);
}
.fillYellow3
{
  fill: rgb(255, 255, 0);
}
.fillYellow4
{
  fill: rgb(255, 255, 63);
}
.fillYellow5
{
  fill: rgb(249, 249, 91);
}
.fillYellow6
{
  fill: rgb(248, 248, 131);
}
.fillGreen1
{
  fill: rgb(0, 65, 0);
}
.fillGreen2
{
  fill: rgb(0, 131, 0);
}
.fillGreen3
{
  fill: rgb(0, 255, 0);
}
.fillGreen4
{
  fill: rgb(71, 249, 71);
}
.fillGreen5
{
  fill: rgb(139, 255, 139);
}
.fillGreen6
{
  fill: rgb(150, 255, 150);
}
.fillBlue1
{
  fill: rgb(0, 0, 110);
}
.fillBlue2
{
  fill: rgb(0, 0, 169);
}
.fillBlue3
{
  fill: rgb(0, 0, 255);
}
.fillBlue4
{
  fill: rgb(40, 40, 255);
}
.fillBlue5
{
  fill: rgb(77, 77, 255);
}
.fillBlue6
{
  fill: rgb(133, 133, 250);
}
.fillPink1
{
  fill: rgb(100, 0, 88);
}
.fillPink2
{
  fill: rgb(154, 0, 136);
}
.fillPink3
{
  fill: rgb(255, 0, 225);
}
.fillPink4
{
  fill: rgb(237, 54, 253);
}
.fillPink5
{
  fill: rgb(255, 112, 238);
}
.fillPink6
{
  fill: rgb(250, 133, 236);
}
.fillBlack1
{
  fill: rgb(0, 0, 0);
}
.fillBlack2
{
  fill: rgb(54, 54, 54);
}
.fillBlack3
{
  fill: rgb(148, 148, 148);
}
.fillBlack4
{
  fill: rgb(192, 192, 192);
}
.fillBlack5
{
  fill: rgb(255, 255, 255);
}