*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body
{
  height: 100svh;
  background-color: white;
  color: black;
}
html
{
  font-size: 1vw;
}
img:hover,
img
{
  -webkit-user-drag: none !important;
  user-drag:none !important;
}
.editOn
{
  border: .2rem solid rgb(106, 106, 106) !important;
  cursor: move !important;
}
.editOn>div
{
    display: block;
}
.bold>textarea
{
  font-weight: 900;
}
.fontSize24>textarea
{
  font-size: 2rem;
}
.fontSize28>textarea
{
  font-size: 3rem;
}
.fontSize32>textarea
{
  font-size: 4rem;
}
.fontSize20>textarea
{
  font-size: 1rem;
}
.fontSize18>textarea
{
  font-size: .9rem;
}
.fontSize16>textarea
{
  font-size: .8rem;
}
.fontSize14>textarea
{
  font-size: .7rem;
}
.fontSize12>textarea
{
  font-size: .6rem;
}
.fontSize10>textarea
{
  font-size: .5rem;
}
.italic>textarea
{
  font-style: italic;
}
.alignLeft>textarea
{
  text-align: left;
}
.alignCenter>textarea
{
  text-align: center;
}
.alignRight>textarea
{
  text-align: right;
}
.alignJustify>textarea
{
  text-align: justify;
}
.colorBlack>textarea::placeholder,
.colorBlack>textarea
{
  color: black;
}
.colorWhite>textarea::placeholder,
.colorWhite>textarea
{
  color: white;
}
.colorRed>textarea::placeholder,
.colorRed>textarea
{
  color: red;
}
.colorGreen>textarea::placeholder,
.colorGreen>textarea
{
  color: rgb(0, 218, 0);
}
.colorBlue>textarea::placeholder,
.colorBlue>textarea
{
   color: rgb(0, 55, 255);
}
.colorYellow>textarea::placeholder,
.colorYellow>textarea
{
  color: yellow;
}
.colorOrange>textarea::placeholder,
.colorOrange>textarea
{
   color: rgb(255, 183, 0);
}
.bgRed1
{
  background-color: rgb(113, 0, 0);
}
.bgRed2
{
  background-color: rgb(189, 0, 0);
}
.bgRed3
{
  background-color: rgb(255, 0, 0);
}
.bgRed4
{
  background-color: rgb(252, 29, 29);
}
.bgRed5
{
  background-color: rgb(253, 77, 77);
}
.bgRed6
{
  background-color: rgb(249, 136, 136);
}
.bgOrange1
{
  background-color: rgb(142, 92, 0);
}
.bgOrange2
{
  background-color: rgb(199, 129, 0);
}
.bgOrange3
{
  background-color: rgb(255, 166, 0);
}
.bgOrange4
{
  background-color: rgb(253, 180, 43);
}
.bgOrange5
{
  background-color: rgb(255, 190, 69);
}
.bgOrange6
{
  background-color: rgb(247, 198, 105);
}
.bgYellow1
{
  background-color: rgb(105, 105, 0);
}
.bgYellow2
{
  background-color: rgb(179, 179, 0);
}
.bgYellow3
{
  background-color: rgb(255, 255, 0);
}
.bgYellow4
{
  background-color: rgb(255, 255, 63);
}
.bgYellow5
{
  background-color: rgb(249, 249, 91);
}
.bgYellow6
{
  background-color: rgb(248, 248, 131);
}
.bgGreen1
{
  background-color: rgb(0, 65, 0);
}
.bgGreen2
{
  background-color: rgb(0, 131, 0);
}
.bgGreen3
{
  background-color: rgb(0, 255, 0);
}
.bgGreen4
{
  background-color: rgb(71, 249, 71);
}
.bgGreen5
{
  background-color: rgb(139, 255, 139);
}
.bgGreen6
{
  background-color: rgb(150, 255, 150);
}
.bgBlue1
{
  background-color: rgb(0, 0, 110);
}
.bgBlue2
{
  background-color: rgb(0, 0, 169);
}
.bgBlue3
{
  background-color: rgb(0, 0, 255);
}
.bgBlue4
{
  background-color: rgb(40, 40, 255);
}
.bgBlue5
{
  background-color: rgb(77, 77, 255);
}
.bgBlue6
{
  background-color: rgb(133, 133, 250);
}
.bgPink1
{
  background-color: rgb(100, 0, 88);
}
.bgPink2
{
  background-color: rgb(154, 0, 136);
}
.bgPink3
{
  background-color: rgb(255, 0, 225);
}
.bgPink4
{
  background-color: rgb(237, 54, 253);
}
.bgPink5
{
  background-color: rgb(255, 112, 238);
}
.bgPink6
{
  background-color: rgb(250, 133, 236);
}
.bgBlack1
{
  background-color: black;
}
.bgBlack2
{
  background-color: rgb(54, 54, 54);
}
.bgBlack3
{
  background-color: rgb(148, 148, 148);
}
.bgBlack4
{
  background-color: rgb(192, 192, 192);
}
.bgBlack5
{
  background-color: rgb(255, 255, 255);
}
.bgBlack6
{
  background-color: rgba(0, 0, 0, 0);
}
.fontArial>textarea,
.fontArial>textarea::placeholder,
.fontArial
{
  font-family: Arial, Helvetica, sans-serif;
}
.fontCentury>textarea,
.fontCentury>textarea::placeholder,
.fontCentury
{
  font-family: 'Century Gothic';
}
.fontCourier>textarea,
.fontCourier>textarea::placeholder,
.fontCourier
{
  font-family: "Courier New";
}
.fontGothic>textarea,
.fontGothic>textarea::placeholder,
.fontGothic
{
  font-family: "Copperplate Gothic Light";
}
.fontGeorgia>textarea,
.fontGeorgia>textarea::placeholder,
.fontGeorgia
{
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.fontImpact>textarea,
.fontImpact>textarea::placeholder,
.fontImpact
{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.fontLucida>textarea,
.fontLucida>textarea::placeholder,
.fontLucida
{
  font-family: Lucida Console;
}
.fontLucidaSans>textarea,
.fontLucidaSans>textarea::placeholder,
.fontLucidaSans
{
  font-family: 'Lucida Sans Unicode';
}
.fontPalatino>textarea,
.fontPalatino>textarea::placeholder,
.fontPalatino
{
  font-family: 'Palatino Linotype';
}
.fontTahoma>textarea,
.fontTahoma>textarea::placeholder,
.fontTahoma
{
  font-family: Tahoma;
}
.fontRoman>textarea,
.fontRoman>textarea::placeholder,
.fontRoman
{
  font-family: 'Times New Roman';
}
.fontMS>textarea,
.fontMS>textarea::placeholder,
.fontMS
{
  font-family: 'Trebuchet MS';
}
.fontVerdana>textarea,
.fontVerdana>textarea::placeholder,
.fontVerdana
{
  font-family: Verdana;
}
.borderBgRed1>img
{
  border-color: rgb(113, 0, 0);
 
}
.borderBgRed2>img
{
  border-color: rgb(189, 0, 0);
}
.borderBgRed3>img
{
  border-color: rgb(255, 0, 0);
}
.borderBgRed4>img
{
  border-color: rgb(252, 29, 29);
}
.borderBgRed5>img
{
  border-color: rgb(253, 77, 77);
}
.borderBgRed6>img
{
  border-color: rgb(249, 136, 136);
}
.borderBgOrange1>img
{
  border-color: rgb(142, 92, 0);
}
.borderBgOrange2>img
{
  border-color: rgb(199, 129, 0);
}
.borderBgOrange3>img
{
  border-color: rgb(255, 166, 0);
}
.borderBgOrange4>img
{
  border-color: rgb(253, 180, 43);
}
.borderBgOrange5>img
{
  border-color: rgb(255, 190, 69);
}
.borderBgOrange6>img
{
  border-color: rgb(247, 198, 105);
}
.borderBgYellow1>img
{
  border-color: rgb(105, 105, 0);
}
.borderBgYellow2>img
{
  border-color: rgb(179, 179, 0);
}
.borderBgYellow3>img
{
  border-color: rgb(255, 255, 0);
}
.borderBgYellow4>img
{
  border-color: rgb(255, 255, 63);
}
.borderBgYellow5>img
{
  border-color: rgb(249, 249, 91);
}
.borderBgYellow6>img
{
  border-color: rgb(248, 248, 131);
}
.borderBgGreen1>img
{
  border-color: rgb(0, 65, 0);
}
.borderBgGreen2>img
{
  border-color: rgb(0, 131, 0);
}
.borderBgGreen3>img
{
  border-color: rgb(0, 255, 0);
}
.borderBgGreen4>img
{
  border-color: rgb(71, 249, 71);
}
.borderBgGreen5>img
{
  border-color: rgb(139, 255, 139);
}
.borderBgGreen6>img
{
  border-color: rgb(150, 255, 150);
}
.borderBgBlue1>img
{
  border-color: rgb(0, 0, 110);
}
.borderBgBlue2>img
{
  border-color: rgb(0, 0, 169);
}
.borderBgBlue3>img
{
  border-color: rgb(0, 0, 255);
}
.borderBgBlue4>img
{
  border-color: rgb(40, 40, 255);
}
.borderBgBlue5>img
{
  border-color: rgb(77, 77, 255);
}
.borderBgBlue6>img
{
  border-color: rgb(133, 133, 250);
}
.borderBgPink1>img
{
  border-color: rgb(100, 0, 88);
}
.borderBgPink2>img
{
  border-color: rgb(154, 0, 136);
}
.borderBgPink3>img
{
  border-color: rgb(255, 0, 225);
}
.borderBgPink4>img
{
  border-color: rgb(237, 54, 253);
}
.borderBgPink5>img
{
  border-color: rgb(255, 112, 238);
}
.borderBgPink6>img
{
  border-color: rgb(250, 133, 236);
}
.borderBgBlack1>img
{
  border-color: black;
}
.borderBgBlack2>img
{
  border-color: rgb(54, 54, 54);
}
.borderBgBlack3>img
{
  border-color: rgb(148, 148, 148);
}
.borderBgBlack4>img
{
  border-color: rgb(192, 192, 192);
}
.borderBgBlack5>img
{
  border-color: rgb(255, 255, 255);
}
.borderBgBlack6>img
{
  border-color: rgba(0, 0, 0, 0);
}