.overlay
{
    position: fixed;
    top:0;
    left:0;
    bottom: 0;
    right: 0;
    background-color: #32323252;
     backdrop-filter: blur(12px);
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container
{
    background-color: #014040;
    padding: 2rem 3rem 3rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border:.6rem solid #03A678;
    border-radius: 2.5rem;
    position: relative;
    width: 40rem;
}
.back
{
    position: absolute;
    top:2.2rem;
    left:1rem;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
}
.backSVG
{
     width: 100%;
    height: 100%;
    fill: rgb(108, 108, 108);
    transition:fill .3s ease
}

.backWhileLoading
{
    cursor: default;
}
.backWhileLoading>.backSVG
{
    fill: rgb(90, 90, 90) !important;
}
.header
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:.8rem;
    width: 100%;
    cursor: default;
}
.h1
{
    text-align: center;
    color: white;
    font-weight: 900;
    font-family: "Cause", cursive;
    font-size: 3rem;
}
.privateNoteButton
{
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
    padding: .5rem .8rem;
    border-radius: .8rem;
    background-color: #02735E;
    font-family: "Jost", sans-serif;
    cursor: default;
    margin-top: .5rem;
}
.code
{
    color: white;
    font-size: 1.5rem;
    font-weight: 900;
  font-family: "Cause", cursive;
}
.passwordContainer
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:1.8rem .8rem;
    width: 100%;
    margin-bottom: 1.3rem;
}
.checkbox
{
    width: 2rem;
    height: 2rem;
    border-radius: .7rem;
    border: .3rem solid rgb(105, 105, 105);
    cursor: pointer;
    transition: all .3s ease;
    background: rgb(64, 64, 64);
}
.checkboxChecked
{
    background: #02735E;
    border: .3rem solid #03A678;
}
.checkboxDescription
{
    font-size: 1.5rem;
    color: white;
    font-family: "Jost", sans-serif;
    cursor: pointer;
}
.passwordDisabled
{
    cursor: default;
    color: grey;
}
.eyeDisabled
{
    cursor: default;
}
.inputContainerDisabled
{
    border:.3rem solid rgb(103, 103, 103);
    cursor: default;
}
.inputContainer
{
    margin: 2rem;
}
.error
{
    width: 100%;
    color: #fc3333;
    font-weight: 700;
    font-family: "Jost", sans-serif;
    font-size: 1.5rem;
    text-align: center;
    cursor: default;
}
.edit
{
    width: 100%;
    font-size: 1.8rem;
    color: white;
    background: #02735E;
    border-radius: 1.2rem;
    font-weight: 900;
    border: .3rem solid #03A678;
    padding: .5rem .8rem .6rem .8rem;
    cursor: pointer;
    transition: background .3s ease, border .3s ease;
    z-index: 3;
    outline: none;
    margin-top: 1.3rem;
}

.btnLoading
{
    background-color: rgb(48, 48, 48) !important;
    border: .3rem solid rgb(48, 48, 48) !important;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
}
.privateNoteMargin
{
    margin-bottom: 1rem;
}
.error::selection,
.edit::selection,
.header::selection,
.privateNoteButton::selection,
.checkboxDescription::selection
{
    background: none;
}
@media (max-width:1200px)
{
    .container
    {
        width: 42rem;
    }
    .h1
    {
        font-size: 3.2rem;
    }
    .back
    {
        top:2.5rem;
        left:1.5rem;
    }
    .code
    {
        font-size: 1.7rem;
    }
    .privateNoteButton
    {
        font-size: 1.4rem;
    }
    .checkbox
    {
        width: 2.2rem;
        height: 2.2rem;
        border: .35rem solid rgb(105, 105, 105);
        border-radius: .8rem;
    }
    .checkboxDescription
    {
        font-size: 1.7rem;
    }
    .inputContainerDisabled
    {
         border:.35rem solid rgb(103, 103, 103);
    }
    .error
    {
        font-size: 1.7rem;
    }
    .checkboxChecked
    {
        border: .35rem solid #03A678;
    }
    .edit{
        font-size: 2rem;
        border: .35rem solid #03A678;
    }
}
@media (max-width:768px)
{
    .overlay
    {
        background-color: #3232328a;
    }
    .container
    {
        padding: 3rem 5rem 5rem 5rem;
        border:1rem solid #03A678;
        border-radius: 3.5rem;
        width: 70rem;
    }
    .back
    {
        top:3.5rem;
        left:2rem;
        width: 5rem;
        height: 5rem;
    }
    .header
    {
        gap:1.5rem;
    }
    .h1
    {
        font-size: 5rem;
    }
    .privateNoteButton
    {

        font-size: 2.7rem;
        padding: .8rem 1.5rem;
        border-radius: 1.5rem;
        margin-top: 1rem;
    }
    .code
    {
        font-size: 3.5rem;
        color: rgb(206, 206, 206);
    }
    .passwordContainer
    {
        gap:3.5rem 1.5rem;
        margin-bottom: 3rem;
    }
    .checkbox
    {
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 1.2rem;
        border: .6rem solid rgb(105, 105, 105);
    }
    .checkboxChecked
    {
        border: .6rem solid #03A678;
    }
    .checkboxDescription
    {
        font-size: 2.8rem;
    }
    .inputContainerDisabled
    {
        border:.7rem solid rgb(103, 103, 103);
    }
    .inputContainer
    {
        margin: 4rem;
    }
    .error
    {
        font-size: 3rem;
    }
    .edit
    {
        font-size: 3.5rem;
        border-radius: 2.5rem;
        border: .7rem solid #03A678;
        padding: 1rem .8rem 1.3rem .8rem;
        margin-top: 3rem;
    }

    .btnLoading
    {
        border: .7rem solid rgb(48, 48, 48) !important;
    }
    .privateNoteMargin
    {
        margin-bottom: 1rem;
    }
}
@media(max-width:450px)
{
 .overlay
    {
        background-color: #252525a9;
    }
    .container
    {
        padding: 3rem 3rem 5rem 3rem;
        border-radius: 5rem;
        width: 92vw;
    }
    .back
    {
        top:4.5rem;
        left:2.5rem;
        width: 5rem;
        height: 5rem;
    }
    .header
    {
        gap:2rem;
    }
    .h1
    {
        font-size: 6rem;
    }
    .privateNoteButton
    {
        font-size: 3.5rem;
        padding: .8rem 2rem;
        border-radius: 2rem;
        margin-top: 1rem;
    }
    .code
    {
        font-size: 4.5rem;
    }
    .passwordContainer
    {
        gap:4rem 1.5rem;
        margin-bottom: 3rem;
    }
    .checkbox
    {
        width: 4.5rem;
        height: 4.5rem;
        border-radius: 1.8rem;
        border: .7rem solid rgb(105, 105, 105);
    }
    .checkboxChecked
    {
        border: .8rem solid #03A678;
    }
    .checkboxDescription
    {
        font-size: 2.9rem;
        font-weight: 700;
    }
    .inputContainerDisabled
    {
        border:.9rem solid rgb(103, 103, 103);
    }
    .inputContainer
    {
        margin: 4rem;
    }
    .error
    {
        font-size: 4rem;
    }
    .edit
    {
        font-size: 4rem;
        border-radius: 3rem;
        border: 1rem solid #03A678;
        padding: 2rem .8rem 2.5rem .8rem;
        margin-top: 3rem;
    }
    .btnLoading
    {
        border: 1rem solid rgb(48, 48, 48) !important;
    }
    .privateNoteMargin
    {
        margin: 4.5rem 0 3rem 0
    }
}
@media (hover:hover) and (pointer:fine)
{
    .back:hover>.backSVG
    {
        fill: #cdcdcd;
    }
    .edit:hover
    {
        background: #F27405;
        border: .3rem solid #F27405;
    }
    @media (max-width:1200px)
    {
        .edit:hover
        {
            border: .35rem solid #F27405;
        }
    }
}