.container
{
    position: fixed;
    bottom: 2rem;
    left:50%;
    translate: -50% 0;
    height: 3.8rem;
    padding: .3rem .5rem;
    background-color: rgb(76, 76, 76);
    border-radius: 1rem;
    transform: translate(0,300%);
    transition: all .5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:.8rem;
    color: white;
}
.container::selection
{
    background:none;
}
.display
{
    transform: translate(0,0);
}
.menuItem
{
    width: 2.5rem;
    height: 2.5rem;
    background-color: rgb(117, 117, 117);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    cursor: pointer;
    transition: all .3s ease;
}
.boldItem
{
    font-size: 1.4rem;
    font-weight: 700;
}
.marked
{
    background-color: #2A2F27;

}
.fontSizeItem
{
    position: relative;
    font-size: 1.4rem;
    font-weight: 700;
}
.fontSizeMenu
{
    position: absolute;
    bottom: 3.3rem;
    left:0;
    right: 0;
    background-color: rgb(76, 76, 76);
    display: flex;
    flex-direction: column;
    border-radius: .5rem;
    color: white;
    overflow: hidden;
    list-style-type: none;
}
.option
{
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    cursor: pointer;
    padding: .2rem 0;
    font-size: 1.2rem;
}
.italic
{
    font-style: italic;
    font-size: 1.6rem;
    font-weight: 700;
}
.align
{
    position: relative;
}
.alignMenu
{
    position: absolute;
    bottom: 3.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(76, 76, 76);
    border-radius: .5rem;
    overflow: hidden;
    list-style-type: none;
}
.alignItem
{
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.selected
{
    background-color: rgb(146, 146, 146) !important;
    cursor: default;
}
.color
{
    position: relative;
    font-size: 1.7rem;
    font-weight: 700;
}
.colorContainer
{
    position: absolute;
    bottom: 3.3rem;
    left:-5.5rem;
    height: 2rem;
    background-color: rgb(76, 76, 76);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    overflow: hidden;
}
.colorItem
{
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 1.6rem;
}
.white
{
    color: white;
}
.black
{
    color: black;
}
.red
{
    color: red;
}
.green
{
    color: rgb(0, 218, 0);
}
.blue
{
    color: rgb(0, 55, 255);
}
.yellow
{
    color: yellow;
}
.orange
{
    color: rgb(255, 183, 0);
}
.bgColorItem
{
    position: relative;
}
.colorPreview
{
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    border: .25rem solid rgb(65, 65, 65);
}
.bgColorContainer
{
    position: absolute;
    bottom: 3.3rem;
    display:grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color: rgb(76, 76, 76);
    border-radius: .5rem;
    padding: .2rem;
}
.bgColorMenuItem
{
    width: 1.8rem;
    height: 1.8rem;
    border: .3rem solid rgb(76, 76, 76);
    border-radius: .5rem;
}
.transparentImg
{
    width: 100%;
    height: 100%;
    border-radius: .5rem;
}
.selectedBgColorItem
{
    border: .3rem solid rgb(217, 217, 217) !important;
}
.deleteItem
{
    border-radius: 50%;
}
.deleteSVG
{
    fill: rgb(255, 0, 0);
    width: 55%;
    height: 55%;
    margin-left: .1rem;
    transition: fill .3s ease;
}
.line
{
    width: .3rem;
    height: 80%;
    background-color: rgb(117, 117, 117);
    border-radius: 10px;
}
.fontFamilyItem
{
    width: 12rem;
    position: relative;
    padding: 0 .5rem;
}
.fontFamilyMenuContainer
{
    position: absolute;
    bottom: 3.4rem;
    left:0;
    background-color: rgb(76, 76, 76);
    right: 0;
    display: flex;
    flex-direction: column;
    border-radius: .5rem;
    color: white;
    overflow: hidden;
    list-style-type: none;
}
.fontFamilyHeader
{
    font-size: 1.1rem;
    font-weight: 700;
}
.fontFamilyMenuItem
{
    padding: .3rem 0;
    width: 100%;
    text-align: center;
    font-size: 1rem;
}
.fontFamilyIcon
{
    width: 90%;
    height: 90%;
    padding-bottom: .5rem;
    display: none;
}
@media (max-width:1200px) {
     .container
    {
        height: 4rem;
        border-radius: 1.2rem;
        padding: .5rem .8rem;
    }
    .menuItem
    {
        width: 2.7rem;
        height: 2.7rem;
        border-radius: 1.1rem;
    }
    .boldItem
    {
        font-size: 1.6rem;
    }
    .fontSizeItem
    {
        font-size: 1.6rem;
    }
    .fontSizeMenu
    {
        bottom: 3.6rem;
        border-radius: .6rem;
    }
    .option
    {
        padding: .3rem 0;
        font-size: 1.3rem;
    }
    .italic
    {
        font-size: 1.6rem;
    }
    .alignMenu
    {
        bottom: 3.6rem;
        border-radius: .6rem;
    }
    .colorContainer
    {
        bottom: 3.6rem;
        left:-6.2rem;
        height: 2.2rem;
        border-radius: .6rem;
    }
    .colorItem
    {
        width: 2.2rem;
        height: 2.2rem;
    }
    .colorPreview
    {
        width: 1.7rem;
        height: 1.7rem;
        border: .3rem solid rgb(65, 65, 65);
    }
    .bgColorContainer
    {
        bottom: 3.6rem;
        border-radius: .6rem;
        padding: .3rem;
    }
    .bgColorMenuItem
    {
        width: 2rem;
        height: 2rem;
        border-radius: .6rem;
    }
    .transparentImg
    {
        border-radius: .6rem;
    }
    .deleteSVG
    {
        width: 60%;
        height: 60%;
        margin-left: 0rem;
    }
    .fontFamilyItem
    {
        width: 14rem;
    }
    .fontFamilyMenuContainer
    {
        bottom: 3.6rem;
        border-radius: .6rem;
    }
    .fontFamilyHeader
    {
        font-size: 1.2rem;
    }
    .fontFamilyMenuItem
    {
        padding: .35rem 0;
    }
}
@media(max-width:768px)
{
    .container
    {
        height: 6rem;
        padding: .5rem 1rem;
        border-radius: 1.8rem;
        gap:1rem;
    }
    .menuItem
    {
        width: 4.5rem;
        height: 4.5rem;
        border-radius: 1.8rem;
    }
    .boldItem
    {
        font-size: 2.8rem;
    }
    .fontSizeItem
    {
        font-size: 2.8rem;
    }
    .fontSizeMenu
    {
        bottom: 6rem;
        border-radius: 1rem;
    }
    .option
    {
        padding: .4rem 0;
        font-size: 2.2rem;
    }
    .italic
    {
        font-size: 2.8rem;
    }
    .align
    {
        position: relative;
    }
    .alignMenu
    {
        bottom: 6rem;
        border-radius: 1rem;
    }
    .alignItem
    {
        width: 5rem;
        height: 5rem;
    }
    .color
    {
        font-size: 2.8rem;
    }
    .colorContainer
    {
        bottom: 6rem;
        left:-14rem;
        height: 4rem;
        border-radius: 1rem;
    }
    .colorItem
    {
        width: 4rem;
        height: 4rem;
        font-size: 2.8rem;
    }
    .colorPreview
    {
        width: 3rem;
        height: 3rem;
        border: .4rem solid rgb(65, 65, 65);
    }
    .bgColorContainer
    {
        bottom: 6rem;
        border-radius: 1.2rem;
        padding: .8rem;
    }
    .bgColorMenuItem
    {
        width: 4rem;
        height: 4rem;
        border: .55rem solid rgb(76, 76, 76);
        border-radius: 1.2rem;
    }
    .selectedBgColorItem
    {
        border: .6rem solid rgb(217, 217, 217) !important;
    }
    .deleteSVG
    {
        width: 60%;
        height: 60%;
    }
    .line
    {
        width: .5rem;
        height: 80%;
    }
    .fontFamilyItem
    {
        width: 25rem;
    }
    .fontFamilyMenuContainer
    {
        bottom: 6rem;
        border-radius: 1.2rem;
    }
    .fontFamilyHeader
    {
        font-size: 2.2rem;
    }
    .fontFamilyMenuItem
    {
        padding: .5rem 0;
        font-size: 2rem;
    }
}
@media(max-width:450px)
{
    .container
    {
        height: 10rem;
        padding: 1rem 2rem;
        border-radius: 3rem;
        z-index: 4;
    }
    .menuItem
    {
        width: 6.5rem;
        height: 6.5rem;
        border-radius: 2.5rem;
    }
    .boldItem
    {
        font-size: 4rem;
    }
    .fontSizeItem
    {
        font-size: 3.5rem;
    }
    .fontSizeMenu
    {
        bottom: 9.5rem;
        border-radius: 1.5rem;
    }
    .option
    {
        padding: .6rem 0;
        font-size: 3rem;
    }
    .italic
    {
        font-size: 4rem;
    }
    .alignMenu
    {
        bottom: 9.5rem;
        border-radius: 1.5rem;
    }
    .alignItem
    {
        width: 8rem;
        height: 8rem;
    }
    .color
    {
        font-size: 4rem;
    }
    .colorContainer
    {
        bottom: 9.5rem;
        left:-29rem;
        height: 6rem;
        border-radius: 1.5rem;
    }
    .colorItem
    {
        width: 6rem;
        height:6rem;
        font-size: 4rem;
    }
    .colorPreview
    {
        width: 4.8rem;
        height: 4.8rem;
        border: .6rem solid rgb(65, 65, 65);
    }
    .imageCenter
    {
        left: 2rem;
    }
    .centerBgColorContainer
    {
        left:-35rem;
    }
    .bgColorContainer
    {
        bottom: 9.5rem;
        border-radius: 2rem;
        padding: 1rem;
    }
    .bgColorMenuItem
    {
        width: 6rem;
        height: 6rem;
        border: .8rem solid rgb(76, 76, 76);
        border-radius: 1.8rem;
    }
    .selectedBgColorItem
    {
        border: .8rem solid rgb(217, 217, 217) !important;
    }
    .line
    {
        width: .8rem;
        height: 65%;
    }
    .fontFamilyItem
    {
        width: 6.5rem;
    }
    .fontFamilyMenuContainer
    {
        bottom: 9.5rem;
        border-radius: 1.5rem;
        left:0;
        right: -20rem;
    }
    .fontFamilyMenuItem
    {
        padding: .8rem 0;
        font-size: 2.4rem;
    }
    .fontFamilyIcon
    {
        display: block;
    }
}
@media(hover: hover) and (pointer: fine)
{
    .fontFamilyMenuItem:hover
    {
        background-color: rgb(117, 117, 117);
    }
    .bgColorMenuItem:hover
    {
        border: .3rem solid rgb(117, 117, 117);
    }
    .colorItem:hover
    {
        background-color: rgb(117, 117, 117);
    }
    .alignItem:hover
    {
        background-color: rgb(117, 117, 117);
    }
    .option:hover
    {
        background-color: rgb(117, 117, 117);
    }
    .marked:hover
    {
        background-color: #2A2F27;
    }
    .menuItem:hover
    {
        background-color: rgb(146, 146, 146);
    }
}