.nav
{
    height: 32vh;
    position: absolute;
    left:0;
    right: 0;
    top:0;
    padding: .8rem 0;
    transition: all .5s ease;
}
.nav::selection
{
    background:none;
}
.navWhileMenuIsDisplaying
{
    height: 16vh;
    /* background-color: red; */
}
.logo
{
    position: absolute;
    top:50%;
    left:50%;
    translate: -50% 0;
    width: 35rem;
    background-color: rgba(0, 0, 0, 0.453);
    border-radius: 5rem;
    padding: 0 2rem;
    box-shadow: 0 0 2rem 2rem rgba(0, 0, 0, 0.453);
    transition: all .3s ease;
}
.logoWhileMenuIsDisplaying
{
    width: 15rem;
    left:2rem;
    top:1.2rem;
    translate: 0% 0%;
    padding: 0;
}
.loginMenu
{
    position: absolute;
    top:1.2rem;
    right: 1.2rem;
    display: flex;
    background-color: rgba(31, 31, 31, 0.744);
    box-shadow: 0 0 1.5rem 1.2rem rgba(31, 31, 31, 0.744);
    border-radius: 1rem;
    gap:.6rem;
    align-items: center;
    z-index: 3;
}
.line
{
    width: .3rem;
    background-color: rgb(79, 79, 79);
    border-radius: 10px;
    height: 2.2rem;
}
.loginMenuBtn
{
    font-size: 1.3rem;
    font-weight: 900;
    background: none;
    border: 0;
    outline: none;
    cursor: pointer;
    color: rgb(182, 182, 182);
    padding: .4rem .7rem;
    border-radius: 1rem;
    transition: all .3s ease;
    font-family: "Cause", cursive;
    padding-bottom: .6rem;
}
.loginBtn
{
    border:.3rem solid #02735E;
    background: #014040;
}
.registerBtn
{
    border:.3rem solid #02735E;
    background: #1c1f1a94;
}
.registerBtn:hover,
.loginBtn:hover
{
    color: white;
    background: #02735E;
}
.loginLoading
{
    width: 2rem;
    height: 2rem;
}
@media (max-width:1200px) {
    .logo
    {
        width: 42rem;
    }
    .loginMenu
    {
        gap:.8rem;
    }
    .line
    {
        width: .4rem;
        height: 2.5rem;
    }
    .loginMenuBtn
    {
         font-size: 1.5rem;
    }
    .loginBtn
    {
        border:.35rem solid #02735E;
    }
    .registerBtn
    {
        border:.35rem solid #02735E;
    }
    .logoWhileMenuIsDisplaying
    {
        width: 16rem;
    }
}